<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Transport test Suite">

    <listeners>
        <listener class-name="org.wso2.transport.http.netty.util.TestNGListener" />
    </listeners>

    <test name="Transport test">
        <classes>
            <class name="org.wso2.transport.http.netty.passthrough.PassThroughHttpTestCase" />
            <class name="org.wso2.transport.http.netty.passthrough.PassThroughHttpsTestCase"/>
            <class name="org.wso2.transport.http.netty.contentaware.ContentAwareMessageProcessorTestCase" />

            <class name="org.wso2.transport.http.netty.https.HTTPSClientTestCase" />
            <class name="org.wso2.transport.http.netty.https.SSLProtocolsTest" />
            <class name="org.wso2.transport.http.netty.https.MutualSSLTestCase" />
            <class name="org.wso2.transport.http.netty.https.CipherSuitesTest" />

            <class name="org.wso2.transport.http.netty.pkcs.PKCSTest" />

            <class name="org.wso2.transport.http.netty.certificatevalidation.RevocationVerificationTest" />
            <class name="org.wso2.transport.http.netty.certificatevalidation.CRLVerifierTest" />
            <class name="org.wso2.transport.http.netty.certificatevalidation.OCSPVerifierTest" />

            <class name="org.wso2.transport.http.netty.proxyserver.ProxyServerTestCase" />

            <class name="org.wso2.transport.http.netty.hostnameverfication.HostnameVerificationTest" />
            <class name="org.wso2.transport.http.netty.redirect.HttpClientRedirectTestCase" />

            <class name="org.wso2.transport.http.netty.ClientConnectorTimeoutTestCase" />
            <class name="org.wso2.transport.http.netty.ClientConnectorConnectionRefusedTestCase" />
            <class name="org.wso2.transport.http.netty.ClientConnectorClosureAfterRequestReadTestCase" />

            <class name="org.wso2.transport.http.netty.chunkdisable.ChunkAutoServerTestCase" />
            <class name="org.wso2.transport.http.netty.chunkdisable.ChunkEnableServerTestCase" />
            <class name="org.wso2.transport.http.netty.chunkdisable.ChunkDisableServerTestCase" />
            <class name="org.wso2.transport.http.netty.chunkdisable.ChunkAutoClientTestCase" />
            <class name="org.wso2.transport.http.netty.chunkdisable.ChunkEnableClientTestCase" />
            <class name="org.wso2.transport.http.netty.chunkdisable.ChunkDisableClientTestCase" />

            <class name="org.wso2.transport.http.netty.headers.DateHeaderTestCase" />

            <class name="org.wso2.transport.http.netty.unitfunction.CommonUtilTestCase" />
            <class name="org.wso2.transport.http.netty.unitfunction.HttpCarbonMessageTestCase" />
            <class name="org.wso2.transport.http.netty.unitfunction.ForwardedTestCase" />

            <class name="org.wso2.transport.http.netty.http2.Http2ClientConnectorBasicTestCase" />
            <class name="org.wso2.transport.http.netty.http2.Http2ServerConnectorBasicTestCase" />
            <class name="org.wso2.transport.http.netty.http2.Http2ServerPushTestCase" />
            <class name="org.wso2.transport.http.netty.http2.Http2ClientTimeoutTestCase" />
            <class name="org.wso2.transport.http.netty.http2.Http2WithPriorKnowledgeTestCase" />
            <class name="org.wso2.transport.http.netty.http2.TestHttp2WithALPN" />
            <class name="org.wso2.transport.http.netty.ocspstapling.OCSPStaplingTest" />
            <class name="org.wso2.transport.http.netty.encoding.ContentEncodingTestCase"/>
            <class name="org.wso2.transport.http.netty.urilengthvalidation.Status414And413ResponseTest"/>
            <class name="org.wso2.transport.http.netty.http1point0test.HttpOnePointZeroServerConnectorTestCase"/>
            <class name="org.wso2.transport.http.netty.http1point0test.KeepAliveHttpOnePointZeroClientTestCase"/>
            <class name="org.wso2.transport.http.netty.http1point0test.ChunkAutoHttpOnePointZeroClientTestCase"/>
            <class name="org.wso2.transport.http.netty.http1point0test.ChunkAlwaysHttpOnePointZeroClientTestCase"/>

            <class name="org.wso2.transport.http.netty.compression.ServerRespCompressionTestCase"/>
            <class name="org.wso2.transport.http.netty.compression.ClientRespDecompressionTestCase"/>

            <class name="org.wso2.transport.http.netty.websocket.WebSocketServerTestCase"/>
            <class name="org.wso2.transport.http.netty.websocket.WebSocketClientTestCase"/>
            <!--<class name="org.wso2.transport.http.netty.websocket.WebSocketPassThroughTestCase"/>-->
            <class name="org.wso2.transport.http.netty.websocket.WebSocketMessagePropertiesTestCase"/>
            <class name="org.wso2.transport.http.netty.websocket.HttpToWebSocketProtocolSwitchTestCase"/>
            <class name="org.wso2.transport.http.netty.websocket.HttpToWebSocketProtocolSwitchMultiThreadTestCase"/>

            <class name="org.wso2.transport.http.netty.connectionpool.ConnectionPoolProxyTestCase" />
            <class name="org.wso2.transport.http.netty.connectionpool.ConnectionPoolEvictionTestCase" />
            <class name="org.wso2.transport.http.netty.connectionpool.ConnectionPoolMaxConnTestCase" />
            <class name="org.wso2.transport.http.netty.connectionpool.ConnectionPoolTimeoutProxyTestCase" />
            <class name="org.wso2.transport.http.netty.connectionpool.ConnectionPoolMainTestCase" />
            <class name="org.wso2.transport.http.netty.connectionpool.ConnectionPoolWaitingTimeoutTestCase" />

            <class name="org.wso2.transport.http.netty.forwardedextension.ForwardedEnableTestCase" />
            <class name="org.wso2.transport.http.netty.forwardedextension.ForwardedTransitionTestCase" />
            <class name="org.wso2.transport.http.netty.forwardedextension.ForwardedDisableTestCase" />
        </classes>
    </test>
</suite>
