/** contains css for file save dialog **/

.btn-file-dialog{
    background:#2C2C2C;
    color: #ffffff;
    text-transform: capitalize;
}

.btn-file-dialog:hover {
    background-color: #F57E30;
    border-color: #F57E30;
    color: #fff;
}

.file-dialog-form-control{
    width: 100%;
    background-color: #2C2C2C;
    border-style: none;
    height: 35px;
    padding-left: 10px;
}

.file-dialog-form-scrollable-block{
    padding: 20px 20px;
    overflow: auto;
    height:200px;
    width: 90%;
    background-color: #2C2C2C;
    margin-left: 30px;
}

.file-dialog-form-btn{
    float: right;
    margin-right: 43px;
}

hr.style1 {
    border-top: 1px solid #2C2C2C;
    width: 92%;
    margin-left: 20px;
    padding: 5px;
}

.file-dialog{
    width: 745px;
}

.file-dialog-title{
    margin-bottom: 15px;
    margin-left: 20px
}

.file-dialog-label{
    margin-top: 8px;
    margin-left: 20px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

