.menu-group{
    display: inline-block;
    color: #999;
    padding: 3px 8px;
    min-height: 50px;
    position: relative;
}

.menu-list{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-bar{
    height: 27px;
}

.dropdown-menu{
    font-size: 14px;
}

.dropdown-menu > .menu-item-enabled {
    color: #959595;
    cursor: pointer;
}

.dropdown-menu > .menu-item-enabled > a{
    color: #959595;
}

#menu-bar-container > div.menu-group > ul > li{
    min-width: 200px;
}

.shortcut-label {
    margin-left: 30px;
}

.menu-item-disabled > a > .shortcut-label {
    color: #333;
}