.closeTab{
    margin-left: 5px;
    margin-bottom: 5px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    text-shadow: 0 0 0;
    font-weight: 100;
    opacity: 0.5;
    font-size: 17px;
    color: #fff;
}

li.active > a > button {
    color: #272c30;
    opacity: 0.5;
    font-weight: normal;
    font-size: 17px;
}

.bottom-right-controls-container {
    position: absolute;
    bottom: 150px;
    right: 25px;
}

.top-right-controls-container {
    position: absolute;
    top: 15px;
    right: 25px;
}


.toggle-to-design {
    width: 30px;
    height: 30px;
}

.tab-pane{
}


.grid-background{
    background:
    linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
    linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
    linear-gradient(-90deg, transparent 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
    linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size:
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px;
}



.toggle-to-source {
    width: 30px;
    height: 30px;
}
.preview-container{
    display: none;
}
.source-view-enabled {
    display: block;
    width: 100%;
    height:100%;
}

.source-view-disabled {
    display: none;
}

.show-div {
    display: block;
}

.hide-div {
    display: none;
}

.tab-headers {
    background-color: #333;
}

.navbar-default .navbar-nav > li a:hover {
    background: #8d8d8d;
}

.navbar-default .navbar-nav > li a:active {
    background: #8d8d8d;
}

.navbar-default .navbar-nav > li a:focus {
    background: #8d8d8d;
}

.nav-tabs-bar > li > a {
     border-radius: 0;
     border: none;
     margin: 0;
 }

.nav-tabs > li > a {
    border-radius: 0;
    border: none;
    margin: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
}


.nav-tabs-bar > li {
    background-color: #333333;
    width: 120px;
    color: white;
    font-weight: 100;
}

.nav-tabs {
    border: 0;
}

.canvas-container{
    background: none;
}

.nav-tabs-bar > li > a {
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0 5px 0 6px;
}

.nav-tabs-bar > li.active.inverse > a > button {
    color: #959595;
}

.nav-tabs-bar > li.active.inverse > a {
    color: #959595;
    background: #1D1F21;
}

.nav-tabs-bar > li.active.inverse {
    border: none;
}

.nav-tabs-bar >li>a:focus, .nav-tabs-bar >li>a:hover {
    text-decoration: none;
    background-color: #505050;
}
/*
.tab-content.tab-content-default {
    border: 2px solid #c7c7c7;
 }*/


/** Resource level tabs related styles | -> End **/
/*//////////////////////////////////////////////////*/