.btn-add {
    color:#446191;
}
.btn-remove {
    color:#738ebc;
}
.selector {
    margin: auto;
    padding: 10px;
}
.source-view {
    width: 50%;
    float: left;
}
.target-view {
    margin-left: 70%;
}

.data-mapper-container {
    position: relative;
    border: 1px solid #aaaaaa;
    width: 100%;
    height: 100px;
}
.property-name {
    padding: 5px;
    color: #446191;
}

.property-type {
    padding: 5px;
    color: #738ebc;
}

.struct-name {
    padding: 10px;
}
.struct {
    cursor: move;
    border: 1px solid gray;
    width: 200px;
    height: auto;
    background: #446191;
    color: #ffffff;
    position: absolute;
}
.property {
    padding: 5;
    font-size: 16px;
    border: 1px solid #D8D8D8;
    background-color: #ffffff;
    cursor: pointer;
}

svg.plumbConnect path {
    stroke:#414e66;
}
