.workspace-explorer-activate-btn{
    color: white;
    margin: 11px;
    opacity: 0.4;
}

.workspace-explorer-activate-btn:hover{
    opacity: 1;
    cursor: pointer;
}

.workspace-explorer-container{
    width: 120px;
    color: white;
}

.tree-highlight{
    background-color: #373737;
    position: absolute;
    width: 100%;
}

.workspace-explorer-separator{

}