{{#apiPackage}}package {{apiPackage}};

import {{apiPackage}}.model;{{/apiPackage}}
import ballerina.net.http;
import ballerina.net.http.swagger;

{{#servers}}endpoint<http:Service> ep{{@index}} {
    host: "{{host}}",
    port: {{port}}
}
{{/servers}}
@swagger:serviceInfo { {{#info}}
    title: "{{title}}",
    description: "{{description}}",
    serviceVersion: "{{version}}",
    termsOfService: "{{termsOfService}}",
    contact: {name: "{{contact.name}}", email: "{{contact.email}}", url: "{{contact.url}}"},
    license: {name: "{{license.name}}", url: "{{license.url}}"},{{/info}}
    tags: [{{#tags}}
        {name: "{{name}}", description: "{{description}}", externalDocs: {{>doc}} }{{#unless @last}},{{/unless}}{{/tags}}
    ],
    externalDocs: {{>doc}},
    security: [{{#security}}
        {{>security}}{{/security}}
    ]
}
@http:serviceConfig {
    basePath: "{{servers.0.basePath}}",{{!-- {{only one base path is allowed for all endpoints}} --}}
    endpoints: [{{#servers}}ep{{@index}}{{#unless @last}}, {{/unless}}{{/servers}}]
}
service<http:Service> {{cut info.title " "}} {
{{#paths}}{{#value}}{{#get}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["GET"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/get}}{{#post}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["POST"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/post}}{{#put}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["PUT"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/put}}{{#delete}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["DELETE"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/delete}}{{#options}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["OPTIONS"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/options}}{{#head}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["HEAD"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/head}}{{#patch}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["PATCH"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/patch}}{{#trace}}
    @swagger:resourceInfo {
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}],
        summary: "{{summary}}",
        description: "{{description}}",
        externalDocs: {{>doc}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]
    }
    @http:resourceConfig {
        methods:["TRACE"],
        path:"{{key}}"
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    resource {{operationId}} (http:ServerConnector conn, http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) {
        //stub code - fill as necessary
        http:Response resp = {};
        string payload = "Sample {{operationId}} Response";
        resp.setStringPayload(payload);
        _ = conn -> respond(resp);
    }
{{/trace}}{{/value}}{{/paths}}
}
