#container {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   background-color: #1e1e1e;
}

.shapes-container{
   position: absolute;
   top: 0;
   left: 0;
   width: 274px;
   height: calc(100vh);
   background-color: #232323;
   overflow: hidden;
}

.property-container{
    position: absolute;
    top: 0;
    width: 240px;
    bottom: 0%;
    right: 0%;
    height: calc(100vh);
    background-color: #232323;
    color: white;
}

#propertyPane input{
    border: 1px solid #8d8d8d;
    background-color: #232323;
    color: #8d8d8d;
    border-radius: 0;
    box-shadow:none;
}

#propertyPane select{
    border: 1px solid #8d8d8d;
    color: #8d8d8d;
    background-color: #232323;
    border-radius: 0;
    box-shadow:none;
}

#propertyPane label{
    font-weight: normal;
}

#propertyPane > div > div.well.well-sm{
    border-radius:0;
    border: none;
    background: none;
}

.logo{
   height: 25px;
   margin: 15px;
   float: right;
}
.header{
   position: absolute;
   top:0;
   left: 0;
   width: 100vw;
   overflow: hidden;
   height: 50px;
   background-color: #292929;
}

.editor-container{
   position: absolute;
   top: 0;
   left: 274px;
   bottom: 0%;
   right: 0%;
   margin-left: 0px;
   height: 100%;
   width: calc(100vw - 274px);
   background-color: #fff;
   overflow: hidden;
}

.editor-scroller{
   width: 100%;
   height: 100%;
   position: relative;
   overflow: hidden;
   cursor: move;
   box-sizing: border-box;
}

svg text::selection { background: none; }

.editor {
   width: 100%;
   height: 100%;
   margin: 0;
   position: relative;
   display: inline-block;

}

.editor > svg {
   display: block;
}

.ruled-paper{
   background-image:
   linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
   linear-gradient(#eee .1em, transparent .1em);
   background-size: 100% 1.2em;
}

.gradient-pattern {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=');
   background-color: white;
   box-shadow: 0 0 2px lightgray;
}

.cardboard{
   background-color: #ffffff;
   background-image: url("patterns/cardboard-flat.png");
}


.ui-draggable {
   z-index: 10000;
}

.mybs-container {

}

.mybs-row {
  margin-top: 4px;
}

.mybs-glypicon {
  bottom: 12px;
}

.panel-container {
   margin-bottom: 2px;
   margin-left: 4px;
   margin-right: 4px;
}


.lifeline_selected{
    background-color:#cc1;
    stroke-width:3;
    stroke:rgb(0,0,0);
}

.non-user-selectable{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.udcontrol-image {
   width: 20px;
   height: 20px;
}

.hidden-button {
  display: none;
  visibility: hidden;
}

.visible-button {
   display: block;
  visibility: visible;
}

textarea {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
   font-size: 10pt;
   background: #292929;
   padding-top: 20px;
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 100vh;
}

.glyphicon {
  top: inherit;
}
.panel-info {
    border: none;
}

.panel{
    border-radius: 0px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-info > .panel-heading {
  color: whitesmoke;
  background-color: #2A80B9;
}

.panel-title {
  font-size: 10pt;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #ddd;
}

iframe {
  border: none;
  width: 100%;
}

.nav-tabs {
 border:"#8d8d8d";
  background-color:"#232323";
}

.nav-tabs > li {
    height:35px;

}
.additionbtn {
    width:40px;
}
/*.nav-tabs > li > a {*/
/*-webkit-border-radius: 0;*/
/*-moz-border-radius: 0;*/
/*border-radius: 1px;*/
    /*!*background-color:"#232323";  *!*/
    /*padding-bottom:3px;*/
/*}*/

.monaco-editor {
  margin-top: 10px;
}

#propertyPane  button {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#propertyPane  h3 {
    font-size: 16px;
    padding-left: 6px;
}

#propertyPane > div {
    padding-left: 6px;
    padding-right: 4px;
}

.property-save {
    margin: 2px;
    opacity: 0.4;
}

.tab-divs{
    position: absolute;
    height: calc(100vw - 116px);
    width: calc(100vw - 274px);
    background-color: #fff;
    overflow: hidden;
}

.close-icon {
    cursor: pointer;
}

.circle-hide {
    display: none;
}