.service-container {
    width: 100%;
    min-height: 300px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=');
    background-color: white;
    box-shadow: 0 0 2px lightgray;
}

.panel-default > .panel-heading {
    margin-bottom: 0px;
}


.container-outer-div {
    border-radius: 0;
}

.outer-box{
    padding: 15px;
    border: 1px solid transparent;
}

.panel-title{
    border-style:solid;
    border-width:1px;
}

.panel-icon, .service-icon, .connector-icon, .function-icon{
    padding:10px;
    background-color:black;
}

.title-link {
    padding-left: 10px;
}

.right-icon-clickable{
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.panel-collapse .collapse{
    border-style:solid;
    border-width:1px;
}
