.service-container {
    width: 100%;
    background: none;
}

.panel-default > .panel-heading {
    margin-bottom: 0px;
}

.design-view-container{
    padding-left: 220px;
    padding-top: 60px;
    overflow-y: scroll;
    height: 85%;
}


.container-outer-div {
    border-radius: 0;
}

.outer-box{
    padding: 15px;
    border: 1px solid;
    border-top: none;
}

.panel-title{
    background:white;
    border-style:solid;
    border-width:1px;
    vertical-align: middle;
}

.panel-title > a{
   margin-left: 10px;
}

.panel-icon, .service-icon, .connector-icon, .function-icon{
    padding:10px;
    background-color:black;
}

.title-link {
    padding-left: 10px;
}

.right-icon-clickable{
    float: right;
    padding-right: 10px;
    padding-top: 8px;;
    cursor: pointer;
}

.panel-collapse .collapse{
    border-style:solid;
    border-width:1px;
}

.tab-pane .panel{
    background: none;
    width: 96%
}


.btn-icon{
    opacity: 0.5;
}
.btn-icon:hover{
    opacity: 1;
    cursor: pointer;
}

.source-container{
    display: none;
    height: 1000px;
}

.text-editor{
    height: 500px;
}

.view-source-btn{
    z-index: 1000;
}