#main-navbar{
    background-color: #232323;
    border-bottom: 2px solid #1e1e1e;
}
.navbar-default .navbar-nav > li a:hover {
    background: #8d8d8d;
}
.navbar-default .navbar-nav > li a:active {
    background: #8d8d8d;
}
.navbar-default .navbar-nav > li a:focus {
    background: #8d8d8d;
}
#designer-view-mode{
    background-color: #232323;
    color:white;
    border-bottom: 3px solid white;
}

.nav-tabs > li > a:hover {
    background: #8d8d8d;
    border:none;
}
.header{
    background-color: #232323;
}
body > header > div{
    background: #1e1e1e;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 * Validation messages
 */
.required {
    color: #e74c3c;
}

.required-error {
    background: #a94442;
    border: 1px solid #a94442;
    padding: 6px 12px;
    color: #fff;
}

/**
 * Theme overrides
 */
.breadcrumb li .fw-home {
    float: left;
    padding-top: 2px;
    margin-right: 5px;
}

/**
 * Auth menu
 */
.auth .hidden-xs {
    line-height: 38px;
}

.auth-xs {
    color: #fff;
}

.auth-xs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 28px;
    background-color: #2a80b9;
}

.auth-xs li {
    color: #ccc;
}

.auth-xs li a {
    display: block;
    color: #fff;
}

.auth-xs li a:hover {
    background-color: #499dd5;
}