body{
    background: #232323;
}

#right-container{
    background-color: #232323;
}

#main-navbar{
    background-color: #232323;
    border-top: solid #1e1e1e;
    border-bottom: solid #1e1e1e;
}

.header {
    background-color: #232323;
}

#editor-container{
    background-color: #fff;
}

.editor-scroller{
    cursor: move;
}

.circle-hide {
    display: none;
}

/*//////////////////////////////////////////////////*/
/** Editor canvas related styles | Start -> **/
svg text::selection { background: none; }

.non-user-selectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gradient-pattern {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=');
    background-color: white;
    box-shadow: 0 0 2px lightgray;
}
/** Editor canvas related styles | -> End **/
/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/** Resource level tabs related styles | Start -> **/
#tab-container{
    border-bottom-style: solid;
    border-bottom-color: #8d8d8d;
}
.navbar-default .navbar-nav > li a:hover {
    background: #8d8d8d;
}
.navbar-default .navbar-nav > li a:active {
    background: #8d8d8d;
}
.navbar-default .navbar-nav > li a:focus {
    background: #8d8d8d;
}

.nav-tabs > li, .nav-tabs > li > a {
    height:40px;
}

.nav-tabs > li > a{
    border-right: 1px solid #1e1e1e;
}

.nav-tabs > li > span {
    cursor:pointer;
    position:absolute;
    right: 0;
    top: 12px;
    color: #c0392b;
    font-size: 0.60em;
}

.nav-tabs > li > a {
    padding-right: 32px;
    margin: 0;
    font-size: 1.2em;
    border-radius: 0;
}

.nav-tabs > li  {
    color: #7e7e7e;
    background-color: #323335;
}

.nav-tabs{
    border: 0;
}

.additionbtn {
    width:40px;
}

.tab-divs{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: 1px solid #8d8d8d;
    background-color: #373737;
    color: white;
}

.remove-resource {
    position: absolute;
    top: 14px;
    right: 9px;
}

.close-icon {
    cursor: pointer;
}
/** Resource level tabs related styles | -> End **/
/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/** File Explorer related styles |Start -> **/
#tree-container {
    background-color: #272727;
    border: solid #373737;
}

#tree-action-bar{
    background-color: #373737;
    color: #ededed;
    border-bottom:solid #1e1e1e;
}

.tree-view {
    color: #7e7e7e;
    font-size: 1.2em;
}

.tree-view li > .icon:before {
    color: #272727;
}

.tree-view li > .icon {
    background: #fdfdfd;

}
.tree-action{
    float: right;
}

i.tree-action{
    padding: 15px 8px;
}
span.tree-action{
    padding: 4px;
}

.tree-view input{
    height: 32px;
    color: black;
}
/** File Explorer related styles | -> End **/
/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/** Breadcrumbs related styles | Start -> **/
.breadcrumb{
    text-transform: none;
    font-size: 1.3em;
    background-color: #232323;
    border-bottom: 2px solid #1e1e1e;
}
/** Breadcrumbs related styles | -> End**/
/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/** Property Pane related styles | Start -> **/
.property-container{
    position: absolute;
    background-color: #232323;
    color: white;
}

#propertyPane > div > div.well.well-sm{
    border-radius:0;
    background: none;
}

#propertyPane select{
    border: solid #8d8d8d;
    color: #8d8d8d;
    background-color: #232323;
    border-radius: 0;
    box-shadow:none;
}

#propertyPane label{
    font-weight: normal;
}

#propertyPane input{
    border:solid #8d8d8d;
    background-color: #232323;
    color: #8d8d8d;
    border-radius: 0;
    box-shadow:none;
}

#propertyPane  h3 {
    font-size: 16px;
    padding-left: 6px;
}

#propertyPane > div {
    padding-left: 6px;
    padding-right: 4px;
}

.property-save {
    margin: 2px;
    opacity: 0.4;
}
/** Property Pane related styles | -> End **/
/*//////////////////////////////////////////////////*/