body {
    background: #232323;
}

#alerts-container {
    display: none
}

#right-container {
    background-color: #232323;
}

#main-navbar {
    background-color: #232323;
    border-top: solid #1e1e1e;
    border-bottom: solid #1e1e1e;
}

.header {
    background-color: #1e1e1e;
    min-height: 27px;
}

#editor-container {
    background-color: #fff;
}

.editor-scroller {
    cursor: move;
}

.circle-hide {
    display: none;
}

.option-menu-hide {
    display: none;
}

/*//////////////////////////////////////////////////*/
/** Editor canvas related styles | Start -> **/
svg text::selection {
    background: none;
}

.non-user-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvas-container {
    width: 100%;
}

/** Editor canvas related styles | -> End **/
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/
/** File Explorer related styles |Start -> **/
#tree-container {
    background-color: #272727;
    border: solid #373737;
}

#tree-action-bar {
    background-color: #373737;
    color: #ededed;
    border-bottom: solid #1e1e1e;
}

.tree-view {
    color: #7e7e7e;
    font-size: 1.2em;
}

.tree-view li > .icon:before {
    color: #272727;
}

.tree-view li > .icon {
    background: #fdfdfd;

}

.tree-action {
    float: right;
}

i.tree-action {
    padding: 15px 8px;
}

span.tree-action {
    padding: 4px;
}

.tree-view input {
    height: 32px;
    color: black;
}

/** File Explorer related styles | -> End **/
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/
/** Breadcrumbs related styles | Start -> **/

header .brand img.logo {
    height: 15px;
    padding: 0px 10px;
}

header .brand {
    padding: 5px;
}

header .brand h1 {
    font-size: 15px;
}

ol#breadcrumbList {
    background-color: #444;
}

/** Menu Bar **/
.dropdown-menu{
    background: #1e1e1e;
    top: 50%;
    font-size: 11px;
}


    /** Breadcrumbs related styles | -> End**/
/*//////////////////////////////////////////////////*/
.settings-icon {
    padding-top: 5px;
}

.source-icon {
    padding-top: 5px;
}

.file-browser-container {
    padding: 15px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

header .brand img.logo {
    height: 17px;
    padding: 0px 7px;
}

header .brand {
    padding: 1px 10px;
}

header .brand h1 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    color: #d6d6d6;
}

ol#breadcrumbList {
    background-color: #444;
}

#icon-toggle-source {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#icon-toggle-design {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.statement-rect {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1;
}

.statement-text {
    text-anchor: middle;
    dominant-baseline: central;
}
/*//////////////////////////////////////////////////*/
/** Service container related styles | Start -> **/

.service-annotation-button {
    float: right;
    position: relative;
}

.service-variable-button {
    float: right;
    position: relative;
    display:block;
}

.service-variable-typebutton {

    float: right;
}

.service-variable-pane {
    background-color: #f3f3f3;
    padding: 7px 7px 0 7px;
    height: 38px;
    position: absolute;
    top: 25px;
    right: 55px;
    display: none;
    margin: auto;
}

.service-variable-pane input {
    padding-left: 5px;
    height: 25px;
    /*margin-right: 5px;*/
}

.service-variable-pane select {
    height: 25px;
    margin-right: 5px;
}

.service-variable-pane form {
    width: 326px;
}

.service-variable-pane input {
    padding-left: 5px;
    height: 25px;
    /*margin-right: 5px;*/
}

.service-variable-pane form > input {
    margin-right: 5px;
}

.resource-variable-pane {
    background-color: #f3f3f3;
    padding: 7px 7px 0 7px;
    height: 38px;
    position: absolute;
    /*top: 125px;*/
    /*right: 740px;*/
    display: none;
    margin: auto;
}

.resource-variable-pane input {
    padding-left: 5px;
    height: 25px;
    /*margin-right: 5px;*/
}

.resource-variable-pane select {
    height: 25px;
    margin-right: 5px;
}

.resource-variable-pane form {
    width: 326px;
}

.resource-variable-pane input {
    padding-left: 5px;
    height: 25px;
    /*margin-right: 5px;*/
}

.resource-variable-pane form > input {
    margin-right: 5px;
}

button.variable-list {
    font-size: small;
    margin-right: 2px;
    height: 20px;
}

label.variable-type-message {
    color: white;
    background-color: mediumseagreen;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-message {
    border-style: solid;
    border-color: mediumseagreen;
    height: 20px;
}

label.variable-type-connection {
    color: white;
    background-color: orange;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-connection {
    border-style: solid;
    border-color: orange;
    height: 20px;
}

label.variable-type-string {
    color: white;
    background-color: purple;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-string {
    border-style: solid;
    border-color: purple;
    height: 20px;
}

label.variable-type-int {
    color: white;
    background-color: darkslateblue;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-int {
    border-style: solid;
    border-color: darkslateblue;
    height: 20px;
}

label.variable-type-exception {
    color: white;
    background-color: darkred;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-exception {
    border-style: solid;
    border-color: darkred;
    height: 20px;
}

label.variable-type-boolean {
    color: white;
    background-color: darkred;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-boolean {
    border-style: solid;
    border-color: darkred;
    height: 20px;
}

label.variable-type-double {
    color: white;
    background-color: #063B49;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-double {
    border-style: solid;
    border-color: #063B49;
    height: 20px;
}

label.variable-type-float {
    color: white;
    background-color: #009CCC;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-float {
    border-style: solid;
    border-color: #009CCC;
    height: 20px;
}

label.variable-type-long {
    color: white;
    background-color: #4864aa;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-long {
    border-style: solid;
    border-color: #4864aa;
    height: 20px;
}

label.variable-type-json {
    color: white;
    background-color: #004d52;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-json {
    border-style: solid;
    border-color: #004d52;
    height: 20px;
}

label.variable-type-xml {
    color: white;
    background-color: #232323;
    padding: 0 4px 4px 4px;
    height: 20px;
}

input.variable-type-xml {
    border-style: solid;
    border-color: #232323;
    height: 20px;
}

.property-panel-svg {
     width: 100%;
     min-height: 500px;
     background: none;
}

.property-pane-action-button-wrapper {
    stroke: #000000;
    stroke-width: 0.5;
    fill: #FFFFFF;
}

.property-pane-form-wrapper {
    width: 175px;
    max-height: 250px;
    border: 1px solid #cdcdcd;
    border-top: 2px solid #7b7b7b;
    background: #FFFFFF;
    position: absolute;
}

.property-pane-form-heading {
    height: 20px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 23px;
}

.property-pane-form-heading-icon{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.property-pane-form-heading-text {
    padding-left: 7px;
}

.property-pane-form-heading-close-icon {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.3;
    cursor: pointer;
}

.property-pane-form-heading-close-icon:hover {
    opacity: 1;
}

.property-pane-form-body {
}

.property-pane-form-body-property-wrapper {
    padding: 7px 7px 2px 7px;
}

.property-pane-form-body-property-wrapper input{
    width: 100%;
}

.property-pane-form-body-add-button {
    width: 100%;
}

.service-annotation-wrapper {
    position: absolute;
}

.service-annotation-header-wrapper {
    margin: 3px 10px 0 10px;
}

.service-annotation-header-wrapper input[type=text] {
    height: 25px;
    margin-top: 2px;
    border: 1px solid #ccc;
    width: 50%;
    margin-left: 10px;
    padding-left: 5px;
}

.service-annotation-header-wrapper span {
    margin-left: 10px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    margin-top: 2px;
}

.controls-container-action-wrapper {

}

.top-right-controls-container-editor-pane {
    display: none;
}

.controls-container-font-action {
    font-size: 15px;
    line-height: 1.6;
}

.package-btn {
    position: absolute;
    right: 0;
    top: 3px;
    z-index:30;
}

.main-action-wrapper {
    position: absolute;
    right: 17px;
    width: 400px;
    overflow: hidden;
    z-index: 20;
    top: 0px;
}

.action-icon-wrapper {
    position: absolute;
    top: 8px;
    right: 28px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    font-size: 9px;
    cursor: pointer;
    opacity: 0.4;
}

.action-icon-wrapper:hover {
    opacity: 1;
}

.action-content-wrapper {
    background-color: #eaeaea;
    border: 1px solid #f0f0f0;
}

.action-content-wrapper-body {
    background-color: white;
    padding:10px;
}

.action-content-wrapper-heading{
    height: 37px;
    padding-left: 10px;
    padding-top: 6px;
}

.action-content-wrapper-heading input[type=text] {
    padding-left: 7px;
    margin-left: 2px;
    width: 276px;
    border: 1px solid #ccc;
}

.package-name-wrapper span {
    font-weight: bold;
}

.package-name-wrapper input[type=text] {
    padding-left: 7px;
    margin-left: 2px;
    width: 290px;
    border: 1px solid #ccc;
}

.package-name-wrapper i {
    float: right;
    cursor: pointer;
    padding-top: 7px;
    color: #999;
    font-size: 9px;
    padding-right: 3px;
}

.imports-wrapper {
    padding-top: 10px;
    max-height: 330px;
    overflow-y: auto;
}

.imports-wrapper div {
    padding: 4px;
}

.imports-wrapper div:hover {
    background-color: #f5f5f5;
    color: #111;
}

.imports-wrapper div span {
    font-style: italic;
    cursor: default;
    color: #a7a7a7;
}

.imports-wrapper i {
    float: right;
    cursor: pointer;
    padding-top: 7px;
    color: #999;
    font-size: 9px;
    padding-right: 3px;
}

.import-wrapper-heading input[type=text] {
    width: 276px;
}

.service-annotation-wrapper-heading input[type=text]{
    width: 200px;
    margin-left: 5px;
}

.action-content-dropdown-wrapper {
    float: left;
    width: 125px;
}

.action-content-dropdown-wrapper button {
    width: 100%;
    padding: 3px 6px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.action-content-dropdown-wrapper button i {
    padding-left: 5px !important;
    font-size: 11px;
}

.service-annotation-main-action-wrapper {
    overflow: auto;
}

.action-content-dropdown-wrapper ul {
    position: absolute;
    top: inherit;
    /*margin-top: 0;*/
}

.service-annotation-details-wrapper {
    display: table;
    width: 100%;
}

.service-annotation-detail-wrapper {
    display: table-row;
    cursor: pointer;
}

.service-annotation-detail-wrapper:hover {
    display: table-row;
    background-color: #f5f5f5;
}

.service-annotation-detail-cell-wrapper {
    display: table-cell;
    padding: 3px 6px 3px 6px;
}

.service-annotation-detail-cell-wrapper textarea {
    width: 255px;
    float: left;
}

.service-annotation-detail-cell-delete-icon {
    float: right;
    font-size: 10px;
    padding-top: 3px;
    color: #999;
    display: none;
}

.service-annotation-detail-wrapper:hover .service-annotation-detail-cell-delete-icon{
    display: block;
}

.svg-action-content-wrapper {
}

.svg-action-content-wrapper-body {
    background: #fff;
    border: 1px solid #f0f0f0;
}

.svg-action-content-wrapper-heading {
    fill: #eaeaea;
}

/** Service container related styles | -> End **/
/*//////////////////////////////////////////////////*/

