.closeTab{
    margin-left: 5px;
    margin-bottom: 5px;
}

.toggle-controls-container {
    position: absolute;
    bottom: 150px;
    right: 50px;
}

.toggle-to-design {
    width: 30px;
    height: 30px;
}

.toggle-to-source {
    width: 30px;
    height: 30px;
}
.preview-container{
    display: none;
}
.source-view-enabled {
    display: block;
    width: 100%;
    height:100%;
}

.source-view-disabled {
    display: none;
}

.show-div {
    display: block;
}

.hide-div {
    display: none;
}