
.tool-palette-container{
    border-right: 1px solid #c9c9c9;
    position: absolute;
    width: 200px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    height: 100%;
    border-left: 2px solid #c7c7c7;
    margin-top: 2px;
}

.tool-group{
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}

.tool-group-header{
    cursor: pointer;
    padding: 10px 1px;
}

.tool-group-header-title{
    cursor: pointer;
    color: #555;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px;
}

.tool-group-header-title:hover{
    cursor: pointer;
    color: black;
}

.tool-group-header-collapse-icon{

}

.tool-group-body{
    overflow: hidden;
    padding: 0 9px 10px 9px;
}

.collapse-icon{
    float: right;
    padding-top: 3px;
    font-size: 10px;
    margin-right: 10px;
    color: #8d8d8d;
}

.tool-container {
    width: 25px;
    height: 25px;
    margin: 3px;
    float: left;
    cursor: pointer;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
}


.tool-image {
    max-width:14px;
    max-height:14px;
    display : block;
    margin : auto;
}

.tool-title {
    padding-top:0px;
    color: white;
    display : none;
    margin : auto;
}
.tool-validator{
    height: 40px;
    color: darkred;
    display:none;
}
.search-bar{
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    padding:10px;
}
.search-input{
    background-color: #f9f9f9;
    font-size: 12px;
    font-style: italic;
    padding:5px;
    border: 1px solid #d9d9d9;
    width: 100%;
}
.searchIcon{
    position: absolute;
    right: 17px;
    top: 18px;
    color: #7b7b7b;
}

.tool-drag-container{
    position: relative;
}

.tool-disabled-icon{
    color: red;
}

.disabled-icon-container{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
}