.reg-welcome-left {
    height: 100%;
    background-color: #FFFFFF;
}
.reg-welcome-right {
    height: 100%;
    background-color: #f6f7f8;
}

.btn-new, .btn-new:hover, .btn-new:active, .btn-new:visited {
    background-color: #f17f31;
}

.btn-open, .btn-open:hover, .btn-open:active, .btn-open:visited {
    background-color: #4f5051;
}

.btn-container {
    color: #FFFFFF;
}

.open-recent-section {
    height: 43%;
}

.open-template-section {
    height: 45%;
}

.separator {
    /*height: 2%;*/
}

.open-recent-heading {
    font-size: 25px;
    padding-top: 85px;
    padding-left: 40px;
    height: 28%;
}

.open-template-heading {
    font-size: 25px;
    padding-top: 58px;
    padding-left: 40px;
    height: 20%;
}

.recent-preview-section {
    height: 72%;
    padding-left: 40px;
    padding-top: 10px;
}

.template-preview-section {
    height: 80%;
    padding-left: 40px;
    padding-top: 10px;
}

.preview-div {
    height: 80%;
    background-color: #FFFFFF;
}

.preview-name-div {
    height: 20%;
    background-color: #515253;
}

.preview-parent {
    height: 90%;
    margin-top: 25px;
}

.file-name {
    color: #FFFFFF;
    font-size: 20px;
    width: 85%;
    margin-left: auto;
    padding-top: 10px;
}