.workspace-explorer-activate-btn{
    color: white;
    margin-left: 5px;
}
.workspace-explorer-container{
    width: 120px;
    color: white;
}

.tree-highlight{
    background-color: #373737;
    position: absolute;
    width: 100%;
}