.btn-add {
    color:#446191;
}
.btn-remove {
    color:#3d3d3d;
    float:right;
}
.selector {
    margin: auto;
    padding: 10px;
}
.source-view {
    width: 50%;
    float: left;
}
.target-view {
    margin-left: 70%;
}

.data-mapper-container {
    position: relative;
    width: 100%;
    height: 100px;
}
.property-name {
    padding: 5px;
    color: #3d3d3d;
}

.property-type {
    padding: 5px;
    color: #3d3d3d;
}

.type-mapper-icon {
    padding: 10px;
}

.leftType{
    border: 1px solid gray;
    width: 400px;
    height: 600px;
    background: #ffffff;
    color: #3d3d3d;
    position: absolute;
}

.rightType{
    border: 1px solid gray;
    width: 400px;
    height: 600px;
    right:0px;
    top  :0px;
    background: #ffffff;
    color: #3d3d3d;
    position: absolute;
}
.struct {
    width: 400px;
    height: auto;
    color: #3d3d3d;
    position: absolute;
}
.property {
    padding: 5;
    font-size: 16px;
    color: black;
}

svg.plumbConnect path {
    stroke:#3d3d3d;
}

.typeMapperList {
    display: none;
}

.jstree-default .jstree-hovered {
    color : #000000;
}

.jstree-default .jstree-clicked {
    color: #000000;
}

.func {
    border: 1px solid gray;
    width: 400px;
    height: auto;
    background: #3d3d3d;
    color: #ffffff;
    position: absolute;
}

.func-property {
    padding: 5;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px;
    color: black;
}

.func-in-property {
    padding: 5;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px;
    color: black;
    cursor: pointer;
}

.func-out-property {
    padding: 2;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px;
    color: black;
    cursor: pointer;
}

.jstree-themeicon {
    display:none !important;
}

.typeMapperContextMenu {
    position:fixed;
    border: 1px solid black;
    padding:5px;
    display:none;
}

.func-output {
    width:200px;
    height:calc(100% - 33px);
    border: 0.5px solid gray;
    border-top: none;
    border-right: none;
    border-bottom: none;
    background-color: transparent;
    color: #446191;
    position:absolute; right:0

}

.type-mapper-combo, .source-view > .select2-container, .target-view > .select2-container {
    top:0px;
    left:0px;
    width:395px;
    position:absolute;
}