[project]
org-name = "ballerina"
version = "1.0.0"

[platform]
target = "java8"

    [[platform.libraries]]
    artifactId = "http"
    version = "@project.version@"
    path = "./lib/ballerina-http-@project.version@.jar"
    groupId = "ballerina"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "org.wso2.transport.http.netty"
    version = "6.3.54"
    path = "./lib/org.wso2.transport.http.netty-6.3.54.jar"
    groupId = "org.wso2.transport.http"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-common"
    version = "4.1.118.Final"
    path = "./lib/netty-common-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-buffer"
    version = "4.1.118.Final"
    path = "./lib/netty-buffer-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-transport"
    version = "4.1.118.Final"
    path = "./lib/netty-transport-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-resolver"
    version = "4.1.118.Final"
    path = "./lib/netty-resolver-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-handler"
    version = "4.1.118.Final"
    path = "./lib/netty-handler-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-codec-http"
    version = "4.1.118.Final"
    path = "./lib/netty-codec-http-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-codec"
    version = "4.1.118.Final"
    path = "./lib/netty-codec-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-handler-proxy"
    version = "4.1.118.Final"
    path = "./lib/netty-handler-proxy-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-codec-http2"
    version = "4.1.118.Final"
    path = "./lib/netty-codec-http2-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-transport-native-unix-common"
    version = "4.1.118.Final"
    path = "./lib/netty-transport-native-unix-common-4.1.118.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "commons-pool"
    version = "1.5.6.wso2v1"
    path = "./lib/commons-pool-1.5.6.wso2v1.jar"
    groupId = "commons-pool.wso2"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "snakeyaml"
    version = "2.0"
    path = "./lib/snakeyaml-2.0.jar"
    groupId = "org.yaml"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "bcprov-jdk18on"
    version = "1.78.1"
    path = "./lib/bcprov-jdk18on-1.78.1.jar"
    groupId = "org.bouncycastle"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "bcpkix-jdk18on"
    version = "1.78.1"
    path = "./lib/bcpkix-jdk18on-1.79.jar"
    groupId = "org.bouncycastle"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "bcutil-jdk18on"
    version = "1.78.1"
    path = "./lib/bcutil-jdk18on-1.78.1.jar"
    groupId = "org.bouncycastle"
    modules = ["http"]
    
    [[platform.libraries]]
    artifactId = "netty-tcnative-classes"
    version = "2.0.65.Final"
    path = "./lib/netty-tcnative-classes-2.0.65.Final.jar"
    groupId = "io.netty"
    modules = ["http"]
    
    [[platform.libraries]]
    artifactId = "netty-tcnative-boringssl-static"
    version = "2.0.65.Final"
    path = "./lib/netty-tcnative-boringssl-static-2.0.65.Final.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "netty-tcnative-boringssl-static::windows-x86_64"
    version = "2.0.65.Final"
    path = "./lib/netty-tcnative-boringssl-static-2.0.65.Final-windows-x86_64.jar"
    groupId = "io.netty"
    modules = ["http"]
    
    [[platform.libraries]]
    artifactId = "netty-tcnative-boringssl-static::linux-aarch_64"
    version = "2.0.65.Final"
    path = "./lib/netty-tcnative-boringssl-static-2.0.65.Final-linux-aarch_64.jar"
    groupId = "io.netty"
    modules = ["http"]
    
    [[platform.libraries]]
    artifactId = "netty-tcnative-boringssl-static::linux-x86_64"
    version = "2.0.65.Final"
    path = "./lib/netty-tcnative-boringssl-static-2.0.65.Final-linux-x86_64.jar"
    groupId = "io.netty"
    modules = ["http"]
    
    [[platform.libraries]]
    artifactId = "netty-tcnative-boringssl-static::osx-aarch_64"
    version = "2.0.65.Final"
    path = "./lib/netty-tcnative-boringssl-static-2.0.65.Final-osx-aarch_64.jar"
    groupId = "io.netty"
    modules = ["http"]
    
    [[platform.libraries]]
    artifactId = "netty-tcnative-boringssl-static::osx-x86_64"
    version = "2.0.65.Final"
    path = "./lib/netty-tcnative-boringssl-static-2.0.65.Final-osx-x86_64.jar"
    groupId = "io.netty"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "mimepull"
    version = "1.9.7"
    path = "./lib/mimepull-1.9.7.jar"
    groupId = "org.jvnet.mimepull"
    modules = ["http"]

    [[platform.libraries]]
    artifactId = "org.wso2.carbon.messaging"
    version = "2.3.7"
    path = "./lib/org.wso2.carbon.messaging-2.3.7.jar"
    groupId = "org.wso2.carbon.messaging"
    modules = ["http"]
