<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Ballerina-Test-Suite">
    <listeners>
        <listener class-name="org.ballerinalang.test.listener.TestExecutionListener"/>
        <listener class-name="org.ballerinalang.test.listener.TestNGListener"/>
    </listeners>

    <test name="ballerina-packaging-sample-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.ballerinalang.test.packaging.BalRunWithConfigTestCase"/>
            <class name="org.ballerinalang.test.packaging.DocGenTestCase"/>
            <class name="org.ballerinalang.test.packaging.ListDependencyTestCase"/>
            <class name="org.ballerinalang.test.packaging.RepoHierarchyTestCase"/>
            <class name="org.ballerinalang.test.packaging.ModuleBuildTestCase"/>
            <class name="org.ballerinalang.test.packaging.ModuleRunTestCase"/>
            <class name="org.ballerinalang.test.packaging.ModuleInitTestCase"/>
            <class name="org.ballerinalang.test.packaging.PackagingNegativeTestCase"/>
            <class name="org.ballerinalang.test.packaging.PackagingTestCase"/>
            <class name="org.ballerinalang.test.packaging.RunTopLevelBalInProjectTestCase"/>
            <class name="org.ballerinalang.test.packaging.SingleBalBuildTestCase"/>
            <class name="org.ballerinalang.test.packaging.TestExecutionTestCase"/>
            <class name="org.ballerinalang.test.grpc.ServicePackagingTestCase"/>
        </classes>
    </test>

    <test name="ballerina-cli-parsing-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.test.command.*"/>
        </packages>
    </test>

    <test name="ballerina-run-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.test.run.*"/>
        </packages>
    </test>

    <test name="ballerina-swagger-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.test.swagger.*"/>
        </packages>
    </test>
</suite>
