$white:#fff;
$white01:#e7eaeb;
$white02:#bebebe;
$white03:#f8f8f8;
$white04:#a5a5a5;
$black: #000;
$gray01:#1a1b1d;
$gray02:#1e1e1e;
$gray03:#282828;
$gray04:#2b2b2b;
$gray05:#3c3c3c;
$gray06:#575a5e;
$gray07:#616467;
$gray08:#777;

$brand-primary: #2fb8b0;
$brand-primary-hover: #30a9a2;
$primaryBackgroundColor:$white01;
$primaryBackgroundColorHover:$white01;
$secondary-color:$gray06;
$secondary-color-hover:$gray07;

$diagram-background:$white01;
$text-color:$gray05;
$statementTextColor:$gray08;

$header-bgcolor: $gray01;
$header-brand-color: $white;

$rc-tabs-hover-color:$white02;
$rc-tabs-tab-color:$gray05;
$rc-tabs-tab-borderColor:$gray05;
$rc-tabs-bgcolor:$gray03;
$rc-tabs-text-color:$white01;
$rc-tabs-disable-color:$gray07;
$rc-tabs-close-color:$gray07;
$rc-tabs-close-bgcolor:$gray07;
$rc-tabs-active-bgcolor:$gray02;
$rc-tabs-active-color:$white02;

$menu-pop-content-bgcolor:#f8f8f8;

$left-toolbar-bgcolor: $gray04;
$left-toolbar-link-color: $gray04;

$tab-container-bgcolor: $white;
$tab-header-bgcolor: $gray04;
$tab-header-active-inverse-bgcolor: $white01;
$tab-header-active-inverse-color:$gray05;
$tab-header-active-tab-bgcolor: $white01;
$tab-header-active-tab-inverse-color:$gray04;
$tab-header-inactive-tab-bgcolor: #565656;
$tab-header-active-inverse-tab-bgcolor: $gray05;
$tab-content-wrapper-bgcolor: $white;
$tab-content-wrapper-grid-color: #eee;

$split-pane:$gray05;

$source-editor-color:#707276;
$source-editor-bgcolor: $tab-header-active-inverse-tab-bgcolor;
$source-editor-gutter-color: #E2E2E2;
$source-editor-gutter-bgcolor: #313131;

$panel-header-bgcolor: #dcdcdc;
$panel-header-border-color: $panel-header-bgcolor;
$panel-header-color: $gray05;
$panel-body-bgcolor: $white;
$panel-body-border-color: $panel-header-border-color;
$panel-body-dropzone-bgcolor: $white;

$worker-color: #0070af;
$connector-color:#26A69A;
$package-definition-color: $white;

$package-definition-color: $black;

$btn-primary-bgcolor: $brand-primary;
$btn-secondary-bgcolor: #484848;

$welcome-details-content-bgcolor: #f1f1f1;
$welcome-tile-view-wrapper-bgcolor: $white;

$primary-line-bgcolor: #555;
$default-worker-lifeline-color: $worker-color;
$worker-lifeline-color: $worker-color;
$connector-lifeline-color: $connector-color;

@import '../layout.scss';
@import '../main.scss';