$brand-primary: #2fb8b0;
$primaryBackgroundColor: #e7eaeb;
$secondary-color:#575a5e;

$header-bgcolor: #1a1b1d;
$header-brand-color: #fff;

$footer-bgcolor: #3C3F41;
$footer-color: #cbcbcb;

$menubar-link-color: #c7c7c7;
$menubar-link-hover-color: #eee;
$menubar-link-disabled-color: #afafaf;
$menubar-link-hover-bgcolor: #16191d;
$menubar-file-dropdown-menu-bgcolor: #565656;
$menubar-file-dropdown-menu-link-hover-color: $menubar-file-dropdown-menu-bgcolor;
$menubar-file-dropdown-menu-link-hover-bgcolor: #d4d4d4;

$breadcrumb-bgcolor: #3C3F41;
$breadcrumb-active-color: #fff;

$left-toolbar-bgcolor: #2b2b2b;
$left-toolbar-link-color: #999999;

$tab-container-bgcolor: #fff;
$tab-header-bgcolor: #282828;
$tab-header-active-tab-bgcolor: #fff;
$tab-header-inactive-tab-bgcolor: #565656;
$tab-header-active-inverse-tab-bgcolor: #3c3c3c;
$tab-content-wrapper-bgcolor: #fff;
$tab-content-wrapper-grid-color: #eee;

$bottom-right-controls-bgcolor: #707276;

$source-editor-color: #F8F8F8;
$source-editor-bgcolor: $tab-header-active-inverse-tab-bgcolor;
$source-editor-gutter-color: #E2E2E2;
$source-editor-gutter-bgcolor: #313131;

$tool-palette-container-bgcolor: #fff;
$tool-group-header-bgcolor: #eee;
$tool-group-header-text-color: #333;
$tool-title-color:#666769;
$tool-separator-color: $tool-group-header-bgcolor;

$panel-header-bgcolor: #dcdcdc;
$panel-header-border-color: $panel-header-bgcolor;
$panel-header-color: #333;
$panel-body-bgcolor: #fff;
$panel-body-border-color: $panel-header-border-color;
$panel-body-dropzone-bgcolor: #fff;

$package-configs-bgcolor: #eee;
$worker-color: #0070af;
$connector-color:#26A69A;
$package-definition-color: #fff;

$package-definition-color: #000;

$btn-primary-bgcolor: $brand-primary;
$btn-secondary-bgcolor: #484848;

$welcome-details-content-wrapper-bgcolor: transparentize(#e4e4e4, 0.5);
$welcome-tile-view-wrapper-bgcolor: #fff;

$modal-btn-default-bgcolor: #2c2c2c;
$modal-btn-default-color: #fff;
$modal-btn-default-hover-bgcolor: lighten($modal-btn-default-bgcolor, 10%);
$modal-btn-default-hover-color: #fff;
$modal-btn-primary-bgcolor: #F57E30;
$modal-btn-primary-color: #fff;
$modal-btn-primary-hover-bgcolor: darken($modal-btn-primary-bgcolor, 10%);
$modal-btn-primary-hover-color: #fff;

$primary-line-bgcolor: #555;
$default-worker-lifeline-color: $worker-color;
$worker-lifeline-color: $worker-color;
$connector-lifeline-color: $connector-color;

$annotation-wrapper-bgcolor: #eee;
$annotation-wrapper-text-color: #666769;
$argument-parameter-group-wrapper-bgcolor:#b5bec7;

@import '../layout.scss';
@import '../main.scss';