.loading { position: relative; }
.loading[data-loading-style=overlay] .loading-bg {
    background: #222222;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10000000;
    opacity: 0.6;
    filter: alpha(opacity=60); 
}
.loading[data-loading-style=icon-only] .loading-bg {
    display: none; }
.loading[data-loading-inverse=true] .loading-bg {
    background: #fefefe; }
.loading[data-loading-inverse=true] .loading-animation .logo .circle {
    stroke: #222222; }
.loading[data-loading-inverse=true] .loading-animation p {
    color: #222222; }
.loading .loading-animation {
    position: absolute;
    z-index: 10000001;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 40px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.loading .loading-animation .logo {
    position: relative;
    width: 50px;
    margin: 0 auto; }
.loading .loading-animation .logo img { max-width: 50px; }
.loading .loading-animation p {
    color: #fefefe;
    text-align: center;
    font-size: 11px;
    margin-top: 4px;
    text-transform: uppercase; 
}

body.loading > .loading-animation {
    width: 200px;
}
body.loading > .loading-animation > .blob {
    width: 2rem;
    height: 2rem;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% + 3.5rem);
    /*box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);*/
}

body.loading > .loading-animation > .blob-2 { animation: animate-to-2 1.5s infinite; }
body.loading > .loading-animation > .blob-3 { animation: animate-to-3 1.5s infinite; }
body.loading > .loading-animation > .blob-1 { animation: animate-to-1 1.5s infinite; }
body.loading > .loading-animation > .blob-4 { animation: animate-to-4 1.5s infinite; }
body.loading > .loading-animation > .blob-0 { animation: animate-to-0 1.5s infinite; }
body.loading > .loading-animation > .blob-5 { animation: animate-to-5 1.5s infinite; }

body.loading > .loading-bg {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}
 