[package]
org = "ballerina"
name = "test"
version = "0.8.0"

[platform.java21]
graalvmCompatible = true

[[platform.java21.dependency]]
path = "../libs/testerina-core-${version}.jar"
groupId = "ballerina"
artifactId = "mock"
version = "0.0.0"


[[platform.java21.dependency]]
path = "../libs/java-diff-utils-4.5.jar"
groupId = "io.github.java-diff-utils"
artifactId = "java-diff-utils"
version = "4.5.0"
