#toolbar-container {
    background-color: #3c3f41;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 13px;
    border-top: 1px solid #555;
    /* border-bottom:1px solid #303334; */
}

#toolbar-palette{
    float:left;
    color:#d0cfcf;
    padding-left: 4px;
    padding-right: 20px;
    font-size: 13px;
}

#toolbar-palette .toolbar-icons{
    float: left;
    width:35px;
    height:30px;
    text-align: center;
}

.toolbar-icons i{
    font-size: 13px;
}

.internal-separator{
    border-right-style: dashed;
    border-color: #363836;
}

.section-separator{
    border-right: 1px solid #6f6f6f;
}
.toolbar-icons:hover{
    background-color: #5A5C5E;
    cursor: pointer;
}

/*Drop down for menu items in toolbar*/
#toolbar-palette .dropdown-content {
    display: none;
    position: absolute;
    background-color: #565656;
    min-width: 160px;
    overflow: auto;
    z-index: 4;
    text-align: left;
}

#toolbar-palette .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    height: 24px;
    line-height: 24px;
}

.show {display:block;}

.dropdown-content a:hover {
    background-color: #e2e2e2;
    color:#000d0e;
}

#toolbar-palette .list {
    list-style: none;
    padding: 0;
}
#toolbar-palette .link {
    padding-left: 10px;
}
#toolbar-palette .more{
    font-size: 8px;
    padding-left: 4px;
}

#toolbar-palette .btn-debug-action-toolbar{
    width:40px;
    margin:0px !important;
    background-color: #3c3f41;
    color: white;
    font-size: 12px;
}

.btn-debug-action-toolbar:hover{
    background-color: #5A5C5E;
}

#debugger-tools{
    float: left;
    height:31px;
    text-align: center;
    width: 200px;
}

#toolbar-palette .stop{
    color: #c0392b;
    font-size:12px;
}

#toolbar-palette .resume{
    color: #379e61;
}

#toolbar-palette .step{
    color: #3498db;
}

#breadcrumb-container {
    background-color: #282b2f;
    line-height: 15px;
    margin-left: 5px;
    white-space: nowrap;
    float: left;
    color: #c7c7c7;
}