<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-test-suite">

    <listeners>
        <listener class-name="org.ballerinalang.test.utils.BLogInitializer"/>
        <!--<listener class-name="org.ballerinalang.test.utils.TestNGListener"/>-->
    </listeners>

    <!-- Ballerina language Test Cases. -->
    <test name="ballerina-lang-test-suite" preserve-order="true" parallel="false">
        <groups>
            <run>
                <exclude name="HSQLDBNotSupported"/>
                <exclude name="broken"/>
            </run>
        </groups>
        <packages>
            <package name="org.ballerinalang.test.vm.*"/>
            <package name="org.ballerinalang.test.annotations.*"/>
            <package name="org.ballerinalang.test.expressions.*"/>
            <package name="org.ballerinalang.test.documentation.*"/>
            <package name="org.ballerinalang.test.statements.*"/>
            <package name="org.ballerinalang.test.types.*"/>
            <package name="org.ballerinalang.test.typedefs.*"/>
            <package name="org.ballerinalang.test.access.*"/>
            <package name="org.ballerinalang.test.functions.*"/>
            <package name="org.ballerinalang.test.worker.*"/>
            <package name="org.ballerinalang.test.nativeimpl.functions.*"/>
            <package name="org.ballerinalang.test.net.*"/>
            <package name="org.ballerinalang.test.debugger.*"/>
            <package name="org.ballerinalang.test.structs.*"/>
            <package name="org.ballerinalang.test.endpoint.*"/>
            <package name="org.ballerinalang.test.closures.*"/>
            <package name="org.ballerinalang.test.natives.*"/>
            <package name="org.ballerinalang.test.parser.*"/>
            <package name="org.ballerinalang.test.launch.*"/>
            <package name="org.ballerinalang.test.lock.*"/>
            <package name="org.ballerinalang.test.taintchecking.*"/>
            <package name="org.ballerinalang.test.object.*"/>
            <package name="org.ballerinalang.test.record.*"/>
            <package name="org.ballerinalang.test.balo.*" />
            <package name="org.ballerinalang.test.variable.shadowing.*" />
            <package name="org.ballerinalang.test.channels.*" />
            <package name="org.ballerinalang.test.privacy.*" />
            <package name="org.ballerinalang.test.serializer.json.*" />
            <package name="org.ballerinalang.test.dataflow.*" />
            <package name="org.ballerinalang.test.error.*" />
        </packages>

		<!-- TODO: remove once constraint tests are fixed -->
		<classes>
			<class name="org.ballerinalang.test.types.map.BMapValueTest" />
			<class name="org.ballerinalang.test.types.map.MapAccessExprTest" />
			<class name="org.ballerinalang.test.types.map.MapInitializerExprTest" />
		</classes>
    </test>
    <test name="ballerina-entry-function-test-suite" preserve-order="true" parallel="false">
        <packages >
            <package name="org.ballerinalang.test.entry.function.*"/>
        </packages>
    </test>
</suite>
