[submodule "tool-plugins/vscode/plugin/ballerina-grammar"]
	path = tool-plugins/vscode/plugin/ballerina-grammar
	url = https://github.com/ballerina-platform/ballerina-grammar
[submodule "composer/modules/integration-tests/src/test/resources/ballerina-examples"]
	path = composer/modules/integration-tests/src/test/resources/ballerina-examples
	url = https://github.com/ballerina-platform/ballerina-examples
[submodule "tool-plugins/intellij/src/test/resources/BBE"]
	path = tool-plugins/intellij/src/test/resources/BBE
	url = https://github.com/ballerina-platform/ballerina-examples.git
