[submodule "misc/grammar/ballerina-grammar"]
	path = misc/grammar/ballerina-grammar
	url = https://github.com/ballerina-platform/ballerina-grammar.git
[submodule "tests/ballerina-spec-conformance-tests/src/test/resources/ballerina-spec-tests"]
	path = tests/ballerina-spec-conformance-tests/src/test/resources/ballerina-spec-tests
	url = https://github.com/ballerina-platform/ballerina-spec.git
	branch = conformance-tests
