body {
    overflow: auto;
}

.documentation {
    margin: 30px 0;
}

#ballerina-documentation {
    padding: 0 30px;
}

.title {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.title .icon {
    font-size: 26px !important;
    margin-right: 5px;
}

.title .object-type {
    font-size: 17px;
    font-style: italic;
    margin-left: 10px;
}

.description {
    font-size: 15px;
}

.return-details {
    margin: 20px 0;
}

.return-details strong {
    font-weight: 600;
}

.return-details .return-description {
    font-style: italic;
}

.type {
    color: #569cd6;
    font-style: italic;
}

code {
    background: #E0E1E2;
    border: none;
    color: #000;
    padding: 1px 3px;
    font-family: monospace, monospace;
    font-size: 0.9em;
}

.ui.table tbody .stacked-content {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .ui.table thead {
        display: none !important;
    }
    .ui.table tbody td .stacked-content {
        display: inline-block !important;
    }
    .ui.table tbody td>.stacked-content+p {
        display: inline-block;
    }
    .ui.table tbody td .stacked-content .label {
        margin-right: 5px;
    }
}