body {
    overflow: auto;
}

.documentation {
    margin: 30px 0;
}

#ballerina-documentation {
    padding: 0 30px;
}

.title {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.title .icon {
    font-size: 26px !important;
}

.description {
    font-size: 15px;
}

.return-details {
    margin: 20px 0;
}

.return-details strong {
    font-weight: 600;
}

.return-details .return-description {
    font-style: italic;
}

.type {
    color: #569cd6;
    font-style: italic;
}

code {
    background: #E0E1E2;
    border: none;
    color: #000;
    padding: 1px 3px;
    font-family: monospace, monospace;
    font-size: 0.9em;
}