<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="testerina-intg-test-suite">

    <!-- ballerina.test Related Test Cases. -->
    <test name="testerina-intg-tests" parallel="false">
        <parameter name="enableTesterinaTests" value="true" />
        <groups>
            <run>
                <exclude name="brokenOnJBallerina"/>
            </run>
        </groups>
        <classes>
            <class name="org.ballerinalang.testerina.test.BasicCasesTest" />
            <class name="org.ballerinalang.testerina.test.negative.MissingFunctionsTestCase"/>
            <class name="org.ballerinalang.testerina.test.negative.InvalidFunctionMockingTestCase"/>
            <class name="org.ballerinalang.testerina.test.GroupingTest" />
            <class name="org.ballerinalang.testerina.test.SelectedFunctionTest" />
            <class name="org.ballerinalang.testerina.test.negative.SkipTestsTestCase" />
            <class name="org.ballerinalang.testerina.test.negative.InvalidDataProviderTestCase" />
            <class name="org.ballerinalang.testerina.test.negative.UnusedVarWithErrorTestCase" />
            <class name="org.ballerinalang.testerina.test.DisableTestsTestCase" />
            <class name="org.ballerinalang.testerina.test.MockTest" />
            <class name="org.ballerinalang.testerina.test.TestReportTest" />
            <class name="org.ballerinalang.testerina.test.PathVerificationTest" />
            <class name="org.ballerinalang.testerina.test.RerunFailedTest"/>
            <class name="org.ballerinalang.testerina.test.FunctionNameValidationTest" />
            <class name="org.ballerinalang.testerina.test.ImportTest" />
            <class name="org.ballerinalang.testerina.test.ModuleExecutionTest" />
            <class name="org.ballerinalang.testerina.test.CodeCoverageReportTest" />
            <class name="org.ballerinalang.testerina.test.SourcelessTestExecutionTests"/>
            <class name="org.ballerinalang.testerina.test.DataProviderTest"/>
            <class name="org.ballerinalang.testerina.test.CodegenCodeCoverageTest"/>
        </classes>
    </test>
</suite>
