.transform-endpoint-tree .variable {
    position: static;
}

.transform-endpoint-container {
    position: relative;
    padding-bottom: 5px;
}

.transform-endpoint-details {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #dcdcdc;
}

.transform-endpoint-container .btn-remove {
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    top: 0;
}

.transform-source .transform-endpoint-details {
    padding-left: 8px;
}

.transform-return .transform-endpoint-details {
    padding-left: 8px;
}

.transform-source .btn-remove {
    right: 30px;
}

.transform-target .btn-remove {
    right: 0px;
}
