function loadedScript() {
    {{{getLangClient}}}
    let docUri = "{{{docUri}}}";
    function drawDiagram() {
        try {
            let width = {{{windowWidth}}};
            let height = {{{windowHeight}}};
            let zoom = 1;
            const options = {
                target: document.getElementById("diagram"),
                editorProps: {
                    docUri,
                    width,
                    height,
                    zoom,
                    langClient: getLangClient()
                }
            };
            const diagram = ballerinaComposer.renderDiagramEditor(options);
        } catch(e) {
            console.log(e.stack);
            drawError('Oops. Something went wrong. ' + e.message);
        }
    }
    function drawError(message) {
        document.getElementById("diagram").innerHTML = `
                <div id="errors">
                    <span>message</span>
                </div>
                `;
    }
    function showWarning(message) {
        document.getElementById("warning").innerHTML = `
            <p><span class="fw fw-warning"></span>message</p>
        `;
    }
    drawDiagram();
}

function showLoadSpinner() {
    document.getElementsByClassName("diagram")[0].append('<div class="loader-container"><i class="fw fw-loader fw-spin fw-3x root-loader"></i></div>');
}