<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="docerina-theme/img/favicon.ico">
    <title>Ballerina.io - API Docs</title>
    <script src="docerina-theme/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="docerina-theme/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="docerina-theme/js/bootstrap.min.js"></script>
    <!-- Nanoscroller JS -->
    <script src="docerina-theme/js/jquery.nanoscroller.min.js"></script>
    <!-- Docerina JS -->
    <script src="docerina-theme/js/docerina.js"></script>
    <script type="text/javascript" src="docerina-theme/js/highlight.pack.js"></script>
    <link rel="stylesheet" href="docerina-theme/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="docerina-theme/css/theme_extra.css" type="text/css" />
    <link rel="stylesheet" href="docerina-theme/css/highlight.css">
    <script type="text/javascript" src="docerina-theme/js/ballerina-common.js"></script>
    <link rel="stylesheet" href="docerina-theme/css/ballerina-io.css">
    <link rel="stylesheet" href="docerina-theme/css/ballerina-io-docs.css">
    <link rel="stylesheet" href="docerina-theme/css/ballerina-io-api.css">
    <script>
        var base_url = "";
    </script>
    <script src="/search/require.js"></script>
</head>

<body class="cBallerina-io" role="document">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSL2TX4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="row cBallerina-io-top-row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cTopLineContainer">
        <div class="cTopLine"></div>
    </div>
</div>
<div class="row cBallerina-io-Logo-row">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cBallerina-io-Logo-Container">
            <a class="cLogo" href="index.html">
                <img src="docerina-theme/img/ballerina-logo.png" alt="Ballerina" />
            </a>
        </div>
    </div>
</div>
<div class="row cBallerina-io-Gray-row">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 cBallerina-io-Home-Middle-col">
            <div class="cBlallerina-io-docs-content-container">
                {{#each this}}
                <ul>
                        <li class="cTableTitle">
                            <a href="{{href}}.html">
                                {{#if caption.isPackageName}}
                                    {{caption.prefix}}<span class="bold">{{caption.suffix}}</span>
                                {{/if}}
                                {{#if caption.isStaticCaption}}
                                    <span class="bold">{{caption.value}}</span>
                                {{/if}}
                            </a>
                        </li>
                </ul>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>