<!-- This is not a styled html. This html lists all the package names and links.-->
{{#each this}}
<ul>
        <li class="cTableTitle">
            <a href="{{href}}.html">
                {{#if caption.isPackageName}}
                    {{caption.prefix}}<span class="bold">{{caption.suffix}}</span>
                {{/if}}
                {{#if caption.isStaticCaption}}
                    <span class="bold">{{caption.value}}</span>
                {{/if}}
            </a>
        </li>
</ul>
{{/each}}
