{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "event_channel": "./src/core/event/channel",
                "log": "./src/core/log/log"
            }
        }]
    ]
}