body {
  background: #fff;
  color: #464646;
  height: 100vh;
  position: fixed;
}
body p {
  font-size: 16px;
}
body a {
  color: #333;
  font-weight: 600;
}
body .ui.grid {
  height: 100vh;
}
body .ui.grid .header-wrapper {
  position: fixed;
  height: auto;
}
body .ui.grid .header-wrapper .logo {
  width: 200px;
  height: auto;
  float: left;
}
body .ui.grid .navi-wrapper {
  margin-left: 20px;
  background: #f5f7f8;
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
}
body .ui.grid .navi-wrapper:hover {
  overflow-y: scroll ;
  position: inherit;
}
body .ui.grid .navi-wrapper .search input {
  border-radius: 0;
  border: 0;
  margin-bottom: 20px;
}
body .ui.grid .navi-wrapper .primary-list ul {
  padding: 0;
  margin: 0;
}
body .ui.grid .navi-wrapper .primary-list ul li {
  list-style: none !important;
  line-height: 25px;
  margin-left: 15px;
}
body .ui.grid .content-wrapper {
  margin: 20px;
  height: 82vh;
  text-align: justify;
  overflow-y: hidden;
  position: fixed;
}
body .ui.grid .content-wrapper .breadcrumb a {
  color: #aaa;
  font-weight: 300 !important;
}
body .ui.grid .content-wrapper:hover {
  overflow-y: auto;
  position: inherit;
}
body .ui.grid .content-wrapper p {
  line-height: 24px !important;
}
body .ui.grid .content-wrapper code {
  color: #ea8792;
  font-style: italic;
}
body .ui.grid .content-wrapper .records {
  color: #2c9ea1;
  font-weight: 600;
}
body .ui.grid .content-wrapper .objects {
  color: #93bd54;
  font-weight: 600;
}
body .ui.grid .content-wrapper .module-list {
  line-height: 20px;
  float: left;
}
body .ui.grid .content-wrapper .module-list .module-title {
  float: left;
  margin-left: 20px;
}
body .ui.grid .content-wrapper .module-list .module-desc {
  margin-left: 10px;
  float: left;
  word-wrap: break-word;
}
body .ui.grid .content-wrapper .module-list ul li {
  list-style: none;
  line-height: 30px;
}
