<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-kafka-test-suite">
    <test name="ballerina-kafka-consumer-tests">
        <!-- Consumer-Related tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.consumer.TopicAssignTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.TopicsTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.ConsumerFunctionsTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.ManualCommitTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.TopicPauseResumeTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.TopicSubscribePartitionRebalanceTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.TopicSubscribeToPatternTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.PartitionSeekTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-producer-tests">
        <!-- Producer-Related tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.producer.ProducerFunctionsTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-service-tests">
        <!-- Service-Related tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.services.ServiceTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-compiler-test">
        <!-- Compiler plugin validation tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.compiler.CompilerPluginTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-transactions-test">
        <classes>
            <!-- Transactions-Related tests -->
            <class name="org.ballerinalang.messaging.kafka.transactions.TransactionalProducerTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-security-tests">
        <classes>
            <!-- SSL-Based Consumer/Producer-Related tests -->
            <class name="org.ballerinalang.messaging.kafka.security.ConsumerAndProducerWithSslTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-serializer-deserializer-tests">
        <classes>
            <!-- SSL-Based Consumer/Producer-Related tests -->
            <class name="org.ballerinalang.messaging.kafka.serdes.SerializerDeserializerTest" />
        </classes>
    </test>
</suite>
