<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-kafka-test-suite">
    <test name="ballerina-kafka-consumer-tests">
        <!-- Consumer-Related tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerAssignTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerTopicsTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerManualCommitTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerPauseResumeTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerSubscribePartitionRebalanceTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerSubscribeToPatternTest" />
            <class name="org.ballerinalang.messaging.kafka.consumer.KafkaConsumerSeekTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-producer-tests">
        <!-- Producer-Related tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.producer.KafkaProducerTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-service-tests">
        <!-- Service-Related tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.services.KafkaServiceTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-compiler-test">
        <!-- Compiler plugin validation tests -->
        <classes>
            <class name="org.ballerinalang.messaging.kafka.compiler.KafkaServiceCompilerTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-transactions-test">
        <classes>
            <!-- Transactions-Related tests -->
            <class name="org.ballerinalang.messaging.kafka.transactions.KafkaProducerTransactionsTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-ssl-tests">
        <classes>
            <!-- SSL-Based Consumer/Producer-Related tests -->
            <class name="org.ballerinalang.messaging.kafka.ssl.KafkaConsumerAndProducerWithSSLTest" />
        </classes>
    </test>
    <test name="ballerina-kafka-serializer-deserializer-tests">
        <classes>
            <!-- SSL-Based Consumer/Producer-Related tests -->
            <class name="org.ballerinalang.messaging.kafka.serdes.KafkaSerializerDeserializerTest" />
        </classes>
    </test>
</suite>
