import ballerina/grpc;
import ballerina/io;
{{#stubObject}}
public type {{connectorId}}{{stubTypeName}}{{stubType}}Stub object {
    {{#stubs}}
    public {
        grpc:Client clientEndpoint;
        grpc:ServiceStub serviceStub;
    }

    function initStub (grpc:Client clientEndpoint) {
        grpc:ServiceStub navStub = new;
        navStub.initStub(clientEndpoint, "{{stubType}}", DESCRIPTOR_KEY, descriptorMap);
        self.serviceStub = navStub;
    }
    {{/stubs}}{{#blockingFunctions}}
    function {{operationId}} ({{inputDataType}} req) returns ({{outputDataType}}|error) {
        any|grpc:ConnectorError unionResp = self.serviceStub.blockingExecute("{{methodId}}", req);
        match unionResp {
            grpc:ConnectorError payloadError => {
                error e = {message:payloadError.message};
                return e;
            }
            any payload => {
                return <{{outputDataType}}> payload;
            }
        }
    }
    {{/blockingFunctions}}{{#nonBlockingFunctions}}
    function {{operationId}} ({{inputDataType}} req, typedesc listener) returns (error?) {
        var err1 = self.serviceStub.nonBlockingExecute("{{methodId}}", req, listener);
        if (err1 != ()) {
            error e = {message:err1.message};
            return e;
        }
        return ();
    }
    {{/nonBlockingFunctions}}{{#streamingFunctions}}
    function {{operationId}} (typedesc listener) returns (grpc:Client| error)  {
        var res = self.serviceStub.streamingExecute("{{methodId}}", listener);
        match res {
            grpc:ConnectorError err => {
                error e = {message:err.message};
                return e;
            }
            grpc:Client con => {
                return con;
            }
        }
    }
    {{/streamingFunctions}}
};
{{/stubObject}}
{{#client}}
public type {{connectorId}}{{stubTypeName}}{{stubType}}Client object {
    {{#stubObjects}}
    public {
        grpc:Client client;
        {{connectorId}}{{stubTypeName}}Stub stub;
    }

    public function init (grpc:ClientEndpointConfiguration config) {
        // initialize client endpoint.
        grpc:Client client = new;
        client.init(config);
        self.client = client;
        // initialize service stub.
        {{connectorId}}{{stubTypeName}}Stub stub = new;
        stub.initStub(client);
        self.stub = stub;
    }

    public function getClient () returns ({{connectorId}}{{stubTypeName}}Stub) {
        return self.stub;
    }{{/stubObjects}}
};
{{/client}}
{{#structs}}
type {{structId}} {
    {{#attribute}}{{type}} {{name}};
    {{/attribute}}
};
{{/structs}}
{{#enums}}
enum {{enumId}} {
{{#enumAttribute}}{{name}}{{eoe}}
{{/enumAttribute}}
}
{{/enums}}
@final string DESCRIPTOR_KEY = "{{rootDescriptorKey}}";
map descriptorMap =
{ {{#descriptors}}
    "{{descriptorKey}}":"{{descriptorData}}"{{eoe}}
  {{/descriptors}}
};