@import 'vendor/font-wso2/_mixin.scss';
@import 'modules/header.scss';
@import 'modules/footer.scss';
@import 'modules/breadcrumb.scss';
@import 'modules/left-toolbar.scss';
@import 'modules/tabs.scss';
@import 'modules/source-editor.scss';
@import 'modules/tools.scss';
@import 'modules/diagram.scss';
@import 'modules/layout.scss';
@import 'modules/modals.scss';