body {
    .editor-wrapper {
        height: 100%;
    }
    
    .ace-twilight {
        background-color: $source-editor-bgcolor;
        color: $source-editor-color;
        
        & .ace_gutter {
            background: $source-editor-gutter-bgcolor;
            color: $source-editor-gutter-color;
        }
    }
}