swagger: '2.0'
info:
  version: "0.8.1"
  title: "Ballerina Swagger convert API"
  description: |
    This specifies a **RESTful API** for WSO2 **Ballerina Composer** .
  contact:
    name: "WSO2"
    url: "http://wso2.com/"
    email: "architecture@wso2.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

######################################################
# The fixed parts of the URLs of the API
######################################################

# The schemes supported by the API
schemes:
  - https

# The domain of the API.
# This is configured by the customer during deployment.
# The given host is just an example.
host: apis.wso2.com

# The base path of the API.
# Will be prefixed to all paths.
basePath: /balerina/editor/swagger/v0.11

# The following media types can be passed as input in message bodies of the API.
# The actual media type must be specified in the Content-Type header field of the request.
# The default is json, i.e. the Content-Type header is not needed to
# be set, but supporting it serves extensibility.
consumes:
  - application/json

# The following media types may be passed as output in message bodies of the API.
# The media type(s) consumable by the requestor is specified in the Accept header field
# of the corresponding request.
# The actual media type returned will be specfied in the Content-Type header field
# of the of the response.
# The default of the Accept header is json, i.e. there is not needed to
# set the value, but supporting it serves extensibility.
produces:
  - application/json

######################################################
# The "convert service dfinition
######################################################
paths:
  /services/convert-swagger:
    post:
      summary: Convert swagger to ballerina service definitions
      description: |
        This operation can be used to convert service definitions between ballerina and swagger
      parameters:
        - name: expectedType
          description: Type to be convert
          type: string
          in: query
          required: true
        - in: body
          name: service definition
          description: |
            Service definition to be convert
          required: true
          schema:
            $ref: '#/definitions/Service'
      tags:
        - swagger
      responses:
        200:
          description: |
           Created.
            Successful response with ballerina JSON representation. This should directly use from composer to build models.
          headers:
            Location:
              description: |
                The URL of the newly created API.
              type: string
              
              
  /services/convert-ballerina:
    post:
      summary: Convert swagger to ballerina service definitions
      description: |
        This operation can be used to convert service definitions between ballerina and swagger
      parameters:
        - name: expectedType
          description: Type to be convert
          type: string
          in: query
          required: true
        - in: body
          name: service definition
          description: |
            Service definition to be convert
          required: true
          schema:
            $ref: '#/definitions/Service'
      tags:
        - swagger
      responses:
        200:
          description: |
           Created.
            Successful response with the generated swagger definiton. This can be either JSON or YAML.


definitions:
#-----------------------------------------------------
# The Service resource
#-----------------------------------------------------
  Service:
    title: Service object
    required:
      - name
    properties:
      name:
        type: string
        example: TestService
      description:
        type: string
        example: A Test service that supports basic operations
      swaggerDefinition:
        description: |
          Swagger definition of service object which contains both swagger and ballerina representations.
        type: string
        example: ""
      ballerinaDefinition:
        description: |
          Ballerina definition of the API which contains details about URI templates and scopes
        type: string
        example: "{\"name\": \"Fuelstation Central\",	\"ballerinaDefinition\": \"import ballerina.net.http;@BasePath(\/echo\") service echo {@POST resource echo(message m) {http:convertToResponse(m );reply m;}}\",	\"swaggerDefinition\": \"{\"swagger\": \"2.0\",\"info\": {\"version\": \"1.0.0\",\"title\": \"Echo\",\"description\": \"#### Echos back every URL, method, parameter and header\"}, \"schemes\":[\"http\"],\"host\": \"wso2.com\",\"basePath\": \"/echo\",\"paths\": {\"/\": {\"get\": {\"responses\": {\"200\": { \"description\": \"Echo GET\"}}}}}}\"}"