import ballerina/http;
{{#paths}}{{#value}}{{#operations}}{{#value}}
public function {{operationId}} (http:Request req{{#parameters}}{{>pathParams}}{{/parameters}}) returns http:Response {
    //stub code - fill as necessary
    http:Response resp = new;
    string payload = "Sample {{operationId}} Response";
    resp.setStringPayload(payload);

	return resp;
}
{{/value}}{{/operations}}{{/value}}{{/paths}}
