import ballerina/http;
import ballerina/log;
import ballerina/mime;
import ballerina/swagger;

{{#servers}}endpoint http:Listener ep{{@index}} { {{#host}}
    host: "{{host}}",{{/host}}
    port: {{port}}
};
{{/servers}}
@swagger:ServiceInfo { {{#info}}
    title: "{{title}}"{{#description}},
    description: "{{description}}"{{/description}},
    serviceVersion: "{{version}}"{{#termsOfService}},
    termsOfService: "{{termsOfService}}"{{/termsOfService}}{{#contact}},
    contact: {name: "{{contact.name}}", email: "{{contact.email}}", url: "{{contact.url}}"}{{/contact}}{{#license}},
    license: {name: "{{license.name}}", url: "{{license.url}}"}{{/license}}{{/info}}{{#if tags}},
    tags: [{{#tags}}
        {name: "{{name}}", description: "{{description}}", {{=<% %>=}}externalDocs: <%>doc%><%={{ }}=%>}{{#unless @last}},{{/unless}}{{/tags}}
    ]{{/if}}{{#if externalDocs}},
    externalDocs: {{>doc}}{{/if}}{{#if security}},
    security: [{{#security}}
        {{>security}}{{/security}}
    ]{{/if}}
}
@http:ServiceConfig {
    basePath: "{{servers.0.basePath}}"{{!-- {{only one base path is allowed for all endpoints}} --}}
}
service {{cut info.title " "}} bind {{#servers}}ep{{@index}}{{#unless @last}}, {{/unless}}{{/servers}} {
{{#paths}}{{#value}}{{#if sameResourceOperationExists}}{{#sameResourceOperations}}{{#value}}
    @swagger:MultiResourceInfo {
        resourceInformation: { {{#operations}} "{{upper key}}":{{#value}}{
            summary: "{{summary}}"{{#if tags}},
            tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}]{{/if}}{{#if description}},
            description: "{{description}}"{{/if}}{{#if externalDocs}},
            externalDocs: {{>doc}}{{/if}}{{#if parameters}},
            parameters: [{{#parameters}}{
                name: "{{name}}",
                param_type: "{{schema.type}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}]{{/if}}
    }{{#unless @last}},{{/unless}}{{/value}}{{/operations}} }
    }
    @http:ResourceConfig { {{#if methods}}
        methods:[{{#methods}}"{{.}}"{{#unless @last}}, {{/unless}}{{/methods}}],{{/if}}
        path:"{{../../key}}"{{#requestBody}}{{#equals "multipart/form-data" requestBody.selectedMedia.mediaType}}{{else}},
        body:"_{{resourceName}}Body"{{/equals}}{{/requestBody}}
    }{{#deprecated}}
    deprecated {}
    {{/deprecated}}
    {{resourceName}} (endpoint outboundEp, http:Request _{{resourceName}}Req,{{#parameters}}{{>pathParams}}{{/parameters}}{{#requestBody}}{{>reqBody}}{{/requestBody}}) {

    }
  {{/value}}{{/sameResourceOperations}}{{/if}} {{#if noOperationsForPath}}
    {{#deprecated}}
        deprecated {}
    {{/deprecated}}
    {{resourceName}} (endpoint outboundEp, http:Request _{{resourceName}}Req) {

    }
  {{/if}}
{{/value}}{{/paths}}{{#paths}}{{#value}}{{#operations}}{{#value}}
    @swagger:ResourceInfo {
        summary: "{{summary}}"{{#if tags}},
        tags: [{{#tags}}"{{.}}"{{#unless @last}},{{/unless}}{{/tags}}]{{/if}}{{#if description}},
        description: "{{description}}"{{/if}}{{#if externalDocs}},
        externalDocs: {{>doc}}{{/if}}{{#if parameters}},
        parameters: [{{#parameters}}
            {
                name: "{{name}}",
                inInfo: "{{in}}",
                description: "{{description}}", {{#required}}
                required: {{required}},{{/required}} {{#deprecated}}
                discontinued: {{deprecated}},{{/deprecated}}
                allowEmptyValue: "{{allowEmptyValue}}"
            }{{#unless @last}},{{/unless}}{{/parameters}}
        ]{{/if}}
    }
    @http:ResourceConfig {
        methods:["{{upper key}}"],
        path:"{{../../key}}"{{#requestBody}}{{#equals "multipart/form-data" requestBody.selectedMedia.mediaType}}{{else}},
        body:"_{{operationId}}Body"{{/equals}}{{/requestBody}}
    }{{#deprecated}}
    deprecated {}{{/deprecated}}
    {{operationId}} (endpoint outboundEp, http:Request _{{operationId}}Req{{#parameters}}{{>pathParams}}{{/parameters}}{{#requestBody}}{{>reqBody}}{{/requestBody}}) {

    }{{/value}}{{/operations}}{{/value}}{{/paths}}
}
