.activity-bar-nav-common {
    color: $left-toolbar-link-color;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: none !important;
    margin-right: 0;
    padding-left: 15px;
    outline-color: transparent !important;
}
.activity-bar {
    height: 100%;
    padding: 0;
    width: $activity-bar-width;
    position: fixed;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    background: $left-toolbar-bgcolor;
    
    & .nav-tabs {
        border-bottom: none;
        & > li  {
            margin-bottom: 0;
            width: $activity-bar-width;
            & > a {
                @extend .activity-bar-nav-common;
                &:hover {
                    cursor: pointer !important;
                    color: #d2d2d2 !important;
                }
            }
            &.active > a {
                cursor: pointer !important;
                border-left: 3px solid $brand-primary !important;
                padding-left: 12px;
                background-color: #252525 !important;
                color: #d2d2d2 !important;
            }
        }
    }
}