
.editor-area {
  .rc-tabs-tab-active {
    .tab-title-wrapper {
      &.ballerina-design-view {
        background-color: #e7eaeb;
        color: #7D7D7D;
        height: 40px;
        .close-tab {
          color: #7D7D7D;
          background-color: #e7eaeb;
          &:hover {
            color: #474747;
          }
        }
      }
    }
  }
  .rc-tabs-bar {
    .split-view-icon {
      font-size: 20px;
      margin-right: 20px;
      opacity: 0.6;
    }
    .split-view-icon:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.client-line-header, .client-life-line,
.life-line, .client-invocation-arrow,
.action-arrow .statement-title-rect, .statement-title-rect, .action-arrow,
.action-arrow-head, .action-dash-line, .flowchart-action-arrow,
.default-worker-life-line, .action-invocation-statement-rect
.flowchart-background-empty-rect {
  stroke-width: 0.75;
}

/*---------------------------
      Default lines
---------------------------*/

.client-line-header,
.client-life-line,
.client-invocation-arrow,
.action-arrow .statement-title-rect {
  stroke: $primary-line-bgcolor;
}

.statement-title-rect {
  fill: $white;
  stroke:$primary-line-bgcolor;
}

.flowchart-true-text,
.flowchart-false-text {
  fill: $primary-line-bgcolor;
  font-weight: 300;
}

.client-line-header,
.statement-title-rect,
.flowchart-background-empty-rect,
.flowchart-separator-line,
.panel-header {
  fill: $white;
}

.action-arrow,
.action-arrow-head,
.action-dash-line {
  stroke: $primary-line-bgcolor;
  fill: $primary-line-bgcolor;
}

/*---------------------------
      Worker lines 
---------------------------*/

.worker {
  fill: $worker-color;
  font-weight: 300;  
}

.worker.life-line{
  stroke: $worker-color;
}

.flowchart-action-arrow {
  fill: $worker-color;
  font-weight: 300;
}

.flowchart-action-arrow,
.flowchart-background-empty-rect {
  stroke: $worker-color;
  stroke-width: 0.75;
}

.flowchart-action-arrow-head {
  fill: $worker-color;
  stroke: $worker-color;
}

/*---------------------------
      Endpoint lines
---------------------------*/

.connector {
  fill: $connector-color;
  font-weight: 400;
}

.connector.life-line {
  stroke: $connector-color;
}

.action-invocation-statement-rect {
  fill: $connector-color;
}

.ballerina-editor {
  .design-view-container {
    background-color: $diagram-background;
  }
  .protocol-http,
  .svg-container {
    .panel {
      /* -- Service herder Styles -- */
      .panel-header {
        .text-placeholder {
          shape-rendering: crispEdges;
          stroke: #a5a5a5;
          stroke-width: 1;
          stroke-dasharray: 4, 2;
        }
        .headingRect, .panel-body-rect{
          fill: $white;
        }
        .editable-text-label {
          fill: $text-color;
          stroke: #2b2b2b;
          font-weight: 300;
          stroke-width: 0;
        }
        
        .panel-header-controls-wrapper {
          fill: rgba(255, 255, 255, 0.1);
        }
        .control-icons {
          fill: #636363;
          font-size: 11px;
        }

        .title-icon{
          fill: #636363;        
        }
        .editor-area {
          color: $text-color;
          border: 1px solid #333;
        }
      }
      .panel-body {
        .panel-body-rect{
          fill:$white;
        }
        .client-line-group {
          .client-line-text {
            text-anchor: middle;
            dominant-baseline: central;
            fill: $primary-line-bgcolor;
            font-weight: 300;
          }
          text, .title-text {
            fill: $text-color;
            font-weight: 300px;
          }
        }
        .action-dash-line {
          stroke: $primary-line-bgcolor;
          fill: $primary-line-bgcolor;
          stroke-dasharray: 5, 5;
        }

        .match-expression{
          dominant-baseline: central;
        }
        .match-pattern-clause{
          font-style: italic;
        }
        
        .statement-title-text,
        .condition-text {
          text-anchor: middle;
          dominant-baseline: central;
          text-transform: lowercase;
        }
        .statement-title-text {
          fill: $statementTextColor;
          font-style: italic;
        }
        .statement-title-text-left {
          text-anchor: start;
          dominant-baseline: central;
          fill: $statementTextColor;
          font-style: italic;
        }
        .compound-statement-rect {
          fill: none;
          stroke: $statementTextColor;
          stroke-dasharray: 3, 3;
        }
        .flowchart-separator-line {
          stroke: #f9f9f9;
          stroke-width: 2;
        }
        .flowchart-true-text {
          text-anchor: end;
          font-style: italic;
          font-weight: bolder;
        }
        .flowchart-false-text {
          text-anchor: start;
          font-style: italic;
          font-weight: bolder;
        }
        .property-pane-action-button-wrapper {
          fill: #e2e2e2;
          padding: 10px;
        }
        .property-pane-action-button-delete,
        .property-pane-action-button-jump {
          opacity: 0.6;
          fill: $text-color;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .panel-body {
    .panel {
      .panel-header,
      .svg-container {
        fill: $white;
        stroke-width: 0;
      }
    }
    .title-text, .condition-text{
      fill: #555;
    }
  }
  .bottom-right-controls-container {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 30;
    color: #f9f9f9;
    padding: 0;
    line-height: 30px;
    width: 120px;
    .bottom-label-icon-wrapper {
      height: 30px;
      width: 30px;
      background-color: #3c3c3c;
      margin: 0 5px;
      float: left;
      padding: 2px 8px;
      color: $white;
      line-height: 26px; 
    }
    .bottom-label-icon-wrapper:hover {
      position: relative;
      cursor: pointer;
      background-color: #1e1e1e;
      color: #e7eaeb;
      font-weight: 400;
    }
    .bottom-view-label {
      display: none;
      cursor: pointer;
    }
  }
  .zoom-controls {
    bottom: 60px !important;
    width: 30px;
    right: 25px;
  }
  .background-empty-rect {
    fill: $white;
  }
  .fork-bar {
    fill: #a5a5a5;
  }
  .diagram-menu {
    position: fixed;
    background: $diagram-background;
    height: 45px;
    width: 100%;
    -webkit-box-shadow: -6px 6px 6px -6px #a5a5a5;
    -moz-box-shadow: -6px 6px 6px -6px #a5a5a5;
    box-shadow: -6px 6px 6px -6px #a5a5a5;
    padding: 5px;
  }
}

.syntax-error-overlay {
  z-index: 1000;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.0);
  .error-list {
    position: relative;
    text-align: left;
    padding: 10px;
    width: 400px;
    margin: auto;
    top: 20px;
    background-color: #988686;
    .list-heading {
      text-align: center;
      font-size: 16px;
      color: #e7eaeb;
    }
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.swagger-view-container {
  background: $white;
}

swagger-ui h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  line-height: normal;
}

.swagger-ui pre {
  padding: 0;
  font-size: medium;
  line-height: normal;
  word-break: normal;
  word-wrap: normal;
  background-color: transparent;
  border-radius: 0;
}

.swagger-ui .try-out {
  display: none,
}

.swaggerEditor .SplitPane {
  height: 100% !important;
}

.expand-operation {
  display: none;
}

.SplitPane .vertical {
  overflow: hidden;
}

.divider {
  fill: #e7eaeb;
}

.hidden-code {
  font-size: 10px;
}

.panel-header-title text{
  font-weight: 500 !important;
}

.top-menu {
  position: fixed;
  padding: 3px 26px 6px !important;
  height: 40px;
  .top-bar {
    height: 30px;
    margin-top: 5px;
    width: auto;
    margin-right: 10px !important;
    .row {
      padding: 0 !important;
      width: 160px;
      margin-top: 20px;
      height: 30px !important;
      .column {
        min-width: 150px;
        width: 50%;
        padding: 0 !important;
        background: $white;
        box-shadow: none !important;
        .top-bar-row {
          background: $white !important;
          margin-top: 0px !important;
          border-bottom: 1px solid #ececec;
          .ui.label {
            background-color: $white !important;
          }
        }
      }
    }
  }
}

.ui.bottom.right.popup{
  margin-right: -1em !important;
}

.ui.bottom.center.popup {
  transform-origin: center top;
  background: $menu-pop-content-bgcolor;
  border: 1px solid #e7eaeb;
}

.ui.bottom.popup:before{
  background: $menu-pop-content-bgcolor !important;
}

.ui.bottom.center.popup:before{
  box-shadow:-1px -1px 0px 0px #e7eaeb !important;
}

.menu-pop-content {
  background: $menu-pop-content-bgcolor !important;
  width: 500px;
  .column {
    width: 250px !important;
    .ui.header {
      .content {
        font-weight: 400;
        color: #3c3c3c;
      }
      .icon {
        font-size: 15px !important;
      }
    }
  }
}

.definition-icon {
  opacity: 0 !important;
}

.definition-name:hover .definition-icon {
  padding-left: 5px;
  opacity: 1 !important;
}

.definition-name {
  cursor: pointer;
  font-size: 12px !important; 
  font-weight: 300px !important;
  color: #555 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 165px;
  white-space: nowrap;
}

a.item.menu-button.ui.button.primary {
  background: $brand-primary;
  color: $white;
  padding: 7px 10px !important;
  margin-top: 3px;
  margin-left: 5px;
  font-weight: 300;
  
  &:hover {
    background: $brand-primary-hover !important;
    font-weight: 300 !important;
  }
  
  .icon {
    padding-right: 25px !important;
  }
}
.composer-logo{
  font-size: 15px;
}
.brand-color{
  color: $brand-primary;
}
.brand .brand-color {
    margin-left: 0.3em;
}
.aboutWrapper{
  margin: 0em 0em 1em;
  line-height: 1em;
  font-weight: 300;
  line-height: 1.3em;
  color: #ccc;
}