.editor-area {
  .rc-tabs-tab-active {
    .tab-title-wrapper {
      &.ballerina-design-view {
        background-color: white;
        color: #7D7D7D;

        .close-tab {
          color: #7D7D7D;

          &:hover {
            color: #474747;
          }
        }
      }
    }
  }

  .rc-tabs-bar {
    .split-view-icon {
      font-size: 20px;
      margin-right: 20px;
      opacity: 0.6;
    }

    .split-view-icon:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.ballerina-editor {
  .design-view-container {
    background-color: #f9f9f9;
  }

  .protocol-http, .svg-container {
    .panel {
      /* -- Service herder Styles -- */
      .panel-header {
        fill: #f3faff;

        .argument-parameter-group, .parameter-delete-icon-wrapper, .parameter-wrapper {
          fill: #dde7f2;
        }

        .return-parameter-group {
          fill: #dce7f1;
        }

        .text-placeholder {
          fill: #dde7f2;
          shape-rendering: crispEdges;
          stroke: #9e9c9c;
          stroke-width: 1;
          stroke-dasharray: 2, 2;
        }

        .headingRect {
          stroke-width: 1;
          stroke: #c4d5e2;
        }

        .editable-text-label {
          fill: #333;
          stroke-width: 0.5px;
          stroke: #333;
        }

        .panel-header-controls-wrapper {
          fill: rgba(255, 255, 255, 0.1);
        }

        text {
          fill: #333 !important;
        }

        .parameter-text, .parameter-bracket-text, .return-types-opening-brack-text, .parameter-bracket-text, .return-types-closing-brack-text {
          dominant-baseline: text-before-edge;
          cursor: default;
        }

        .editor-area {
          color: #333 !important;
          border: 1px solid #333;
        }

      }

      .panel-body {
        .client-line-group {
          .client-line-header {
            fill: #f9f9f9;
            stroke: #303030;
            stroke-width: 1px;
          }

          .client-life-line, .worker-life-line, .client-invocation-arrow {
            stroke: #303030;
            stroke-width: 1px;
          }

          .client-line-text {
            text-anchor: middle;
            dominant-baseline: central;
            text-transform: lowercase;
          }
        }

        .action-arrow, .action-arrow-head {
          stroke: #666769;
          fill: #666769;
        }

        .action-dash-line {
          stroke: #666769;
          fill: #666769;
          stroke-dasharray: 5, 5;
        }

        .action-invocation-statement-rect {
          fill: #26A69A;
          stroke-width: 1;
        }

        .struct-content-operations-wrapper {
          fill: #e4e4e4;
          stroke: #e4e4e4;
        }

        .struct-type-dropdown-wrapper, .struct-input-value-wrapper {
          fill: #f9f9f9;
          stroke: #ccc;
          stroke-width: 1.2;
        }

        .struct-added-value-wrapper-light {
          fill: #f5f5f5;
          stroke: #ccc;
          stroke-width: 0.5px;
        }

        .struct-delete-icon-wrapper-light {
          fill: #f5f5f5;
          stroke: #ccc;
          stroke-dasharray: 0, 150, 50;
        }

        .struct-added-value-wrapper-dark {
          fill: #dcdcdc;
          stroke: #ccc;
          stroke-width: 0.5px;
        }

        .struct-delete-icon-wrapper-dark {
          fill: #dcdcdc;
          stroke: #ccc;
          stroke-dasharray: 0, 150, 50;
        }

        .default-worker-life-line, .worker-life-line {
          stroke: #1b79b4;
          stroke-width: 1;
        }

        .connector-life-line {
          stroke: #17a085;
          stroke-width: 1;
        }

        .panel-body-rect {
          stroke-width: 1px;
          stroke: #c4d5e2;
        }

        .statement-title-rect {
          fill: #f9f9f9;
          stroke: #222;
        }

        .statement-title-text, .condition-text {
          text-anchor: middle;
          dominant-baseline: central;
          text-transform: lowercase;
        }

        .statement-title-text {
          text-anchor: middle;
          dominant-baseline: central;
          fill: #777;
          font-style: italic;
        }

        .statement-title-text-left {
          text-anchor: start;
          dominant-baseline: central;
          fill: #777;
          font-style: italic;
        }

        .flowchart-background-empty-rect {
          fill: #f9f9f9;
          fill-opacity: 0;
          stroke: #1b79b4;
          stroke-width: 1;
        }

        .flowchart-background-empty-rect {
          fill: #f9f9f9;
          fill-opacity: 0;
          stroke: #1b79b4;
          stroke-width: 1;
        }

        .flowchart-action-arrow {
          fill: #0070af;
          stroke: #0070af;
          stroke-width: 1;
        }

        .flowchart-action-arrow-head {
          fill: #0070af;
          stroke: #0070af;
        }

        .compound-statment-rect {
          fill: none;
          stroke: #777;
          stroke-dasharray: 3, 3;
        }

        .flowchart-separator-line {
          stroke: #f9f9f9;
          stroke-width: 2;
        }

        .flowchart-true-text {
          text-anchor: end;
          font-style: italic;
          font-weight: bolder;
        }

        .flowchart-false-text {
          text-anchor: start;
          font-style: italic;
          font-weight: bolder;
        }

        .property-pane-action-button-wrapper {
          fill: #e2e2e2;
          padding: 10px;
        }

        .property-pane-action-button-delete, .property-pane-action-button-jump {
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .panel-body {
    .panel {
      .panel-header, .svg-container {
        fill: #f9f9f9;

        .headingRect {
          stroke-width: 1px;
          stroke: #e4e4e4;

          .panel-header-controls {
            .panel-header-controls-wrapper {
              fill: rgba(255, 255, 255, 0.1);
            }
          }
        }

        .parameter-text, .parameter-bracket-text, .return-types-opening-brack-text, .parameter-bracket-text {
          fill: #333;
          dominant-baseline: text-before-edge;
          cursor: default;
        }
      }
    }
  }
  .bottom-right-controls-container {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 30;
    color: #f9f9f9;
    padding: 0;
    line-height: 30px;
    width: 120px;

    .bottom-label-icon-wrapper {
      height: 30px;
      width: 30px;
      background-color: #e8e8e8;
      margin: 0 5px;
      float: left;
      padding: 2px 8px;
      border: 1px solid #c1c1c1;
      color: #333;
    }

    .bottom-label-icon-wrapper:hover {
      position: relative;
      cursor: pointer;
    }

    .bottom-label-icon-wrapper:before {
      content: attr(title);
      position: absolute;
      top: -3em;
      left: -1em;
      visibility: hidden;
      color: #fff;
      text-align: center;
      background-color: #303030;
      width: 100px;
    }

    .bottom-label-icon-wrapper:hover:after {
      border: 11px solid transparent;
      border-top-color: #303030;
      content: '';
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      top: -14px;
      font-size: 12px;
    }

    .bottom-label-icon-wrapper:hover:before {
      visibility: visible;
    }

    .bottom-view-label {
      display: none;
    }
  }
  .zoom-controls {
    bottom: 60px !important;
    width: 30px;
    right: 25px;
  }
}

