.editor-area {
  .rc-tabs-tab-active {
    .tab-title-wrapper {
      &.ballerina-design-view {
        background-color: #f9f9f9;
        color: #7D7D7D;
        .close-tab {
          color: #7D7D7D ;
          background-color: #f9f9f9;

          &:hover {
            color: #474747;
          }
        }
      }
    }
  }

  .rc-tabs-bar {
    .split-view-icon {
      font-size: 20px;
      margin-right: 20px;
      opacity: 0.6;
    }

    .split-view-icon:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

/*---------------------------
      Default lines
---------------------------*/

.client-line-header, .client-life-line, .worker-life-line, .client-invocation-arrow,
.statement-title-rect   {
    stroke: #555;
    stroke-width: 1px;
}

.flowchart-true-text, .flowchart-false-text, .action-invocation-text{
  fill: #555;
}

.client-line-header, .statement-title-rect, .struct-type-dropdown-wrapper, .struct-input-value-wrapper, 
.flowchart-background-empty-rect, .flowchart-separator-line, .panel-header {
  fill: #f9f9f9;
}

.action-arrow, .action-arrow-head, .action-dash-line {
  stroke: #555;
  fill: #555;
}

/*---------------------------
      Worker lines 
---------------------------*/

.flowchart-action-arrow, .default-worker-icon {
  fill: #0070af;
}

.flowchart-action-arrow, .default-worker-life-line, .worker-life-line, .flowchart-background-empty-rect   {
  stroke: #0070af;
  stroke-width: 1;
}

.flowchart-action-arrow-head {
  fill: #0070af;
  stroke: #0070af;
}

/*---------------------------
      Endpoint lines
---------------------------*/
.connector-icon{
  fill: #17a085;
}

.connector-life-line {
  stroke: #17a085;
  stroke-width: 1;
}

.action-invocation-statement-rect {
  fill: #17a085;
  stroke-width: 1;
}

.ballerina-editor {
  .design-view-container {
    background-color: #f9f9f9;
  }

  .protocol-http, .svg-container {
    .panel {
      /* -- Service herder Styles -- */
      .panel-header {
        fill: #f3faff;

        .text-placeholder {
          shape-rendering: crispEdges;
          stroke: #a5a5a5;
          stroke-width: 1;
          stroke-dasharray: 4, 2;
        }

        .headingRect {
          stroke-width: 1;
          stroke: #c4d5e2;
        }

        .editable-text-label {
          fill: #333;
          stroke-width: 0.5px;
          stroke: #333;
        }

        .panel-header-controls-wrapper {
          fill: rgba(255, 255, 255, 0.1);
        }

        text {
          fill: #333 !important;
        }

        .parameter-text, .parameter-bracket-text, .return-types-opening-brack-text, .parameter-bracket-text, .return-types-closing-brack-text {
          dominant-baseline: text-before-edge;
          cursor: default;
        }

        .editor-area {
          color: #333 !important;
          border: 1px solid #333;
        }

      }

      .panel-body {
        .client-line-group {
          .client-line-text {
            text-anchor: middle;
            dominant-baseline: central;
            text-transform: lowercase;
            fill: #555;
          }
        }

        .action-dash-line {
          stroke: #555;
          fill: #555;
          stroke-dasharray: 5, 5;
        }

        .struct-content-operations-wrapper {
          fill: #e4e4e4;
          stroke: #e4e4e4;
        }

        .struct-type-dropdown-wrapper, .struct-input-value-wrapper {
          fill: #f9f9f9;
          stroke: #ccc;
          stroke-width: 1.2;
        }

        .struct-added-value-wrapper-light {
          fill: #f5f5f5;
          stroke: #ccc;
          stroke-width: 0.5px;
        }

        .struct-delete-icon-wrapper-light {
          fill: #f5f5f5;
          stroke: #ccc;
          stroke-dasharray: 0, 150, 50;
        }

        .struct-added-value-wrapper-dark {
          fill: #dcdcdc;
          stroke: #ccc;
          stroke-width: 0.5px;
        }

        .struct-delete-icon-wrapper-dark {
          fill: #dcdcdc;
          stroke: #ccc;
          stroke-dasharray: 0, 150, 50;
        }

        .panel-body-rect {
          stroke-width: 1px;
          stroke: #c4d5e2;
        }

        .statement-title-rect {
          fill: #f9f9f9;
          stroke: #555;
        }

        .statement-title-text, .condition-text {
          text-anchor: middle;
          dominant-baseline: central;
          text-transform: lowercase;
        }

        .statement-title-text {
          text-anchor: middle;
          dominant-baseline: central;
          fill: #777;
          font-style: italic;
        }

        .statement-title-text-left {
          text-anchor: start;
          dominant-baseline: central;
          fill: #777;
          font-style: italic;
        }

        .compound-statement-rect {
          fill: none;
          stroke: #777;
          stroke-dasharray: 3, 3;
        }

        .flowchart-separator-line {
          stroke: #f9f9f9;
          stroke-width: 2;
        }

        .flowchart-true-text {
          text-anchor: end;
          font-style: italic;
          font-weight: bolder;
        }

        .flowchart-false-text {
          text-anchor: start;
          font-style: italic;
          font-weight: bolder;
        }

        .property-pane-action-button-wrapper {
          fill: #e2e2e2;
          padding: 10px;
        }

        .property-pane-action-button-delete, .property-pane-action-button-jump {
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .panel-body {
    .panel {
      .panel-header, .svg-container {
        fill: #f9f9f9;

        .headingRect {
          .panel-header-controls {
            .panel-header-controls-wrapper {
              fill: rgba(255, 255, 255, 0.1);
            }
          }
        }

        .parameter-text, .parameter-bracket-text, .return-types-opening-brack-text, .parameter-bracket-text {
          fill: #444;
          dominant-baseline: text-before-edge;
          cursor: default;
        }
      }
    }
  }

  .bottom-right-controls-container {
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 30;
    color: #f9f9f9;
    padding: 0;
    line-height: 30px;
    width: 120px;

    .bottom-label-icon-wrapper {
      height: 30px;
      width: 30px;
      background-color: #e8e8e8;
      margin: 0 5px;
      float: left;
      padding: 2px 8px;
      border: 1px solid #c1c1c1;
      color: #333;
    }

    .bottom-label-icon-wrapper:hover {
      position: relative;
      cursor: pointer;
      background-color: #333;
      border: 1px solid #333;
      color: #f1f1f1;
    }

    .bottom-view-label {
      display: none;
      cursor: pointer;
    }
  }

  .zoom-controls {
    bottom: 60px !important;
    width: 30px;
    right: 25px;
  }

  .background-empty-rect{
    fill: #f9f9f9;
  }

  .fork-bar{
    fill: #a5a5a5;
  }
}

.syntax-error-overlay {
  z-index: 1000;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.0);
  .error-list {
      position: relative;
      text-align: left;
      padding: 10px;
      width:400px;
      margin: auto;
      top: 20px;
      background-color: #d8d8d8;
      .list-heading {
          text-align: center;
          font-size: 16px;
          color:#CC0000;
      }
  }
}

.loading-overlay-enter {
  opacity: 0.01;
}

.loading-overlay-enter.loading-overlay-enter-active {
  opacity: 0.5;
  transition: opacity 300ms ease-in;
}

.loading-overlay-leave {
  opacity: 0.5;
}

.loading-overlay-leave.loading-overlay-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.bal-file-editor-loading-container {
  z-index: 1000;
  text-align: center;
  vertical-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(60, 60, 60);
  color: white;
  opacity: 0.5;
}

#parse-pending-loader{
  left: calc(50% - 132px);
  top: 50%;
  position:absolute;
  width:234px;
  height:28px;
  font-size: 30px;
  margin:auto;
  color: #fff;
  font-weight: 500;
}

#parse-pending-loader:after {
  overflow: hidden;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
  display: block;
  margin-top: -40px;
  margin-left: 93px;
  font-size: 50px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

  @-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.swagger-view-container {
  background: #FFF;
}

.swagger-ui h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  line-height: normal;
}

.swagger-ui pre {
  padding: 0;
  font-size: medium;
  line-height: normal;
  word-break: normal;
  word-wrap: normal;
  background-color: transparent;
  border-radius: 0;
}

.swagger-ui .try-out {
  display: none,
}

.expand-operation {
  display: none;
}

.SplitPane .vertical {
  overflow: hidden;
}

.swaggerEditor .SplitPane {
  height: 100% !important;
}

.swagger-service-selector-wrapper {
  background-color: #131313;
  height: 22px;
  overflow: hidden;
  line-height: 15px;
  color: white;
  padding-left: 20px;
}

.swagger-service-selector-span {
  float: left;
  margin-top: 6px;
  padding-right: 8px;
}