.bottom-panel {
    .rc-tabs {
        border-bottom: none;
        .rc-tabs-bar {
            border-bottom: none;
            padding: 0 5px;
            
            & .actions {
                padding: 8px;
                & i {
                    color: #6D6D6D;
                    padding: 10px 13px;
                    font-size: 11px;

                    &:hover{
                        cursor: pointer;
                        color: $rc-tabs-hover-color;
                        background-color: #222;
                    }
                }
            }
            & .rc-tabs-nav-container-scrolling {
                & .rc-tabs-tab-next, .rc-tabs-tab-prev {
                    @extend .unseletable-content;
                    color: #999;
                    &.rc-tabs-tab-btn-disabled {
                        color: #686868;
                    }
                }
            }
            & .rc-tabs-ink-bar {
                display: none !important;
            }
        }
        .rc-tabs-tab {
            @extend .unseletable-content;
            text-transform: uppercase;
            color: #6D6D6D;
            margin: 0;
            padding: 15px;

            &:hover{
                color: $rc-tabs-hover-color;
            }
            &.rc-tabs-tab-active {
                color: $rc-tabs-hover-color;
            }
        }
    }
}
