$blue-gray 			    : #34495e;
$blue 				      : #3C3F41;
$hover-toolbar 				      : #5A5C5E;

#breadcrumb-container {
    background-color: $breadcrumb-bgcolor;
    height: 30px;
    overflow: hidden;
    line-height:30px;
    border-left: 1px solid #6f6f6f;

    
    & > ol.breadcrumb > li.breadcrumb-item.active {
        color: $breadcrumb-active-color;
    }

    & > ul.breadcrumb-toolbar {
    list-style:none;
    display: inline-block;
    padding: 0px;
        li{
            float:left;
            a{
                color:#c7c7c7;
                display:block;
                background: $blue;
                text-decoration: none;
                position:relative;
                padding: 0 10px 0 5px;
                text-align: center;
                margin-right: 23px;
                line-height: 28px;
            }
            &:first-child{
                a{
                    padding-left:15px;
                    &:before{
                        border:none;
                    }
                }
            }
            &:last-child{
                a{
                    padding-right:15px;
                    &:after{
                        border:none;
                    }
                }
            }

            a{
                &:before,
                &:after{
                    content: "";
                    position:absolute;
                    top: 0;
                    border:0 solid $blue;
                    border-width:15px 11px;
                    width: 0;
                    height: 0;
                }
                &:before{
                    left:-22px;
                    border-left-color:transparent;
                }
                &:after{
                    left:100%;
                    border-color:#6f6f6f;
                    border-left-color:$blue;
                }
                &:hover{
                    background-color: $hover-toolbar;

                    &:before{
                        border-color:$hover-toolbar;
                        border-left-color:transparent;
                    }
                    &:after{
                        border-left-color:$hover-toolbar;
                    }
                }
                &:active{

                    &:before{
                        border-left-color:transparent;
                    }
                }
            }
        }
    }

}