.editor-area {
    .rc-tabs {
        height: 100%;
        overflow: hidden;
        border-bottom: none;
        .rc-tabs-content {
            height: calc(100% - 20px);
            .editor-split-view {
                position: relative;
                .text-editor {
                    height: 100%;
                }
            }
        }
        .rc-tabs-bar {
            border-bottom: none;
            height: 30px;
            & .rc-tabs-nav-container {
                background-color: $rc-tabs-bgcolor;
            }
            & .rc-tabs-nav-container-scrolling {
                & .rc-tabs-tab-next, .rc-tabs-tab-prev {
                    @extend .unseletable-content;

                    background-color: $rc-tabs-bgcolor;  
                    color: $white03;
                    border-left: 1px solid $rc-tabs-tab-borderColor;
                    border-right: 1px solid $rc-tabs-tab-borderColor;
                    line-height: 30px;
                    &.rc-tabs-tab-btn-disabled {
                        color: $gray07;
                    }
                }
            }
            & .rc-tabs-ink-bar {
                display: none !important;
            }
        }
        .rc-tabs-tab {
            @extend .unseletable-content;
            background-color: $rc-tabs-tab-color;
            color: $rc-tabs-text-color;
            min-width: 120px;
            padding: 0;
            margin-right: 0;
            border-right: 1px solid $gray01;
            font-weight: 300;
            height: 30px;
            .tab-title-wrapper {
                padding: 4px 5px 0 5px;
                .dirty-indicator {
                    margin-left: 5px;
                }
            }
            .tab-icon {
                margin-right: 10px;
                font-size: 10px;
                position: relative;
                bottom: 1px;
            }
            &:hover{
                color: $rc-tabs-active-color;
                background-color: $rc-tabs-tab-color;
            }
            &.rc-tabs-tab-active {
                &.inverse {
                    color: $tab-header-active-inverse-color;
                    background: $tab-header-active-inverse-bgcolor;
                }
                color: $rc-tabs-active-color;
                background-color: $rc-tabs-active-bgcolor;
                border-top: 1px solid $gray03;
                .close-tab {
                    background: $rc-tabs-active-bgcolor;
                }
            }
            .close-tab {
                color: $white01;
                margin: 2px 2px 0 5px;
                line-height: 15px;
                text-shadow: none;
                border: 0;
                background: $rc-tabs-tab-color;
                outline-color: transparent;
                cursor: pointer;
                &:hover{
                    color: $rc-tabs-active-color;
                }
                &:active{
                    outline: none;
                }
            }
        }
        .rc-tabs-tabpane {
            height: 100%;
            overflow: hidden;
            position: relative;
            background: $rc-tabs-active-bgcolor;
        }
    }
    .split-view-controls-container {
        position: absolute;
        bottom: 20px;
        right: 50px;
        z-index: 30;
        color: $rc-tabs-text-color;
        padding: 0;
        line-height: 40px;
        .btn-icon {
            float: left;
            cursor: pointer;
            span {
                font-size: 12px;
                padding-left: 5px;
                width:95px;
            }
            &:hover:after {
                opacity: 0.5
            }
        }
        
        .bottom-view-label {
            font-size: 12px;
            float: left;
            padding-right: 10px;
        }
    }
}