.header.header-default {
    background-color: $header-bgcolor;
    min-height: $header-min-height;

    & .brand {
        @extend .unseletable-content;
        font-size: 13px;
        cursor: default;
        color: $header-brand-color;
        padding: 0 10px;
        margin-right: 25px;
        line-height: $header-min-height;
        
        & a {
            color: $header-brand-color;
        }

        & span{
            font-size: 14px;
            margin-left: 1px;
            &.appname {
                color: $brand-primary;
                margin-left: 5px;
            }
        }
    }
}