.left-right-split-pane {
  background-color: #333;
}

.top-bottom-split-pane {
  background-color: #3c3c3c;
}

.bottom-panel {
  color:white;
  background-color: #333;
  width: 100%;
  height: 100%;
  .rc-tabs.rc-tabs-top {
      overflow: hidden;
  }
}

.right-panel {
  display: none;
  color:white;
}

.pull-left {
  float: $float-left !important;
}

.pull-right {
  float: $float-right !important;
}

.hide {
  display: none !important;
}

.thumbnail {
  &> img,
  a > img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
  }
}

@mixin box-sizing($box-sizing) {
  -moz-box-sizing:$box-sizing;
  -webkit-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

.Resizer {
  background: #3f4144;
  opacity: .2;
  z-index: 2;
  @include box-sizing('border-box');
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;

  :hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  &.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;

    :hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  &.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
    :hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  &.disabled {
    cursor: auto;
    :hover {
      border-color: transparent;
    }
  }
}

.Pane{
  &1{
    z-index: 2;
  }
  &2{
    z-index: 1;
  }
}