.left-panel {
    color:white;
    background-color: #333;
    width: 100%;
    & .tab-content {
        left: $activity-bar-width !important;
        position: fixed;
        background-color: #252525;
      & .tab-pane {
          text-align: center;
      }
    }
    & .panel-title {
        @extend .unseletable-content;
        float: left;
        padding: 8.5px 0 8.5px 5px;
        text-transform: capitalize;
        color: #c7c7c7;
        font-size: 14px;
        text-align: left;
    }
    .item i {
        color: #999999;
        border: none !important;
    }
    .item.active {
        cursor: pointer !important;
        border-left: 3px solid #2fb8b0 !important;
        padding-left: 12px;
        background-color: #252525 !important;
        color: #d2d2d2 !important;
    }
    .item:hover i{
        cursor: pointer !important;
        color: #d2d2d2 !important;
    }
    .panel-actions {
        float: right;
        margin: 8.5px 10px 0 0;
        & i.fw {
            opacity: 0.3;
            padding:10px;
            font-size: 11px;
            margin-top: -10px;
            &.active {
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                    background-color: #222;
                }
            }
        }
    }
    & .panel-content {
        margin-top: 1px;
        text-align: left;
    }
  }