
.welcome-page {
  background-color:#f9f9f9;
  height: auto;
  min-height: 100%;
  padding: 50px 0;

  .media-welcome-container{
    background-color: #f9f9f9;
    height: auto;
    padding:20px;
    display: flex;
    align-items: stretch;

    .media-left{
      width: 300px;
      padding: 20px 40px 20px 20px;
      border-right: 1px solid #ccc;
      height: auto;

      .logo {
        width: 200px;
        padding: 10px;
        margin-bottom: 30px;
        height: 50px;
      }

      .button {
        width: 200px;
        height: 37px;
        border: 0;
        margin: 15px 0 0 0;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        font-weight: 300;
        text-shadow: none;

        &.btn-primary {
          background-color: $brand-primary !important;

          &:hover{
            background-color: #30a9a2 !important;
            font-weight: 400;
          }
        }

        &.btn-secondary {
          background-color: #444 !important;

          &:hover{
            background-color: #333 !important;
            font-weight: 400;
          }
        }
      }
      .nav {
        li {
          list-style: none;
          a {
            color: $brand-primary;
            text-decoration: none;
            
              &:hover {
                background-color: #f9f9f9;
                color: #333;
                font-weight: 400;
              }
          }
        }
      }
    }

    .media-body{
      width: 100%;
      padding: 20px 20px 0 20px;

      .welcome-details-wrapper{

        .header-title{
          font-size: 18px;
          font-weight: 400;
          margin-left: 20px;
          margin-bottom: 20px;
        }

        .details-container{
          margin: 0 0 25px 20px;
          background-color: #f1f1f1;
          padding: 10px 20px;

          .thumbnail-wrapper {
            padding: 0;
            min-height: 205px;

            .thumbnail {
              background-color: #fff;
              margin: 9px 5px 15px 15px;
              cursor: pointer;
              width: 90%;
              height: auto;
              padding-bottom: 30px;
              position: relative;

              &:hover{
                border: 1px solid #a9a1a1;
                -webkit-box-shadow: 0 1px 2px rgba(58, 58, 58, 0.3);
                box-shadow: 0 1px 2px rgba(58, 58, 58, 0.3);
              }

              .caption {
                padding: 10px 10px 5px 10px;
                position: absolute;
                bottom: 0;

                h4 {
                  font-size: 12pt;
                  color: #4a4a4a;
                  font-weight: 400;
                  margin: 5px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
