.welcome-page {
  background-color: $primaryBackgroundColor;
  height: auto;
  margin:0 !important;
  .welcome-navbar {
    color: $secondary-color;
    margin-top: 30px;
    .nav-tagline {
      font-size: 16px;
      padding-left: 35px !important;
    }
    .top-nav-links {
      padding-right: 5px;
      float: right;
      .item {
        color: #333;
        &:before {
          display: none;
        }
        &:hover{
          color: $brand-primary;
        }
      }
    }
  }
  .welcome-content-wrapper {
    margin-bottom: 8%;
    .leftContainer {
      padding: 0 35px !important;
      color: $secondary-color;
      .button-wrapper {
        margin: 30px 0 40px;
        .button {
          width: 100%;
          height: auto;
          border: 0;
          margin: 5px 0;
          padding: 10px 0;
          font-size: 16px;
          cursor: pointer;
          font-weight: 300;
          text-shadow: none;
          &.btn-primary {
            background-color: $brand-primary !important;
            color: $white;
            &:hover {
              background-color: $brand-primary-hover !important;
              font-weight: 400;
            }
          }
          &.btn-secondary {
            background-color: $secondary-color !important;
            color: $white;
            &:hover {
              background-color: $secondary-color-hover !important;
              font-weight: 400;
            }
          }
        }
      }
    }
    .rightContainer {
      background-color: #f1f1f1;
      padding: 0 35px!important;

      .sample-wrapper {
        ul{
            padding: 0;
            li {
                list-style: none;
                font-size: 16px;
            }
            a {
                color: #57595d;
            }
            a:hover {
                color: #3ad1ca;
            }
        }
        .title {
            font-weight: 600;
            border-bottom: 1px solid #cecfd0;
            color: #57595d!important;
            padding: 10px 0;
        }
        .list-item {
            border-bottom: 1px solid #cecfd0;
            padding: 4px 15px;
        }
      }
    }
  }
}