package {{apiPackage}};
import ballerina.net.http;

connector {{classname}}() {

    endpoint<http:ClientConnector> endpoint {
        create http:ClientConnector("{{basePath}}", {});
    }
{{#operations}}
{{#operation}}
    action {{nickname}} ( string url , http:Request req ) (http:Response) {
        //Create sample json message as follows.
        //message request = {};
        //messages:setHeader(request, "Content-Type", "application/json");
        //Users can process input message msg as per requirements.
        http:Response response;
        response, _ = http:ClientConnector.{{httpMethod}}(url , req);
        return response;
    }
{{/operation}}
{{/operations}}
}