package {{apiPackage}};
import ballerina.net.http;

connector {{classname}}() {

    endpoint<http:ClientConnector> ep {
        create http:ClientConnector("{{basePath}}", {});
    }
{{#operations}}
{{#operation}}
    action {{nickname}} ( string url , http:Request req ) (http:Response) {
        //Create sample json request as follows.
        //http:Request request = {};
        //request.setHeader("Content-Type", "application/json");
        http:Response response;
        response, _ = ep.{{httpMethod}}(url , req);
        return response;
    }
{{/operation}}
{{/operations}}
}