.activity-bar {
    height: calc(100% - 27px);
    padding: 0;
    width: 40px;
    position: fixed;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    background: $left-toolbar-bgcolor;
    
    & .nav-tabs > li i {
        color: $left-toolbar-link-color;
        opacity: 0.6;
    }
}