.panel {
    .panel-header {
        & > rect {
            fill: $panel-header-bgcolor;
            stroke: $panel-header-border-color;
            stroke-width: 2px;
        }

        & > text {
            fill: $panel-header-color;
        }
    }

    .panel-body {
        & .panel-body-rect {
            fill: $panel-body-bgcolor;
            fill-opacity: 0.4;
            stroke-width: 2px;
            //shape-rendering: crispEdges;
            stroke: $panel-body-border-color;

            &.rect.drop-zone {
               fill: $panel-body-dropzone-bgcolor;
               fill-opacity: 0;
            }
        }
    }
}

.default-worker-life-line line {
    stroke: $worker-life-line-color;
}

.import-badge {
    fill: #ffffff;
}

.package-definition-header {
    fill: $package-configs-bgcolor;
    cursor: pointer;
}

.package-definition-label {
    dominant-baseline: central;
    fill: $package-definition-color;
}

.annotation-container {
    background: #EFEFEF;
    overflow: auto;
    padding: 7px;
}

.annotation-table td {
    height: 20px;
    line-height: 20px;
}

.annotation-key .package-name {
    font-weight: 300;
    color: #f39c12;
}

.react-autosuggest__suggestion .react-autosuggest__suggestion--highlighted,
.react-autosuggest__suggestion:hover {
    background: #333;
    color: #eee;
    cursor: pointer;
}

.annotationRect {
    fill: $annotation-wrapper-bgcolor;
    shape-rendering: crispEdges;
    stroke: #ccc;
    stroke-width: 0.5;
}

.annotation-text {
    font-size: 0.90em;
    fill: $annotation-wrapper-text-color;
}