.composer-dialog {
    &.modal-dialog{
        width: 700px;
        .modal-content {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            border-radius: 0;
            color: #fefefe;
            background-color: #222222;
            .modal-header {
                padding: 10px;
                border-bottom: none;
                .close {
                    color: #fefefe;
                    outline: none;
                    span {
                        padding-top: 0;
                        float: right;
                    }
                }
                .modal-body-seperator {
                    border-top: 1px solid #2C2C2C;
                    width: 92%;
                }
                .alert {
                    &.alert-danger {
                        background-image: none;
                        margin-top: 10px;
                        border: 1px red solid;
                        background-color: #6D1717;
                    }
                }
            }
            .modal-body {
                margin: 10px;
                i {
                    &.fw.danger {
                        color: rgb(182, 35, 35);
                    }
                }
            }
            .modal-footer {
                padding: 10px;
                border-top: none;
            }
            & .btn {
                text-transform: capitalize;
                text-shadow: none;
                box-shadow: none;
                border: none;
                outline: none;
                border-radius: 0;
                &.btn-default {
                    background: $modal-btn-default-bgcolor;
                    color: $modal-btn-default-color;
                    &:hover {
                        background: $modal-btn-default-hover-bgcolor;
                        color: $modal-btn-default-hover-color;
                    }
                }
                &.btn-primary {
                    background: $modal-btn-primary-bgcolor;
                    border-color: $modal-btn-primary-bgcolor;
                    color: $modal-btn-primary-color;
                    &:hover {
                        background-color: $modal-btn-primary-hover-bgcolor;
                        border-color: $modal-btn-primary-hover-bgcolor;
                        color: $modal-btn-primary-hover-color;
                    }
                }
            }
            & .file-type-list {
                height: 34px;
            }
            & a {
                color: $modal-btn-primary-bgcolor;
                outline: none;
            }
        }
    }
}
