.dynamic-region {
    float: right;
    height: 1000px;
    width: calc(100% - 40px);
    & .lm_goldenlayout {
        background: rgb(40, 40, 40);
    }
    & .lm_content {
        color: white;
        background-color: rgb(60, 60, 60);
    }
    & .lm_header {
        background-color: rgb(40, 40, 40);

        & .lm_tab {
            margin: 0;
            box-shadow: none;
            height: 30px !important;
            line-height: 30px;
        }
        & .lm_close_tab {
            height: 25px !important;
        }
        & .lm_controls {
            top:7px;
        }
    }
}

