body {
    &.sticky-footer footer {
        position: absolute;
        bottom: 0;
        z-index: 1000;
        height: 20px;
        min-height: 20px;
        padding-bottom: 20px;
    }
    
    & footer {
        background: $footer-bgcolor;
        color: $footer-color;
    }
}