.header.header-default {
    background-color: $header-bgcolor;
    min-height: $header-min-height;

    & .brand {
        @extend .unseletable-content;
        font-size: 16px;
        cursor: default;
        color: $header-brand-color;
        padding: 0 10px;
        margin-right: 25px;
        line-height: 35px;
        
        & a {
            color: $header-brand-color;
        }
        
        & span.appname {
            color: #f17b31;
            margin-left: 5px;
        }
    }
}