.grid-background {
    background-color: $tab-content-wrapper-bgcolor !important;
    background:  linear-gradient(-90deg, $tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient($tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient(-90deg, $tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient($tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                 linear-gradient(-90deg, transparent 1px, transparent 1px),
                 linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                 linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size: 10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px;
}

.docerina-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.initial-doc-background-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.media-welcome-container {
  width: 100%;
  padding: 20px;

  & > .media-left {
    width: 300px;
    padding: 20px 40px 20px 20px;
    border-right: 1px solid #ccc;
    height: auto;

    & > .logo {
      width: 200px;
      padding: 10px;
      margin-bottom: 30px;
    }

    & .btn {
      width: 200px;
      height: 37px;
      border: 0;
      margin: 15px 0 0 0;
      color: #fff;
      font-size: 16px;

      &.btn-primary{
        background-color: $btn-primary-bgcolor;
      }

      &.btn-secondary {
        background-color: $btn-secondary-bgcolor;
      }
    }

    & > .nav-pills{
      margin-top: 20px;

      & > li{
        display: block;
        width: 100%;
        padding:5px;
        margin: 0;

        & a{
          padding: 0;
          font-weight: 400;

          &:hover, &:focus {
            background-color: #fff;
            color: #f17b31;
          }
        }
      }
    }
  }

  & > .media-body {
    width: 100%;
    padding: 20px 20px 0 20px;

    & > .welcome-details-wrapper {

      & > .header-title {
        font-size: 18px;
        font-weight: 400;
        margin-left: 20px;
      }

      & > .details-container {
        margin-top: 10px;
        background-color: $welcome-details-content-wrapper-bgcolor;
        padding: 10px;
        margin-bottom: 25px;
        margin-left: 20px;

        & .thumbnail-wrapper {
          padding: 0;
          min-height: 205px;

          & > .thumbnail {
            background-color: $welcome-tile-view-wrapper-bgcolor;
            min-height: 100px;
            margin: 15px;
            cursor: pointer;

            &.multiple {
              box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1),
                          0 0.5em 0 -0.25em #fff,
                          0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1),
                          0 1em 0 -0.5em #fff,
                          0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
              position: relative;

              &:before {
                @include font-wso2('ballerina-service');
                position: absolute;
                bottom: 10px;
                right: 10px;
              }
            }

            & > img{
              max-width: 90%;
            }

            & > .caption {
              padding: 10px 10px 0 10px;

              & > h4 {
                font-size: 12pt;
                color: #4a4a4a;
                font-weight: 400;
                margin: 5px 0;
              }

              & > p {
                font-size: 12px;
                color: #7b7b7b;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
