.editor-area {
    .rc-tabs {
        border-bottom: none;
        .rc-tabs-bar {
            border-bottom: none;
            & .rc-tabs-nav-container {
                background-color: #282828;
            }
            & .rc-tabs-nav-container-scrolling {
                & .rc-tabs-tab-next, .rc-tabs-tab-prev {
                    @extend .unseletable-content;

                    background-color: #565656;
                    color: #999999;
                    height: 20px;
                    padding: 2px 0 2px 0;
                    border-left: 1px solid #3c3c3c;
                    border-right: 1px solid #3c3c3c;
                    line-height: 1;
                    &.rc-tabs-tab-btn-disabled {
                        color: #686868;
                    }
                }
            }
            & .rc-tabs-ink-bar {
                display: none !important;
            }
        }
        .rc-tabs-tab {
            @extend .unseletable-content;
            background-color: #565656;
            color: #999999;
            height: 20px;
            min-width: 120px;
            padding: 1px 5px 1px 5px;
            margin-right: 0;
            border-right: 1px solid #16191d;
            .tab-icon {
                margin-right: 10px;
                font-size: 10px;
                position: relative;
                bottom: 1px;
            }
            &:hover{
                color: #bebebe;
                background-color: #3c3c3c;
            }
            &.rc-tabs-tab-active {
                &.inverse {
                    color: #333;
                    background: white;
                }
                color: #bebebe;
                background-color: #3c3c3c;
                border-left: 3px solid #f17b31;
            }
            .close-tab {
                color: #999999;
                top: 2px;
                position: absolute;
                right: 3px;
                line-height: 15px;
                text-shadow: none;
                &:hover{
                    color: #bebebe;
                }
            }
        }
        .rc-tabs-tabpane {
    
        }
    }
}

#tab-content-wrapper {
    position: relative;
}

.bottom-right-controls-container {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 30;
    background: $bottom-right-controls-bgcolor;
    color: #fff;
    padding: 0;
    line-height: 30px;
}