
.tab-headers {
    background-color: $tab-header-bgcolor;
    
    & > ul > li {
        min-width: 120px;
        color: rgb(153, 153, 153);
        font-weight: 100;
        margin: 0;
        padding-right: 17px;
        padding-left: 5px;
        border-right: 1px;
        background: $tab-header-inactive-tab-bgcolor;
        border-left: 1px solid #333;
        
        &.active {
            background: $tab-header-active-tab-bgcolor;
            color: #555;
            border-left: 3px solid #f17b31;

            &.inverse {
                color: rgb(190, 190, 190);
                background: $tab-header-active-inverse-tab-bgcolor;
            }
        }
    }
}

#tab-content-wrapper {
    position: relative;
    background-color: $tab-content-wrapper-bgcolor !important;
    background:  linear-gradient(-90deg, $tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient($tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient(-90deg, $tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient($tab-content-wrapper-grid-color 1px, transparent 1px),
                 linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                 linear-gradient(-90deg, transparent 1px, transparent 1px),
                 linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
                 linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size: 10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px,
                     10px 10px;
}

.bottom-right-controls-container {
    position: absolute;
    bottom: 0px;
    right: 30px;
    z-index: 30;
    background: $bottom-right-controls-bgcolor;
    color: #fff;
    padding: 0;
    line-height: 30px;
}