.tab-container {
    background-color: $tab-container-bgcolor;
}

.tab-headers {
    background-color: $tab-header-bgcolor;
    
    & > ul > li {
        min-width: 120px;
        color: rgb(153, 153, 153);
        font-weight: 100;
        margin: 0;
        padding-right: 17px;
        padding-left: 5px;
        border-right: 1px;
        background: $tab-header-inactive-tab-bgcolor;
        border-left: 1px solid #333;
        
        &.active {
            background: $tab-header-active-tab-bgcolor;
            color: #555;
            border-left: 3px solid #f17b31;

            &.inverse {
                color: rgb(190, 190, 190);
                background: $tab-header-active-inverse-tab-bgcolor;
            }
        }
    }
}

#tab-content-wrapper {
    position: relative;
}

.bottom-right-controls-container {
    position: absolute;
    bottom: 0;
    right: 30px;
    z-index: 30;
    background: $bottom-right-controls-bgcolor;
    color: #fff;
    padding: 0;
    line-height: 30px;
}