body {
    & .tooltip.tool-palette {
        display: none !important;
    }

    &.tool-palette-view-tiles {
        & .tooltip.tool-palette {
            display: inherit !important;
        }
    }
}

.tool-palette-container {
    background: $tool-palette-container-bgcolor;

    & .tool-group-header {
        background: $tool-group-header-bgcolor;
        
        & > a {
            color: $tool-group-header-text-color;

            &:hover {
                color: $brand-primary;
            }
        }
    }
    
    & .tool-group-body {
        & .tools-view-modes-controls {
            margin-bottom: 10px;
        }
        
        & .tool-container {
            width: 39px;
            height: 39px;
            margin: 3px;
            cursor: pointer;
            border: 1px solid $tool-group-header-bgcolor;
            padding: 3px;
            white-space: nowrap;
            text-align: center;

            & .icon {
                color: $tool-title-color;
                font-size: 24px;
                margin-top: 3px;
                vertical-align: text-bottom;
            }
            
            &:hover {
                & .icon,
                & .tool-title {
                    color: $brand-primary;
                }
            }
        }

        & .tool-separator {
            width: 100%;
            border-bottom: 1px solid $tool-separator-color;
            clear: both;
            padding-top: 12px;
            margin-bottom: 12px;
        }
        
        &.tool-group-body-list {
            margin-left: -4px;

            & .tool-container {
                height: 28px;
                text-align: left;
                border: none;

                & .icon {
                    font-size: 16px;
                }

                & .tool-title {
                    margin-top: -1px;
                    vertical-align: text-top;
                    margin-left: 8px;
                    font-size: 0.94em;
                }
            }
            
            & .tooltip {
                display: none !important;
            }

            & .tool-container-vertical {
                & .tool-container-vertical-icon {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    border: 1px solid $tool-group-header-bgcolor;
                    padding: 3px;
                    white-space: nowrap;
                    text-align: center;
                    float: left;

                    & .tool-image {
                        margin-top: -3px;
                    }
                }
                & .tool-container-vertical-title {
                    color: $tool-title-color;
                }
                & .tool-title {
                    display: none;
                }

                &:hover {
                    & .tool-container-vertical-title {
                        color: $brand-primary;
                    }
                }
            }
        }
        
        & .tool-title {
            color: $tool-title-color;
            font-size: 0.94em;
            display: none;
        }
        
        &.tool-group-body-grid {
            & .icon {
                font-size: 24px;
            }
            
            & .tool-title {
                color: $tool-title-color;
                display: inline-block;
            }
            
            & .tooltip {
                display: none !important;
            }
        }
    }
}

.theme-chooser {
    & .theme-pick {
        border: 2px solid #4a4a4a;
        margin-right: 5px;
        margin-top: 5px;
        height: 30px;
        width: 30px;
        display: inline-block;
        
        & > .square {
            display: block;
            height: 26px;
            width: 26px;

            &.light {
                background: #f5f5f5;
            }

            &.dark {
                background: #000;
            }

            &.default {
                background: #f5f5f5;
                border-top: 8px solid #000;
                border-left: 8px solid #000;
            }
        }
    }
}