.tool-palette-container {
    background: $tool-palette-container-bgcolor;

    & .tool-group-header {
        background: $tool-group-header-bgcolor;
        
        & > a {
            color: $tool-group-header-text-color;
        }
    }
    
    & .tool-group-body {
        & .tool-container {
            width: 39px;
            height: 39px;
            margin: 3px;
            float: left;
            cursor: pointer;
            border: 1px solid $tool-group-header-bgcolor;
            padding: 3px;
            white-space: nowrap;
            text-align: center;
        }

        & .tool-separator {
            width: 100%;
            padding-top: 7px;
            border-bottom: 1px solid $tool-separator-color;
            clear: both;
            margin: 0 0 7px 0;
        }
        
        &.tool-group-body-list {
            .tool-container-vertical {
                & .tool-container-vertical-icon {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    border: 1px solid $tool-title-color;
                    padding: 3px;
                    white-space: nowrap;
                    text-align: center;
                    float: left;
                }
                & .tool-container-vertical-title {
                    color: $tool-title-color;
                }
                & .tool-title {
                    display: none;
                }
            }
        }
        
        & .tool-title {
            color: $tool-title-color;
            font-size: 0.84em;
            display: none;
        }
        
        &.tool-group-body-list {
            & .tool-container {
                height: 28px;
                text-align: left;
                border: none;
            }
            
            & .tool-title {
                display: inline-block;
            }
        }
        
        &.tool-group-body-grid {
            & .tool-title {
                display: inline-block;
            }
        }
    }
}

.theme-chooser {
    & .theme-pick {
        border: 2px solid #4a4a4a;
        margin-right: 5px;
        margin-top: 5px;
        height: 30px;
        width: 30px;
        display: inline-block;
        
        & > .square {
            display: block;
            height: 26px;
            width: 26px;

            &.light {
                background: #f5f5f5;
            }

            &.dark {
                background: #000;
            }

            &.default {
                background: #f5f5f5;
                border-top: 8px solid #000;
                border-left: 8px solid #000;
            }
        }
    }
}