.tool-bar {
    .tool-bar-group {
        height: 30px;
        float: left;
        border-right: 1px solid #555;
        .tool-bar-tool {
            float: left;
            width: 35px;
            height: 30px;
            text-align: center;
            margin: 0px !important;
            background-color: #3c3f41;
            color: white;
            font-size: 13px;
        }
    }
}