/*struct-variable-definition-type-rect
struct-variable-definition-type-text
struct-variable-definition-identifier-rect
struct-variable-definition-identifier-text
struct-variable-definition-value-rect
struct-variable-definition-value-text*/

.struct-variable-definition-type-rect, .struct-variable-definition-identifier-rect, .struct-variable-definition-value-rect,
.new-type-drop-rect, .new-identifier-rect, .new-value-rect, .struct-content-operations-submit-wrapper{
    fill: #FFFFFF;
    stroke-width: 1;
    stroke: #CCC;
    shape-rendering: crispEdges;
}
.struct-definition-statement:hover{
    font-weight: 400;
}

.struct-definition-statement:hover .struct-statement-delete{
    font-weight: 400;
    visibility: visible;
}

.struct-statement-delete {
    visibility: hidden;
}

.struct-statement-delete {
    font-size: 22px;
    cursor: pointer;
}

.struct-import-json-button {
    fill: #666769;
    stroke-width: 0.5;
    stroke: #dfdfdf;
    shape-rendering: crispEdges;
    cursor: pointer;
}

.struct-import-json-text {
    dominant-baseline: middle;
    fill: #c4c5c6;
    cursor: pointer;
}

.struct-import-json-text:hover {
    dominant-baseline: middle;
    fill: #ffffff;
    cursor: pointer;
}

.modal-body .ace_tooltip {
    transform: translate(0px, -75px);
    left: 10px !important;
}

