.diagram-container {
    text{
        fill: black;
        dominant-baseline: central;
        
    }
    .diagram-canvas {
        .panel {
            .panel-body{
                fill: antiquewhite;

                .life-line{
                    stroke:black;
                    stroke-width: 1px;
                    text{
                        stroke-width: 0px;
                        text-anchor: middle;
                    }
                }
            }
            
            .panel-header{
                fill: bisque;
                .panel-icon {
                    font-family: "font-ballerina"
                }
            }
        }
    }

    .diagram-controllers {
        .top-menu {
            padding: 8px 35px 8px 30px;
            .left.menu {
                .item {
                    margin-right: 8px;
                    .text {
                        margin-left: 8px;
                    }
                    &.primary {
                        background-color: #24aaa2;
                        color: #FFFFFF;
                    }
                    &.secondary {
                        background-color: #626262 ;
                        color: #FFFFFF;
                    }
                }
                .zoom-controllers, .add-definitions {
                    margin-left: 8px;
                }
            }
        }
    }
    .non-editable-text {
        cursor: default
    }
    .editable-text {
       cursor: text
    }
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
    }
}