
.diagram-controllers {
    position: absolute;
    top:0;
    & div {
        display: inline-block;
        padding:10px;
    }
}

.panel-body{
    fill: antiquewhite;
}

.panel-header{
    fill: bisque;
}