.dropdown-content {
    display: block;
    position: absolute;
    background-color: #dcdcdc;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
