.modal-dialog.servicedef-properties-modal-dialog {
    margin: 100px auto 0;
}

.servicedef-properties-modal-dialog {
    width: 745px;
}

.submitServiceDefProperty{
    margin-right: 10px;
}

.property-dialog-label{
    margin-top: 8px;
    font-weight: 300;
    text-align: right;
    padding-top: 3px;
}

.property-dialog-form-control{
    width: 100%;
    background-color: #fff;
    padding-left: 10px;
    color: #232222;
    font-weight:300;
    margin-top: 8px;
    border: dashed 1px #999;
    height: 25px;
}

.property-dialog-form-control::-webkit-input-placeholder { /* Chrome */
    color: #232222;
    opacity: 0.4;
    font-style: italic;
}
.property-dialog-form-control:-ms-input-placeholder { /* IE 10+ */
    color: #232222;
    opacity: 0.4;
    font-style: italic;
}
.property-dialog-form-control::-moz-placeholder { /* Firefox 19+ */
    color: #232222;
    opacity: 0.4;
    font-style: italic;
}

.property-dialog-form-btn{
    float: right;
    margin-right: 43px;
}

/*Tags Input*/
#ulContainer {
    padding: 5px;
    border-radius: 5px;
}

.tagItems {
    display: inline-block;
    padding: 2px;
    border: 2px solid #9E9E9E;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.tagInput{
    outline: none;
    border: none;
    color: #232222;
    width: 40%;
}

.tagLabel{
    width: 100%;
    background-color: #fff;
    border: dashed 1px #999;
    padding-left: 10px;
    font-weight: 300;
    color: #232222;
}

.toggle {
    -webkit-appearance: none;
    margin-left: 10px;
    appearance: none;
    width: 75px;
    height: 26px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
    border: 1px solid #b5a7a7;
}

.toggle:before {
    content: "True False";
    display: block;
    position: absolute;
    z-index: 2;
    width: 27px;
    height: 25px;
    background: #fff;
    left: 0px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -36px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
    background-color: #4CD964;
}

.toggle:checked:before {
    left: 48px;
}

.deleteSpan{
    background-color: #a7a0a0;
    margin-left: 9px;
    display: inline-block;
    width: 15px;
}

.iconDelete{
    font-size: 11px;
    margin-left: 2px;
}

/*New popup window*/
#property-modal {
    background-color: #efefef;
    position: absolute;
    width: 40%;
    z-index:1000;
    box-shadow:  0 3px 10px rgba(0, 0, 0, 0.42);
}

.form-header{
    text-align: left;
    background: gainsboro;
    margin: 0;
    padding: 1px 10px;
}

.form-body {
    text-align: center;
}

.properties-checkbox{
    text-align: left;
}

#propertyWindowHolder{
    width: 100%;
    height: 100%;
}

.properties-tags{
    text-align: left;
}

.tagInput::-webkit-input-placeholder {
    font-weight: normal;
    font-style: italic;
    color: #6f6f6f;
}

.propertyForm{
    text-align: left;
    margin-top: 19px;
}

.close > span {
     padding-top: 9px;
     float: left;
 }

.close > span:hover {
     color: #333;
     opacity: 1;
 }

.collapsiblePanelBody {
    padding-top: 10px;
    background-color: #efefef;
}

.structsContainer {
    background-color: #efefef;
}

#popover-arrow {
    position: absolute;
    top: 0;
    left: 4px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dcdcdc;
    width: 0;
    height: 0;
}

/* Form Progress */
.paginationProgress {
    text-align: center;
    height: 50px;
    background-color: #efefef;
    box-shadow: none;
    position:absolute;
    bottom:0;
    width:100%;
}
.paginationProgress .circle,
.paginationProgress .bar {
    display: inline-block;
    width: 31px;
    height: 29px;
    border-radius: 37px;
    border: 1px solid #d5d5da;
    margin-right: 30px;
}
.paginationProgress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -7px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.paginationProgress .circle .label {
    display: inline-block;
    width: 21px;
    height: 21px;
    line-height: 16px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 12px;
}
/* Done / Active */
.paginationProgress .bar.done,
.paginationProgress .circle.done {
    background: #eee;
}
.paginationProgress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
    cursor: pointer;
}
.paginationProgress .circle.done .label:hover {
    background-color: #0c95be;
    cursor:pointer;
}

.paginationProgress .circle.done .label {
    color: #FFF;
    background: rgba(140, 140, 140, 0.46);
    box-shadow: inset 0 0 63px rgba(0,0,0,.2);
}
.paginationProgress .circle.done .title {
    color: #444;
}
.paginationProgress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 63px rgba(0,0,0,.2);
}
.paginationProgress .circle.active .title {
    color: #0c95be;
}

.paginationProgress .prevNext {
    display: inline-block;
    width: 78px;
    height: 32px;
    margin-right: 30px;
    cursor: pointer;
}

.paginationProgress .prevNext.done .label:hover {
 background-color: #0c95be;
}

.paginationProgress .prevNext.done .label {
    color: #FFF;
    background: #8c8c8c;
    box-shadow: inset 0 0 63px rgba(0,0,0,.2);
    border-radius: 0;
    font-weight: 400;
}

.paginationProgress .prevNext .label {
    display: inline-block;
    width: 70px;
    height: 24px;
    line-height: 20px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 13px;
}

span { cursor: pointer; }

@keyframes slideUp{
    from {
        transform: translateY(-3%);
        opacity: 1;
    }
    to {
        transform: translateY(0%);
        opacity: 0;
    }
}

@keyframes slideDown{
    from {
        transform: translateY(-3%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* CSS Transition Group */

.propWindow-enter {
    opacity: 0.01;
}

.propWindow-enter.propWindow-enter-active {
    will-change: transform;
    animation: slideDown 1s ease;
}

.propWindow-leave {
    opacity: 1;
}

.propWindow-leave.propWindow-leave-active {
    will-change: transform;
    animation: slideUp 0.8s ease;

}

.propWindow-appear {
    opacity: 0.01;
}

.propWindow-appear.propWindow-appear-active {
    will-change: transform;
    animation: slideDown 1s ease;
}

.protocol-rect-clicked{
    fill: #6f7b96;
}

#dismissBtn {
    padding-right: 10px;
}

#viewOptionParams{
    padding-left: -10px;
    height: 25px;
    width: 22px;
    margin-left: -12px;
    margin-top: 6px;
}

.structsContainer input:disabled{
    cursor: not-allowed;
}

.optionsDiv{
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    border: solid 1px;
}