<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-test-suite">

    <!-- Ballerina language Test Cases. -->
    <test name="ballerina-lang-test-suite" preserve-order="true" parallel="false">
        <packages>
        <!--<package name="org.wso2.ballerina.lang.values"/>-->
        <!--<package name="org.wso2.ballerina.lang.expressions"/>-->
        <!--<package name="org.wso2.ballerina.lang.statements"/>-->
        <!--<package name="org.wso2.ballerina.lang.service"/>-->
            <package name="org.wso2.ballerina.lang.structs"/>
        </packages>
        
        <classes>
            <!-- Expressions -->
            <class name="org.wso2.ballerina.lang.expressions.AddExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.ArrayAccessExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.ArrayInitializerExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.BackQuoteExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.BinaryExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.DivideExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.ModExpressionTest"/>
            <class name="org.wso2.ballerina.lang.expressions.FuncInvocationExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.GreaterLessThanExprTest"/>
            <!-- Not used at the moment -->
            <!--<class name="org.wso2.ballerina.lang.expressions.InstanceCreationExprTest"/>-->
            <!--class name="org.wso2.ballerina.lang.expressions.MapAccessExprTest"/-->
            <class name="org.wso2.ballerina.lang.expressions.MapInitializerExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.MultiplyExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.NotEqualExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.StructTypeConvertorTest"/>
            <class name="org.wso2.ballerina.lang.expressions.SubstractExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.TemplateExpressionTest"/>
            <class name="org.wso2.ballerina.lang.expressions.TypeCastExprTest"/>
            <class name="org.wso2.ballerina.lang.expressions.TypeConvertorTest"/>
            <class name="org.wso2.ballerina.lang.expressions.TypeDivisionTest"/>
            <class name="org.wso2.ballerina.lang.expressions.UnaryExprTest"/>


            <!-- Values -->
            <class name="org.wso2.ballerina.lang.values.BArrayValueTest"/>
            <class name="org.wso2.ballerina.lang.values.BDoubleValueTest"/>
            <class name="org.wso2.ballerina.lang.values.BLongValueTest"/>
            <class name="org.wso2.ballerina.lang.values.BMapValueTest"/>
            <!-- Move this natives package -->
            <!--<class name="org.wso2.ballerina.lang.values.EscapeCharacterTest"/>-->


            <!-- Statements -->
            <class name="org.wso2.ballerina.lang.statements.AssignStmtNegativeTest"/>
            <class name="org.wso2.ballerina.lang.statements.AssignStmtTest"/>
            <class name="org.wso2.ballerina.lang.statements.AssignWithWideningTest"/>
            <class name="org.wso2.ballerina.lang.statements.FunctionStmtTest"/>
            <class name="org.wso2.ballerina.lang.statements.IfElseStmtTest"/>
            <class name="org.wso2.ballerina.lang.statements.NamedReturnParameterTest"/>
            <class name="org.wso2.ballerina.lang.statements.PackageImportTest"/>
            <!-- Enable this once connector implementation is done -->
            <!--<class name="org.wso2.ballerina.lang.statements.ReplyStmtTest"/>-->
            <class name="org.wso2.ballerina.lang.statements.ReturnStmtTest"/>
            <!--<class name="org.wso2.ballerina.lang.statements.ReturnStmtNegativeTest"/>-->
            <class name="org.wso2.ballerina.lang.statements.VariableDefinitionNegativeTest"/>
            <class name="org.wso2.ballerina.lang.statements.WhileStmtTest"/>


            <!-- services -->


            <!-- structs -->

        </classes>
    </test>

    <!-- Parser Level Test Cases -->
    <test name="ballerina-parser-unit-tests" preserve-order="true" parallel="false">
        <classes>
            <!-- Negative Test cases -->
            <!--<class name="org.wso2.ballerina.core.parser.negative.InvalidSyntaxParserTest"/>-->
        </classes>
    </test>

    <!-- Native Function Related Test Cases. -->
    <!--<test name="ballerina-native-functions-unit-tests" preserve-order="true" parallel="false">-->
    <!--<packages>-->
    <!--<package name="org.wso2.ballerina.core.nativeimpl.functions" />-->
    <!--<package name="org.wso2.ballerina.core.nativeimpl.lang" />-->
    <!--</packages>-->
    <!--</test>-->

    <!-- Native Connectors Related Test Cases -->
    <!--<test name="ballerina-native-connectors-unit-tests" preserve-order="true" parallel="false">-->
    <!--<packages>-->
    <!--<package name="org.wso2.ballerina.core.nativeimpl.connectors"/>-->
    <!--</packages>-->
    <!--</test>-->

    <!-- Runtime Test Cases -->
    <!--<test name="ballerina-runtime-unit-tests" preserve-order="true" parallel="false">-->
    <!--<packages>-->
    <!--<package name="org.wso2.ballerina.core.runtime"/>-->
    <!--</packages>-->
    <!--</test>-->
</suite>
