.drop-zone {
    &.rect {
        fill-opacity: 0;
        &.active {
            fill: green;
            fill-opacity: 0.2;
        }
        &.blocked {
            fill: red;
        }
        &.possible {
            fill: yellow;
            fill-opacity: 0.2;
        }
    }
}
.drop-zone-background {
    fill: white;
    fill-opacity: 1;
}
