package {{apiPackage}};
import ballerina.net.http;

@http:configuration {basePath:"/{{classname}}{{contextPath}}"}
service<http> {{classname}} {

{{#operations}}
    {{#operation}}
    @http:resourceConfig {
        methods:["{{httpMethod}}"],
        path:"{{path}}"
    }
    resource {{nickname}} (http:Request req, http:Response resp{{#allParams}}{{>pathParams}}{{/allParams}}) {
        //stub code - fill as necessary
        json payload;

        resp.setHeader("Server", "Powered by Ballerina");
        payload = {success:"true"};
        resp.setJsonPayload(payload);

        resp.send();
    }
    {{/operation}}

{{/operations}}

}
