.file-tree {
    .tree-node {
        color: #c7c7c7;
        cursor: pointer;
        overflow-y: hidden;
        &.empty {
            .tree-node-header {
                margin-left: 14px;
                .tree-node-arrow {
                    display: none;
                }
            }
        }
        .tree-node-header {
            line-height: 24px;
            .tree-node-arrow {
                margin-right: 6px;
                display: inline-block;
                &::after {
                    content: '▾';
                }
            }
            .tree-node-icon {
                margin-right: 5px;
            }
            .tree-node-label {

            }
        }
        .tree-node-children {
            margin-left: 16px;
        }
        &.collapsed {
            .tree-node-header {
                .tree-node-arrow {
                    transform: rotate(-90deg);
                }
            }
            .tree-node-children {
                height: 0px;
            }
        }
    }
}