.explorer-item {
    .root {
        padding: 5px;
        cursor: pointer;
        line-height: 24px;
        vertical-align: middle;
        color: rgb(199, 199, 199);
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        font-size: 14px;
        .arrow, .icon, .root-label {
            margin-left: 5px;
        }
        .arrow {
            display: inline-block;
            transition: all 0.1s;
            &::after {
                content: '\25BE',
            }
            &.collapsed {
                transform: rotate(-90deg);
            }
        }
        .root-label {
            padding-left: 0;
            color: rgb(199, 199, 199);
        }
        .root-actions {
            float: right;
            margin-right: 5px;
            &:hover {
                .action {
                    opacity: 0.6;
                }
            }
            .action {
                opacity: 0;
                margin-right: 10px;
                &:hover {
                    opacity: 1;
                }
            }
        }
        &:hover {
            background: #2E2E2E
        }
        &.active {
            background: #232323;
            .root-actions {
                .action {
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .file-tree {
        margin-left: 10px;
    }
}