<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

WSO2 Inc. licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file except
in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-natives-test-suite">

    <!-- Native Function Related Test Cases. -->
    <test name="ballerina-native-functions-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.nativeimpl.functions"/>
        </packages>
    </test>

    <!-- Native Connectors Related Test Cases -->
    <test name="ballerina-native-connectors-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.nativeimpl.actions"/>
        </packages>
    </test>

    <!-- Native TypeConvertors Related Test Cases -->
    <test name="ballerina-native-type-convertors-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.nativeimpl.typemappers"/>
        </packages>
    </test>

    <!-- Worker Related Test Cases -->
    <test name="ballerina-core-worker-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.core.lang.worker"/>
        </packages>
    </test>

    <test name="ballerina-native-expr-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.expressions"/>
        </packages>
    </test>

    <test name="ballerina-native-stmt-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.statements"/>
        </packages>
    </test>

    <test name="ballerina-native-struct-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.structs"/>
        </packages>
    </test>

    <test name="ballerina-native-values-unit-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.ballerinalang.values"/>
        </packages>
    </test>

    <!-- Service Related Test Cases -->

    <test name="ballerina-service-unit-tests" preserve-order="true" parallel="false">
        <classes>
            <!-- TODO : Add other testcases. -->
            <class name="org.ballerinalang.service.ServiceTest"/>
            <class name="org.ballerinalang.service.UriTemplateDispatcherTest"/>
            <class name="org.ballerinalang.service.UriTemplateBestMatchTest"/>
        </classes>
    </test>

    <test name="ballerina-any-type-test-suite">
        <classes>
            <class name="org.ballerinalang.any.BAnyTypeNativeSuccessScenariosTest"/>
        </classes>
    </test>

    <!-- TODO : Fix this. -->
    <!--<test name="ballerina-global-var-test-suite">
        <classes>
            <class name="org.ballerinalang.globalvar.GlobalVarServiceTest"/>
            <class name="org.ballerinalang.globalvar.GlobalVarServicePkgTest"/>
        </classes>
    </test>-->

    <!-- WebSocket Test Cases -->
    <test name="websocket-test-cases" parallel="false">
        <classes>
            <class name="org.ballerinalang.nativeimpl.functions.ws.WebSocketEndpointTest"/>
            <class name="org.ballerinalang.nativeimpl.functions.ws.ConnectionGroupTest"/>
            <class name="org.ballerinalang.nativeimpl.functions.ws.ConnectionStoreTest"/>
        </classes>
    </test>

    <!-- TODO : Fix This -->
    <!--<test name="ballerina-identifier-literal-test-suite">
        <classes>
            <class name="org.ballerinalang.identifierliteral.IdentifierLiteralServiceTest"/>
        </classes>
    </test>-->

    <test name="ballerina-error-test-suite">
        <classes>
            <class name="org.ballerinalang.core.lang.error.TestErrorReturn"/>
            <class name="org.ballerinalang.core.lang.error.TryCatchThrowStmtTest"/>
            <class name="org.ballerinalang.core.lang.error.TestFinallyBlock"/>
        </classes>
    </test>
</suite>
