public function main (string... args) {
{{#if blockingEP}}
    {{serviceName}}BlockingClient blockingEp = new("http://localhost:9090");
{{else}}
    {{serviceName}}Client ep = new("http://localhost:9090");
{{/if}}
}
{{#unless blockingEP}}
service {{serviceName}}MessageListener = service {

    resource function onMessage(string message) {
        // Implementation goes here.
    }

    resource function onError(error err) {
        // Implementation goes here.
    }

    resource function onComplete() {
        // Implementation goes here.
    }
};{{/unless}}
