public type {{messageName}} {{#fieldList}}"{{name}}"{{#unless @last}}|{{/unless}}{{/fieldList}};
public {{#fieldList}}const {{../messageName}} {{uppercase ../messageName}}_{{uppercase name}} = "{{name}}";
{{/fieldList}}