{{#each this}}
public type {{this.messageName}} record {|
    {{#this.fieldList}}{{fieldType}}{{fieldLabel}} {{fieldName}}{{#if defaultValue}} = {{defaultValue}}{{/if}};
    {{/this.fieldList}}
|};
{{/each}}