import ballerina/grpc;
import ballerina/io;

public function main (string... args) {
     endpoint {{serviceName}}Client ep {
        url:"http://localhost:9090"
     };
{{#if blockingEP}}
    endpoint {{serviceName}}BlockingClient blockingEp {
        url:"http://localhost:9090"
    };
{{/if}}
}

service<grpc:Service> {{serviceName}}MessageListener {

    onMessage (string message) {
        io:println("Response received from server: " + message);
    }

    onError (error err) {
        io:println("Error reported from server: " + err.reason());
    }

    onComplete () {
        io:println("Server Complete Sending Responses.");
    }
}