{{#if stubList}}import ballerina/grpc;
{{/if}}{{#stubList}}
{{> stub}}
{{/stubList}}{{#each messageMap}}
{{> message}}{{/each}}
{{#enumList}}
{{> enum}}{{/enumList}}{{#if rootDescriptor}}
const string ROOT_DESCRIPTOR = "{{rootDescriptor}}";
function getDescriptorMap() returns map<string> {
    return {
        {{#each descriptors}}"{{descriptorKey}}":"{{descriptorData}}"{{#unless @last}},{{/unless}}
        {{/each}}
    };
}{{/if}}
