<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="docerina-theme/libs/bootstrap-3.0.0/css/bootstrap.min.css">

        <!-- Roboto font CSS -->
        <link rel="stylesheet" href="docerina-theme/css/roboto.css">

    	<!-- custom CSS -->
    	<link rel="stylesheet" href="docerina-theme/css/main.css">

    	<title>Ballerina API Documentation</title>
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><span class="bold"> Ballerina </span> API Documentation</a>
				</header>

				<!-- Banner -->
				<section>
					<div class="content">
						    <h2>Ballerina Packages</h2>
                            <ul>
                                {{#each this}}
                                <li>
                                    <a href="{{prefix}}{{suffix}}.html">
                                        {{prefix}}<span class="bold">{{suffix}}</span>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
						<p></p>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>