<!DOCTYPE HTML>
<html>
<head>
	<title>Ballerina API Documentation</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><strong>Ballerina</strong> API Documentation</a>
				</header>

				<!-- Banner -->
				<section>
					<div class="content">
						    <h2>Ballerina Packages</h2>
                            <ul>
                                {{#each this}}<li><a href="{{this}}.html">{{this}}</a></li>{{/each}}
                            </ul>
						<p></p>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>
</html>