<div class="primary-list">
    <h3>All Modules</h3>
    <ul>
        {{#each data.modules}}
        <li>
            <a href="{{ ../rootPath }}{{id}}/index.html">{{id}}</a>
        </li>
        {{/each}}
    </ul>
    <div class="ui divider"></div>
</div>