
#tool-palette{
    height: 100%;
    border-right: 2px solid #373737;
    width: 290px;
}

.tool-group{
    width: 100%;
    border-bottom: 2px solid #1e1e1e;
}

.tool-group-header{
    cursor: pointer;
    height: 40px;
    padding: 10px 18px 10px 18px;
}

.tool-group-header-title{
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.tool-group-header-title:hover{
    cursor: pointer;
    color: white;
}

.tool-group-header-collapse-icon{

}

.tool-group-body{
    overflow: hidden;
    padding: 0 15px 10px 15px;
}

.collapse-icon{
    float: right;
    padding-top: 3px;
    font-size: 10px;
    margin-right: 10px;
    color: #8d8d8d;
}

.tool-container {
    width: 110px;
    height: 110px;
    margin: 3px;
    float: left;
    cursor: pointer;
    border-style: solid;
    border-color: #8d8d8d;
    border-width: 1px;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}

.tool-image {
    max-width:60px;
    max-height:75px;
    display : block;
    margin : auto;
}

.tool-title {
    padding-top:0px;
    color: white;
    display : block;
    margin : auto;
}
.tool-validator{
    height: 40px;
    color: darkred;
    display:none;
}