.explorer-item {
    border-bottom: 1px solid #3d3d3e;
    .root {
        cursor: pointer;
        .arrow,
        .fw,
        .root-label {
            margin-left: 5px;
        }
        .tree-node-icon {
            padding-top: 3px;
            vertical-align: bottom;
        }
        .arrow {
            display: inline-block;
            transition: all .1s;
            &::after {
                content: "\25BE",
            }
            &.collapsed {
                transform: rotate(-90deg);
            }
        }
        .root-label {
            padding-left: 0;
            color: rgb(199, 199, 199);
        }
        &:hover {
            .root-actions {
                .action {
                    opacity: .6;
                    vertical-align: text-top;
                }
            }
            background: #444;
        }
        .root-actions {
            float: right;
            margin-right: 5px;
            font-size: 10px;
            position: absolute;
            right: 0;
            .action {
                opacity: 0;
                margin-right: 5px;
                &:hover {
                    opacity: 1;
                }
            }
        }
        &.active {
            background: #444;
            color: #fff !important;
            .root-actions {
                background: #444;
                .action {
                    opacity: .6;
                    vertical-align: text-top;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            & span {
                font-weight: 400;
                color: #fff !important;
            }
        }
    }
    .file-tree {
        margin-left: 10px;
        &.collapsed {
            display: none;
        }
        input {
            color: #eee;
        }
    }
}

.react-contextmenu-wrapper {
    color: #eee;
    height: 24px;
}

.explorer-item .root {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding: 0 !important;
    height: 24px;
}