<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  ~
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-test-suite">
    <listeners>
        <listener class-name="org.ballerinalang.stdlib.io.util.JBallerinaTestInitializer"/>
    </listeners>
    <test name="ballerina-lang-test-suite" preserve-order="true" parallel="false">
        <parameter name="enableJBallerinaTests" value="true"/>
        <classes>
            <class name="org.ballerinalang.stdlib.io.bytes.AsyncReadWriteTest">
                <methods>
                    <exclude name="writeBytes"/>
                </methods>
            </class>

            <class name="org.ballerinalang.stdlib.io.bytes.BytesInputOutputBufferTest">
                <methods>
                    <exclude name="fileStreamCopyTest"/>
                    <exclude name="writeBytesToFile"/>
                </methods>
            </class>
            <class name="org.ballerinalang.stdlib.io.characters.AsyncReadWriteTest">
                <methods>
                    <exclude name="writeCharacters"/>
                </methods>
            </class>
            <class name="org.ballerinalang.stdlib.io.characters.CharacterInputOutputBufferTest">
                <methods>
                    <exclude name="writeCharacters"/>
                </methods>
            </class>
            <!--<class name="org.ballerinalang.stdlib.io.data.DataChannelTest"/>-->
            <!--<class name="org.ballerinalang.stdlib.io.data.DataInputOutputTest"/>-->
            <class name="org.ballerinalang.stdlib.io.records.AsyncReadWriteTest">
                <methods>
                    <exclude name="writeRecords"/>
                </methods>
            </class>
            <!--<class name="org.ballerinalang.stdlib.io.records.CsvChannelTest"/>-->
            <class name="org.ballerinalang.stdlib.io.records.RecordInputOutputTest">
                <methods>
                    <exclude name="writeRecords"/>
                </methods>
            </class>
            <class name="org.ballerinalang.stdlib.io.IOPrintTest">
                <methods>
                    <exclude name="testConnectorPrintAndPrintln"/>
                    <exclude name="testFormatBooleanFalse"/>
                    <exclude name="testFormatBooleanTrue"/>
                    <exclude name="testFormatDecimal"/>
                    <exclude name="testFormatDecimalWithPadding"/>
                    <exclude name="testFormatFloat"/>
                    <exclude name="testFormatFloatWithPadding"/>
                    <exclude name="testFormatHex"/>
                    <exclude name="testFormatIntArray"/>
                    <exclude name="testFormatLiteralPercentChar"/>
                    <exclude name="testFormatString"/>
                    <exclude name="testFormatStringWithPadding"/>
                    <exclude name="testSprintfForNilInputFloat"/>
                    <exclude name="testFunctionPointerPrintAndPrintln"/>
                    <exclude name="testSprintfIllegalFormatConversion"/>
                    <exclude name="testSprintfInvalidFormatSpecifier"/>
                    <exclude name="testSprintfMix"/>
                </methods>
            </class>
            <!--<class name="org.ballerinalang.stdlib.io.IOTest"/>-->
        </classes>
    </test>
</suite>
