.menu-group{
    display: inline-block;
    color: #999;
    padding: 3px 8px;
    min-height: 50px;
    position: relative;
}

.menu-list{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-bar{
    height: 30px;
}

.dropdown-menu{
    font-size: 14px;
}

.dropdown-menu > .menu-item-enabled {
    color: #e2e2e2;
    cursor: pointer;
}

.dropdown-menu > .menu-item-enabled > a{
    color: #e2e2e2;
    padding: 3px 10px;
    font-weight: 300;
    height: 27px;
    float: inherit;
}

#menu-bar-container > div.menu-group > ul > li{
    min-width: 200px;
}

div#header-container{
    Padding-top:5px;
}

.shortcut-label {
    margin-left: 30px;
}

.menu-item-disabled > a > .shortcut-label {
    color: #777;
}
.file-menu-group.open {
    background-color: #f17b31;
}
.file-dropdown-menu > li > a:hover, .file-dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #f47b20;
    background-color: #000000;
}
.file-menu-group{
    min-height: 27px;

}
.file-dropdown-menu {
    background-color: #333;
    margin-top: 13px;
    width: 210px;
}
li.menu-item-disabled > a {
    color: #777;
    padding: 3px 10px;
    height: 27px;
}

.file-dropdown-menu > li.menu-item-disabled > a:hover{
    color: #777;
    background-color: #444;

}

.context-menu-list{
    border-radius: 0;
}