/** Notification CSS **/

.notification-container {
    z-index: 9999;
    position: absolute;
    top: 6px;
    right: 5px;
}

.alert-manager-message {
    padding-left: 5px;
}

.alert-manager-wrapper {
    display: none;
}

/** End of Notification CSS **/