.workspace-explorer-activate-btn{
    color: white;
    margin: 11px;
    opacity: 0.4;
}

.workspace-explorer-activate-btn:hover{
    opacity: 1;
    cursor: pointer;
}

.workspace-explorer-container{
    width: 100%;
    color: white;
    position: relative;
}

.tree-highlight{
    background-color: #373737;
    position: absolute;
    width: 100%;
}

.workspace-explorer-separator{

}

.open-folder-button{
    max-height: 25px;
    padding-top: 3px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}