<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="jBallerina-Test-Suite">
    <listeners>
        <listener class-name="org.ballerinalang.test.listener.TestExecutionListener"/>
        <listener class-name="org.ballerinalang.test.listener.TestNGListener"/>
        <listener class-name="org.ballerinalang.test.listener.JBallerinaTestInitializer"/>
    </listeners>

    <!-- Below tests should run sequentially since it will use same port in each test -->
<!--     <test name="ballerina-http-tests" parallel="false">-->
<!--         <parameter name="enableJBallerinaTests" value="true"/>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <exclude name="broken"/>-->
<!--            </run>-->
<!--        </groups>-->

<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.service.http.HttpBaseTest"/>-->
<!--            <class name="org.ballerinalang.test.service.http.configuration.AcceptEncodingHeaderTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.configuration.RequestLimitsConfigurationTest"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HttpHeaderTestCases"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.RedirectTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.RoutingServiceSampleTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.MutualSSLTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.MutualSSLWithCertsTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.DisableSslTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPVerbsPassthruTestCases"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPClientActionsTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.EchoServiceSampleTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.ExpectContinueTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HttpPayloadTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.ProxyServerTest"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.EcommerceSampleTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.PassthroughServiceSampleTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HttpOptionsTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.RetrySampleTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HelloWorldSampleTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.ServiceChainingSampleTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.TestReusabilityOfRequest"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.CompressionTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.IdleTimeoutResponseTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HttpPipeliningTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HttpStatusCodeTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.CipherStrengthSSLTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.ResourceFunctionReturnTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPCallerActionsTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.MultipleHTTPClientsTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPHeaderServerTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.KeepAliveTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPCachingTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPClientContinueTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.SslProtocolTest"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.SerializeComplexXmlTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPListenerMethodTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HTTPCookiesTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.HttpUrlTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http.sample.TrailingHeadersTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ballerina-resiliency-tests" parallel="methods" thread-count="17">-->
<!--        <parameter name="enableJBallerinaTests" value="true"/>-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.future.CancelledFuturesWithTrxTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--&lt;!&ndash;    <test name="ballerina-future-tests" parallel="false">&ndash;&gt;-->
<!--&lt;!&ndash;        <classes>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.ballerinalang.test.future.CancelledFuturesWithTrxTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </classes>&ndash;&gt;-->
<!--&lt;!&ndash;    </test>&ndash;&gt;-->

<!--    <test name="ballerina-http2-tests" parallel="false">-->
<!--        <parameter name="enableJBallerinaTests" value="true"/>-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2BaseTest"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2PriorKnowledgeTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2ServerPushTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2ToHttp1FallbackTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.RedirectTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2GenericScenarioTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.MultipartTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.ClientUpgradeWithLargePayload"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.HTTP2ClientActionsTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2MutualSslTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2MutualSslWithCerts"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2ForwardHeaderTest"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2100ContinueTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.http2.Http2TrailingHeadersTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ballerina-filter-tests" parallel="false">-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.filter.FilterTestCommons"/>-->
<!--            <class name="org.ballerinalang.test.filter.MultpleFiltersTestCase"/>-->
<!--            <class name="org.ballerinalang.test.filter.InvocationContextTestCase"/>-->
<!--            <class name="org.ballerinalang.test.filter.SingleFilterTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->

    <!-- TODO Transaction - disabled due to new syntax -->
<!--    <test name="ballerina-transaction-tests" parallel="false" enabled="false">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <exclude name="brokenOnTableRemove"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.transaction.MicroTransactionTestCase"/>-->
<!--            <class name="org.ballerinalang.test.transaction.RemoteParticipantTransactionTest"/>-->
<!--            <class name="org.ballerinalang.test.transaction.MultiModuleTransactionTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ballerina-websocket-tests" parallel="false">-->
<!--        <parameter name="enableJBallerinaTests" value="true"/>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <exclude name="broken"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.service.websocket.WebSocketTestCommons"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.CancelWebSocketUpgradeTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ClientInitializationFailureTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ClientServiceTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.CustomHeaderClientSupportTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.CustomHeaderServerSupportTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.OnErrorWebSocketTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.PingPongSupportTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ResourceFailureTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.UpgradeResourceFailureTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.AutoPingPongTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ContinuationAndAggregationTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.PushAndOnTextResourceTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.QueryAndPathParamSupportTestCase"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ServiceNotFoundTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.SimpleProxyTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.SslProxyTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.OnBinaryContinuationTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.MissingResourcesTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ClientCloseTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.PushTextFailureTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.IsOpenTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.SslEchoTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ClientErrorsTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.ServerErrorsTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.CookieTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.AttachDetachTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.RetryClientTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.AuthenticationTest"/>-->
<!--            <class name="org.ballerinalang.test.service.websocket.FailoverClientTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ballerina-streaming-tests" parallel="false" enabled="false">-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.streaming.StreamsWithinServicesTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ballerina-security-tests" parallel="false">-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.security.HTTPResponseXMLSecurityTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="ballerina-data-streaming-tests" parallel="false">
        <groups>
            <run>
                <exclude name="brokenOnXMLChange"/>
                <exclude name="brokenOnTableRemove"/>
            </run>
        </groups>
        <classes>
            <class name="org.ballerinalang.test.data.streaming.TableDataStreamingTestCase"/>
        </classes>
    </test>

    <test name="ballerina-observability-tests" parallel="false">
        <parameter name="enableJBallerinaTests" value="true"/>
        <groups>
            <run>
                <exclude name="brokenOnTableRemove"/>
            </run>
        </groups>
        <classes>
            <class name="org.ballerinalang.test.observability.tracing.TracingBaseTestCase"/>
            <class name="org.ballerinalang.test.observability.tracing.MainFunctionTestCase"/>
            <class name="org.ballerinalang.test.observability.tracing.ResourceFunctionTestCase"/>
            <class name="org.ballerinalang.test.observability.tracing.RemoteCallTestCase"/>
            <class name="org.ballerinalang.test.observability.tracing.ObservableAnnotationTestCase"/>
            <class name="org.ballerinalang.test.observability.tracing.ConcurrencyTestCase"/>
            <class name="org.ballerinalang.test.observability.tracing.CustomTracingTestCase"/>
            <class name="org.ballerinalang.test.observability.metrics.MetricsTestCase"/>
<!--            <class name="org.ballerinalang.test.observability.tracing.HttpTracingBaseTest"/>-->
<!--            <class name="org.ballerinalang.test.observability.tracing.HttpTracingTestCase"/>-->
<!--            <class name="org.ballerinalang.test.observability.metrics.WebSocketMetricsTestCase"/>-->
        </classes>
    </test>

    <test name="ballerina-packerina-tests" parallel="false">
        <parameter name="enableJBallerinaTests" value="true"/>
        <groups>
            <run>
                <exclude name="brokenOnJBallerina"/>
            </run>
        </groups>
        <classes>
            <class name="org.ballerinalang.test.packaging.ModulePushTestCase"/>
            <class name="org.ballerinalang.test.packaging.PackagingNegativeTestCase"/>
            <class name="org.ballerinalang.test.packaging.PackagingTestCase"/>
            <class name="org.ballerinalang.test.packaging.LockFileTestCase"/>
            <class name="org.ballerinalang.test.packaging.NativePackagingTestCase"/>
            <class name="org.ballerinalang.test.packaging.PathDependencyTestCase"/>
            <class name="org.ballerinalang.test.packaging.DirectoryTestCase"/>
            <class name="org.ballerinalang.test.packaging.SpiServicesTestCase"/>
            <class name="org.ballerinalang.test.packaging.SingleBalFileTestCase"/>
            <class name="org.ballerinalang.test.packaging.MultipleVersionsModuleTestCase"/>
            <class name="org.ballerinalang.test.packaging.DependencyScopeTestCase"/>
            <class name="org.ballerinalang.test.packaging.MavenTestCase"/>
        </classes>
    </test>

    <test name="ballerina-run-tests" preserve-order="true" parallel="false">
        <parameter name="enableJBallerinaTests" value="true"/>
        <packages>
            <package name="org.ballerinalang.test.run.*"/>
        </packages>
    </test>

    <test name="ballerina-logging-tests" preserve-order="true" parallel="false">
        <parameter name="enableJBallerinaTests" value="true" />
        <classes>
            <class name="org.ballerinalang.test.logging.LogAPITestCase" />
        </classes>
    </test>

    <test name="ballerina-launch-listener-tests" parallel="false">
        <parameter name="enableJBallerinaTests" value="true" />
        <classes>
            <class name="org.ballerinalang.test.listener.LaunchListenerTestCase"/>
        </classes>
    </test>

    <test name="ballerina-testerina-tests" parallel="false">
        <parameter name="enableJBallerinaTests" value="true" />
        <groups>
            <run>
                <exclude name="brokenOnJBallerina"/>
            </run>
        </groups>
        <classes>
            <class name="org.ballerinalang.test.testarina.TestarinaTestCase" />
        </classes>
    </test>

    <test name="ballerina-docerina-tests" parallel="false">
        <parameter name="enableJBallerinaTests" value="true" />
        <classes>
<!--            <class name="org.ballerinalang.test.docerina.BallerinaApiDocsTestCase" />-->
        </classes>
    </test>

<!--    <test name="ballerina-bindgen-tests" parallel="false">-->
<!--        <parameter name="enableJBallerinaTests" value="true" />-->
<!--        <classes>-->
<!--            <class name="org.ballerinalang.test.bindgen.BindgenTestCase" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>
