body {
    background: #fff;
    color: #464646;

    p {
        font-size: 16px;
    }

    a {
        color: #333;
        font-weight: 600;
    }

    .ui.grid {
        .header-wrapper {
            position: fixed;
            height: auto;
        }
        .navi-wrapper {
            margin-left: 20px;
            background: #f5f7f8;
            position: fixed;
            height:100vh;
            overflow-y: scroll;


            .search {
                input {
                    border-radius: 0;
                    border: 0;
                    margin-bottom: 20px;
                }
            }

            .primary-list {
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style: none !important;
                        line-height: 25px;
                        margin-left: 15px;
                    }
                }
            }
        }

        .content-wrapper {
            margin: 20px;
            text-align: justify;
            overflow-y: scroll;

            p {
                line-height: 24px !important;
            }

            code {
                color: #ea8792;
                font-style: italic;
            }

            .logo {
                width: 200px;
                height: auto;
                float: left;
            }

            .module-list {
                line-height: 20px;

                .module-title {
                    width: 120px;
                    float: left;
                    margin-left: 20px;
                }

                .module-desc {
                    width: 1080px;
                    margin-left: 10px;
                    float: left;
                    word-wrap: break-word;
                }

                ul {
                    li {
                        list-style: none;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}