body {
    background: #fff;
    color: #464646;
    height:100vh;

    p {
        font-size: 16px;
    }

    a {
        color: #333;
        font-weight: 600;
    }

    .ui.grid {
        width: 100%;
        .navi-wrapper {
            margin:0;
            background: #f5f7f8;
            height:100vh;
            overflow-y: hidden;
            overflow-x: hidden;

            .logo {
                width: 150px;
                height: auto;
                text-align: center;
                margin: 30px 20px;
            }

            &:hover {
                overflow-y: scroll ;
                position: inherit;
            }

            .search {
                input {
                    border-radius: 0;
                    border: 0;
                    margin-bottom: 20px;
                }
            }

            .primary-list {
                padding-left: 10px;

                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style: none !important;
                        line-height: 25px;
                        margin-left: 15px;
                        text-transform: capitalize;
                        font-weight: 300;
                        &:hover {
                            font-weight: 600;
                        }
                        &, a {
                            font-weight: 300;
                            &:hover {
                                color: #333 !important;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        .content-wrapper {
            padding: 46px 500px 12px 43px!important;
            margin: 0;
            height: 100vh;
            text-align: justify;
            overflow-y: hidden;
            position: fixed;
            font-size: 16px; 

            .ui.table, .ui.table tr td {
                border: 0 !important;
                tr {
                    td:first-child {
                        width:120px;
                        vertical-align: top;
                    }
                }
            }

            .breadcrumb {
                a {
                    color: #aaa;
                    font-weight: 300; 
                }
            }

            &:hover {
                overflow-y: auto;
                position: inherit;
            }

            p {
                line-height: 24px;
            }

            code {
                color: #ea8792;
                font-style: italic;
            }

            .records {
                color: #2c9ea1;
                a {
                color: #2c9ea1;
                }
            }
            .objects {
                color: #93bd54;
                a {
                color: #93bd54;
                }
            }
            .constants {
                margin-top: 20px;
                margin-left: 20px;

                p {
                    line-height: 28px;
                }

                .column {
                    margin: 0 ;
                    padding: 10px;
                }
            }

            .module-title {
                margin-bottom: 10px; 
                word-wrap: break-word;
                font-weight: 600;
                height: auto;
                padding:0;
                vertical-align: top;
            }

            .module-desc {
                margin-left: 10px;
                word-wrap: break-word;
                margin-bottom: 10px; 
                padding:0;
                height: auto;
                padding-bottom: 20px;
            }
        }
    }
}