body {
    background: #fff;
    color: #464646;
    height:100vh;
    position: fixed;

    p {
        font-size: 16px;
    }

    a {
        color: #333;
        font-weight: 600;
    }

    .ui.grid {              
        height: 100vh;
        
        .header-wrapper {
            position: fixed;
            height: auto;

            .logo {
                width: 200px;
                height: auto;
                float: left;
            }
            
        }

        .navi-wrapper {
            margin-left: 20px;
            background: #f5f7f8;
            height:100vh;
            overflow-y: hidden;
            position: fixed;

            &:hover {
                overflow-y: scroll ;
                position: inherit;
            }

            .search {
                input {
                    border-radius: 0;
                    border: 0;
                    margin-bottom: 20px;
                }
            }

            .primary-list {
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style: none !important;
                        line-height: 25px;
                        margin-left: 15px;
                    }
                }
            }
        }

        .content-wrapper {
            margin: 20px;
            height: 82vh;
            text-align: justify;
            overflow-y: hidden;
            position: fixed;

            .breadcrumb {
                a {
                    color: #aaa;
                    font-weight: 300 !important; 
                }
            }

            &:hover {
                overflow-y: auto;
                position: inherit;
            }

            p {
                line-height: 24px !important;
            }

            code {
                color: #ea8792;
                font-style: italic;
            }

            .records {
                color: #2c9ea1;
                font-weight: 600;
            }
            .objects {
                color: #93bd54;
                font-weight: 600;
            }

            .module-list {
                line-height: 20px;
                float: left;

                .module-title {
                    float: left;
                    margin-left: 20px;
                }

                .module-desc {
                    margin-left: 10px;
                    float: left;
                    word-wrap: break-word;
                }

                ul {
                    li {
                        list-style: none;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}