import ballerina/io;
import ballerina/mime;
import ballerina/http;

//=====================================
//============Client Config============
//=====================================
public type {{cut info.title " "}}ClientConfig record {
    string serviceUrl;
    http:ClientEndpointConfig clientConfig;
};

//=======================================
//============Client Endpoint============
//=======================================
public type {{cut info.title " "}}ClientEp object {
    public http:Client client;
    public {{cut info.title " "}}ClientConfig config;

    public function init({{cut info.title " "}}ClientConfig config) {
        endpoint http:Client httpEp {
            url: config.serviceUrl,
            auth: config.clientConfig.auth,
            cache: config.clientConfig.cache
        };

        self.client = httpEp;
        self.config = config;
    }

    public function getCallerActions() returns ({{cut info.title " "}}Client) {
        return new {{cut info.title " "}}Client(self);
    }
};

//==============================
//============Client============
//==============================
public type {{cut info.title " "}}Client object {
    public {{cut info.title " "}}ClientEp clientEp;

    new (clientEp) {}
{{#paths}}{{#value}}{{#operations}}{{#value}}{{#equals key "multi"}}{{#if methods}}{{#methods}}
    public function {{lower .}}{{operationId}}({{#parameters}}{{>pathParams}}{{/parameters}}) returns http:Response | error {
        endpoint http:Client ep = self.clientEp.client;
        http:Request request = new;

        // TODO: Update the request as needed
        return check ep->{{lower .}}("{{../../../key}}", request = request);
    }
    {{/methods}}{{else}}{{#allMethods}}
    public function {{lower .}}{{operationId}}({{#parameters}}{{>pathParams}}{{/parameters}}) returns http:Response | error {
        endpoint http:Client ep = self.clientEp.client;
        http:Request request = new;

        // TODO: Update the request as needed
        return check ep->{{lower .}}("{{../../../key}}", request = request);
    }
    {{/allMethods}}{{/if}}{{else}}
    public function {{operationId}}({{#requestBody}}{{>reqBody}}{{/requestBody}}{{#parameters}}{{>pathParams}}{{/parameters}}) returns http:Response | error {
        endpoint http:Client _{{operationId}}Ep = self.clientEp.client;
        http:Request request = new;{{#requestBody}}{{#equals requestBody.selectedMedia.mediaType "application/json"}}
        json _{{operationId}}JsonBody = check <json> _{{operationId}}Body;
        request.setPayload(_{{operationId}}JsonBody);{{else}}
        request.setPayload(_{{operationId}}Body);{{/equals}}{{/requestBody}}

        // TODO: Update the request as needed
        return check _{{operationId}}Ep->{{key}}("{{../../key}}", request = request);
    }
    {{/equals}}{{/value}}{{/operations}}{{/value}}{{/paths}}
};
