/*-------------------------------
           API Method Colors 
--------------------------------*/
body {
  background: #fff;
  color: #464646;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
}
body p {
  font-size: 16px;
}
body a {
  color: #333;
}
body .ui.grid {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}
body .ui.grid .navi-wrapper {
  margin: 0;
  background: #f5f7f8;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
body .ui.grid .navi-wrapper .navi-wrapper-content {
  width: 185px;
}
body .ui.grid .navi-wrapper .logo {
  width: 150px;
  height: auto;
  text-align: center;
  margin: 1em;
}
body .ui.grid .navi-wrapper .version {
  float: right;
  margin-right: 1.2em;
  margin-top: -0.8em;
  margin-bottom: 1em;
}
body .ui.grid .navi-wrapper:hover {
  overflow-y: scroll;
  position: inherit;
}
body .ui.grid .navi-wrapper .search input {
  border-radius: 0;
  border: 0;
  margin-bottom: 20px;
}
body .ui.grid .navi-wrapper .primary-list {
  padding-left: 10px;
}
body .ui.grid .navi-wrapper .primary-list.module-list ul li,
body .ui.grid .navi-wrapper .primary-list.function-list ul li {
  text-transform: none;
}
body .ui.grid .navi-wrapper .primary-list ul {
  padding: 0;
  margin: 0;
}
body .ui.grid .navi-wrapper .primary-list ul li {
  list-style: none ;
  line-height: 25px;
  margin-left: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .ui.grid .navi-wrapper .primary-list ul li:hover {
  font-weight: 600;
}
body .ui.grid .navi-wrapper .primary-list ul li,
body .ui.grid .navi-wrapper .primary-list ul li a {
  font-weight: 400;
}
body .ui.grid .navi-wrapper .primary-list ul li:hover,
body .ui.grid .navi-wrapper .primary-list ul li a:hover {
  color: #333;
  font-weight: 600;
}
body .ui.grid .navi-wrapper .primary-list h3 {
  margin: 10px 0;
  text-align: center;
}
body .ui.grid .type a {
  color: #0277BD;
  cursor: pointer;
}
body .ui.grid .type a:hover {
  text-decoration: underline;
}
body .ui.grid .content-wrapper {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
  font-size: 16px;
}
body .ui.grid .content-wrapper pre.ballerina-snippet {
  background-color: #f5f7f8;
  padding: 20px;
  overflow-x: auto;
}
body .ui.grid .content-wrapper pre.ballerina-snippet code.language-ballerina {
  background: none;
}
body .ui.grid .content-wrapper .main-wrapper {
  width: 800px;
  margin: 0px 30px;
}
body .ui.grid .content-wrapper .main-wrapper.module-wrapper h2:first-of-type {
  border-bottom: 0;
}
body .ui.grid .content-wrapper .main-wrapper h1 {
  border-bottom: 1px solid #dededf;
  line-height: 2em;
}
body .ui.grid .content-wrapper .main-wrapper h2 {
  border-bottom: 1px solid #dededf;
  line-height: 1.8em;
  margin-bottom: 1em;
}
body .ui.grid .content-wrapper .main-wrapper span.records {
  color: #00c378;
}
body .ui.grid .content-wrapper .main-wrapper span.objects {
  color: #3498db;
}
body .ui.grid .content-wrapper .main-wrapper span.clients {
  color: #FF5722;
}
body .ui.grid .content-wrapper .main-wrapper span.listeners {
  color: #f44336;
}
body .ui.grid .content-wrapper .main-wrapper span.functions {
  color: #EC407A;
}
body .ui.grid .content-wrapper .main-wrapper span.constant {
  color: #8e44ad;
}
body .ui.grid .content-wrapper .main-wrapper span.annotations {
  color: #276dc4;
}
body .ui.grid .content-wrapper .main-wrapper span.types {
  color: #512DA8;
}
body .ui.grid .content-wrapper .main-wrapper span.errors {
  color: #f44336;
}
body .ui.grid .content-wrapper .main-wrapper p a {
  color: #0067ad;
}
body .ui.grid .content-wrapper .main-wrapper p a:hover {
  text-decoration: underline;
}
body .ui.grid .content-wrapper .param-divider {
  margin-top: 0px;
  margin-bottom: 15px;
  border: 0.5px solid #888;
}
body .ui.grid .content-wrapper .param-table {
  margin-left: 20px;
  border: 1ps solid #ccc;
  width: -webkit-fill-available;
}
body .ui.grid .content-wrapper .param-table thead tr th {
  padding: 10px 0;
}
body .ui.grid .content-wrapper .param-table td,
body .ui.grid .content-wrapper .param-table th {
  color: #3c3c3c;
}
body .ui.grid .content-wrapper .param-table tbody {
  border-bottom: 1px solid #e8e9e9;
}
body .ui.grid .content-wrapper a.records {
  color: #00c378;
}
body .ui.grid .content-wrapper a.objects {
  color: #3498db;
}
body .ui.grid .content-wrapper a.clients {
  color: #FF5722;
}
body .ui.grid .content-wrapper a.listeners {
  color: #f44336;
}
body .ui.grid .content-wrapper a.functions {
  color: #EC407A;
}
body .ui.grid .content-wrapper a.constant {
  color: #8e44ad;
}
body .ui.grid .content-wrapper a.annotations {
  color: #276dc4;
}
body .ui.grid .content-wrapper a.types {
  color: #512DA8;
}
body .ui.grid .content-wrapper a.errors {
  color: #f44336;
}
body .ui.grid .content-wrapper .data-wrapper {
  margin-bottom: 30px;
}
body .ui.grid .content-wrapper .data-wrapper .params-listing ul {
  padding-left: 24px;
}
body .ui.grid .content-wrapper .data-wrapper .params-listing ul li {
  list-style: none;
  margin-left: 6px;
}
body .ui.grid .content-wrapper .data-wrapper .params-listing ul li p {
  font-weight: 300;
}
body .ui.grid .content-wrapper .data-wrapper .params-listing ul li:first-child {
  padding-bottom: 6px;
  margin-left: 8px;
}
body .ui.grid .content-wrapper .data-wrapper .params-listing ul li:first-child::before {
  content: "- ";
  margin-left: -12px;
}
body .ui.grid .content-wrapper .data-wrapper .param-title {
  padding-bottom: 6px;
  margin-bottom: 12px;
  display: block;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 600;
}
body .ui.grid .content-wrapper .returns-listing {
  margin-bottom: 30px;
  margin-left: 20px;
}
body .ui.grid .content-wrapper .returns-listing ul {
  padding-left: 0 ;
}
body .ui.grid .content-wrapper .returns-listing ul li {
  list-style: none;
}
body .ui.grid .content-wrapper .returns-listing ul li b {
  font-weight: 500;
}
body .ui.grid .content-wrapper .returns-listing ul li p {
  font-weight: 300;
  margin-left: 3px;
}
body .ui.grid .content-wrapper .returns-listing ul li:first-child {
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-left: 0;
}
body .ui.grid .content-wrapper .details-table {
  padding-bottom: 20px;
}
body .ui.grid .content-wrapper .ui.table,
body .ui.grid .content-wrapper .ui.table tr td {
  border: 0;
  vertical-align: top;
  color: #555;
  word-break: break-word;
  padding: 5px 0;
}
body .ui.grid .content-wrapper .ui.table th,
body .ui.grid .content-wrapper .ui.table tr td th {
  background: none;
  border-top: 1px solid #e8e9e9;
  border-radius: 0;
  font-weight: 500;
}
body .ui.grid .content-wrapper .ui.table tr,
body .ui.grid .content-wrapper .ui.table tr td tr {
  border-bottom: 1px solid #e8e9e9;
  color: #555;
}
body .ui.grid .content-wrapper .ui.table tr td:first-child,
body .ui.grid .content-wrapper .ui.table tr td tr td:first-child {
  width: 120px;
  vertical-align: top;
}
body .ui.grid .content-wrapper .ui.table td,
body .ui.grid .content-wrapper .ui.table tr td td {
  word-break: break-all;
}
body .ui.grid .content-wrapper .ui.table td.records,
body .ui.grid .content-wrapper .ui.table tr td td.records {
  color: #00c378;
}
body .ui.grid .content-wrapper .ui.table td.objects,
body .ui.grid .content-wrapper .ui.table tr td td.objects {
  color: #3498db;
}
body .ui.grid .content-wrapper .ui.table td.clients,
body .ui.grid .content-wrapper .ui.table tr td td.clients {
  color: #FF5722;
}
body .ui.grid .content-wrapper .ui.table td.listeners,
body .ui.grid .content-wrapper .ui.table tr td td.listeners {
  color: #f44336;
}
body .ui.grid .content-wrapper .ui.table td.functions,
body .ui.grid .content-wrapper .ui.table tr td td.functions {
  color: #EC407A;
}
body .ui.grid .content-wrapper .ui.table td.constant,
body .ui.grid .content-wrapper .ui.table tr td td.constant {
  color: #8e44ad;
}
body .ui.grid .content-wrapper .ui.table td.annotations,
body .ui.grid .content-wrapper .ui.table tr td td.annotations {
  color: #276dc4;
}
body .ui.grid .content-wrapper .ui.table td.types,
body .ui.grid .content-wrapper .ui.table tr td td.types {
  color: #512DA8;
}
body .ui.grid .content-wrapper .ui.table td.errors,
body .ui.grid .content-wrapper .ui.table tr td td.errors {
  color: #f44336;
}
body .ui.grid .content-wrapper .params-table {
  padding-top: 20px;
}
body .ui.grid .content-wrapper .breadcrumb a {
  color: #aaa;
  font-weight: 300;
}
body .ui.grid .content-wrapper:hover {
  overflow-y: auto;
  position: inherit;
}
body .ui.grid .content-wrapper p {
  line-height: 24px;
}
body .ui.grid .content-wrapper code {
  color: #5e6265;
  background: #f1f1f1;
}
body .ui.grid .content-wrapper code .language-ballerinaDup {
  color: #888;
}
body .ui.grid .content-wrapper .modules {
  color: #0d4d84;
}
body .ui.grid .content-wrapper .modules a {
  color: #0d4d84;
}
body .ui.grid .content-wrapper .constants {
  margin-top: 20px;
}
body .ui.grid .content-wrapper .constants h2 {
  font-size: 1.52rem;
}
body .ui.grid .content-wrapper .constants h3 {
  display: inline-block;
  margin: 0;
  line-height: 22px;
}
body .ui.grid .content-wrapper .constants h3 p {
  display: inline-block;
  margin: 0;
  line-height: 22px;
  color: #555;
}
body .ui.grid .content-wrapper .constants .method-list {
  padding-left: 20px;
}
body .ui.grid .content-wrapper .constants .method-list p {
  line-height: 30px;
}
body .ui.grid .content-wrapper .constants .method-list a {
  color: #464646;
  font-weight: 500;
}
body .ui.grid .content-wrapper .constants .method-content {
  margin: 30px 0 40px 0;
}
body .ui.grid .content-wrapper .constants .method-content .main-method-title {
  border-bottom: 1px solid #e8e9e9;
  margin-bottom: 10px;
  padding-bottom: 3px;
}
body .ui.grid .content-wrapper .constants .method-content .main-method-title h2 {
  line-height: 1em;
  display: inline;
  border: 0;
}
body .ui.grid .content-wrapper .constants .method-content .main-method-title p {
  display: inline;
}
body .ui.grid .content-wrapper .constants .method-content .method-types {
  font-style: italic;
  color: #656565;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-span {
  width: auto;
  display: inline-block;
  vertical-align: top;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-span .ui.table {
  word-break: break-word;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-span .ui.table tr td:first-child {
  width: 180px ;
  vertical-align: top;
  padding: 5px 0;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-span .ui.table td {
  padding: 10px 0 ;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-span .method-table-header {
  max-width: 180px;
  width: 180px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-type-wrapper {
  border-bottom: 1px solid #e8e9e9;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-type-wrapper .method-title {
  line-height: 20px;
  word-wrap: break-word;
  margin: 60px 0 10px;
  border-bottom: 1px solid #ababab;
  padding-bottom: 8px;
}
body .ui.grid .content-wrapper .constants .method-wrapper .method-type-wrapper .method-title p {
  font-weight: 600;
}
body .ui.grid .content-wrapper .constants p {
  display: inline;
  color: #333;
}
body .ui.grid .content-wrapper .constants .column {
  margin: 0;
  padding: 10px;
}
body .ui.grid .content-wrapper .module-title {
  margin-bottom: 10px;
  font-weight: 400;
  height: auto;
  padding: 0;
  vertical-align: top;
  padding-bottom: 12px;
}
body .ui.grid .content-wrapper .module-title.records {
  color: #00c378;
}
body .ui.grid .content-wrapper .module-title.objects {
  color: #3498db;
}
body .ui.grid .content-wrapper .module-title.clients {
  color: #FF5722;
}
body .ui.grid .content-wrapper .module-title.listeners {
  color: #f44336;
}
body .ui.grid .content-wrapper .module-title.functions {
  color: #EC407A;
}
body .ui.grid .content-wrapper .module-title.constant {
  color: #8e44ad;
}
body .ui.grid .content-wrapper .module-title.annotations {
  color: #276dc4;
}
body .ui.grid .content-wrapper .module-title.types {
  color: #512DA8;
}
body .ui.grid .content-wrapper .module-title.errors {
  color: #f44336;
}
body .ui.grid .content-wrapper .module-title a.records {
  color: #00c378;
}
body .ui.grid .content-wrapper .module-title a.objects {
  color: #3498db;
}
body .ui.grid .content-wrapper .module-title a.clients {
  color: #FF5722;
}
body .ui.grid .content-wrapper .module-title a.listeners {
  color: #f44336;
}
body .ui.grid .content-wrapper .module-title a.functions {
  color: #EC407A;
}
body .ui.grid .content-wrapper .module-title a.constant {
  color: #8e44ad;
}
body .ui.grid .content-wrapper .module-title a.annotations {
  color: #276dc4;
}
body .ui.grid .content-wrapper .module-title a.types {
  color: #512DA8;
}
body .ui.grid .content-wrapper .module-title a.errors {
  color: #f44336;
}
body .ui.grid .content-wrapper .module-title a:hover {
  font-weight: bold;
}
body .ui.grid .content-wrapper .truncate {
  max-width: 220px;
  width: 220px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
body .ui.grid .content-wrapper .module-desc {
  margin-left: 10px;
  word-wrap: break-word;
  margin-bottom: 10px;
  padding: 0;
  height: auto;
  padding-bottom: 12px;
  color: #555;
}
