*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/out/
*.*~
/Ballerina-Intellij-plugin.zip
/Ballerina-Intellij-plugin/
/.gradle/
/.idea/
/build/
/Ballerina-Intellij-plugin.iml
/plugin-intellij.iws
!/gradle/wrapper/gradle-wrapper.jar
