.statement-text {
    text-anchor: middle;
    dominant-baseline: central;
    width: 120px;
    max-width: 250px;
    fill: "black"
}

.condition-text {
    text-anchor: start;
    dominant-baseline: central;
    width: 120px;
    max-width: 250px;
    fill: "black"
}

.statement-rect {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1;
}

.statement-title-rect {
    fill: #FFFFFF;
    stroke: #000000;
}

.statement-title-polyline {
    fill: none;
    stroke: #000000;
}

.statement-container {
    fill:#FFF;
    stroke: #000000;
}

.action-dash-line{
    stroke: #9d9d9d;
    stroke-dasharray: 5,5;
}
.action-arrow{
   stroke: #9d9d9d;
   fill: #000000;
}
.action-arrow-head{
  stroke: #000000;
}

.struct-variable-definition-wrapper{
    stroke: #9d9d9d;
    fill: #FFF;
}
