.statement-text {
    text-anchor: middle;
    dominant-baseline: central;
    width: 120px;
    max-width: 250px;
    fill: "black"
}

.statement-rect {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1;
}
