.editor-area {
    .rc-tabs {
        height: 100%;
        overflow: hidden;
        border-bottom: none;
        .rc-tabs-content {
            height: calc(100% - 30px);
            .editor-split-view {
                position: relative;
                .text-editor {
                    height: 100%;
                }
            }
        }
        .rc-tabs-bar {
            border-bottom: none;
            height: 30px;
            & .rc-tabs-nav-container {
                background-color: $rc-tabs-bgcolor;
            }
            & .rc-tabs-nav-container-scrolling {
                & .rc-tabs-tab-next,
                .rc-tabs-tab-prev {
                    @extend .unseletable-content;
                    background-color: $rc-tabs-bgcolor;
                    color: $white03;
                    border-left: 1px solid $rc-tabs-tab-borderColor;
                    border-right: 1px solid $rc-tabs-tab-borderColor;
                    line-height: 30px;
                    &.rc-tabs-tab-btn-disabled {
                        color: $gray07;
                    }
                }
            }
            & .rc-tabs-ink-bar {
                display: none !important;
            }
        }
        .rc-tabs-tab {
            @extend .unseletable-content;
            background-color: $rc-tabs-tab-color;
            color: $rc-tabs-text-color;
            padding: 0;
            margin-right: 0;
            font-weight: 300;
            height: 30px;
            .tab-title-wrapper {
                border-left: 2px solid $rc-tabs-tab-color;
                border-right: 1px solid $gray01;
                padding: 0 2px 0 0;
                line-height: 30px;
                .dirty-indicator {
                    margin-left: 5px;
                }
                &.try-it-title {
                    background-color: #777;
                    color: #fff;
                    padding-left: 8px;
                }
                &.welcome-page-tab-title {
                    font-style: italic;
                    .close-tab {
                        font-style: normal;
                    }
                    .tab-icon {
                        color: #2fb8b0;
                    }
                }
            }
            .tab-icon {
                font-size: 10px;
                position: relative;
                padding: 0 8px 0 7px;
            }
            &:hover {
                color: $rc-tabs-active-color;
                background-color: $rc-tabs-tab-color;
                .close-tab {
                    visibility: visible;
                }
            }
            &.rc-tabs-tab-active {
                .tab-title-wrapper {
                    border-left-color: #2fb8b0;
                    &.welcome-page-tab-title {
                        background-color: $primaryBackgroundColor;
                        color: #1a1b1d;
                        height: 30px;
                        .close-tab {
                            background: $primaryBackgroundColor !important;
                            color: #7D7D7D;
                            &:hover {
                                color: #474747;
                            }
                        }
                        .tab-icon {
                            color: #2fb8b0;
                        }
                    }
                }
                &.inverse {
                    color: $tab-header-active-inverse-color;
                    background: $tab-header-active-inverse-bgcolor;
                }
                color: $rc-tabs-active-color;
                background-color: $rc-tabs-active-bgcolor;
                .close-tab {
                    visibility: visible;
                }
            }
            .close-tab {
                color: $white01;
                line-height: 28px;
                text-shadow: none;
                border: 0;
                background: transparent;
                outline-color: transparent;
                visibility: hidden;
                cursor: pointer;
                &:hover {
                    color: $rc-tabs-active-color;
                }
                &:active {
                    outline: none;
                }
            }
        }
        .rc-tabs-tabpane {
            height: 100%;
            overflow: hidden;
            position: relative;
            background: $rc-tabs-active-bgcolor;
        }
    }
    .split-view-controls-container {
        position: absolute;
        bottom: 20px;
        right: 50px;
        z-index: 30;
        color: $rc-tabs-text-color;
        padding: 0;
        line-height: 40px;
        .btn-icon {
            float: left;
            cursor: pointer;
            span {
                font-size: 12px;
                padding-left: 5px;
                width: 95px;
            }
            &:hover:after {
                opacity: 0.5
            }
        }
        .bottom-view-label {
            font-size: 12px;
            float: left;
            padding-right: 10px;
        }
    }
}