.left-right-split-pane {
    background-color: $split-pane;
}

.top-bottom-split-pane {
    background-color: $split-pane;
}

.bottom-panel {
    color: white;
    background-color: $split-pane;
    width: 100%;
    height: 100%;
    .rc-tabs.rc-tabs-top {
        overflow: hidden;
    }
}

.right-panel {
    display: none;
    color: white;
}

.pull-left {
    float: $float-left !important;
}

.pull-right {
    float: $float-right !important;
}

.hide {
    display: none !important;
}

@mixin box-sizing($box-sizing) {
    -moz-box-sizing: $box-sizing;
    -webkit-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

.Resizer {
    background: #3f4144;
    opacity: .2;
    z-index: 2;
    @include box-sizing('border-box');
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
     :hover {
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }
    &.vertical {
        width: 11px;
        margin: 0 -5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        cursor: col-resize;
         :hover {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }
    }
    &.horizontal {
        height: 11px;
        margin: -5px 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        cursor: row-resize;
        width: 100%;
         :hover {
            border-top: 5px solid $black;
            border-bottom: 5px solid $black;
        }
    }
    &.disabled {
        cursor: auto;
         :hover {
            border-color: transparent;
        }
    }
}

.Pane {
    &1 {
        z-index: 10;
    }
    &2 {
        z-index: 1;
    }
}

.outerCanvasDiv {
    .scrollbar {
        position: absolute;
        display: block !important;
        bottom: 0;
        right: 2px;
        border-radius: 0;
        &.scrollbar-track-vertical {
            width: 6px;
            top: 0;
            border-left: 1px solid #d4d4d4;
            background-color: #e7eaeb;
        }
        &.scrollbar-track-horizontal {
            height: 6px;
            left: 0;
        }
        .scrollbar-thumb-vertical,
        .scrollbar-thumb-horizontal {
            border-radius: 0;
            background-color: #797979;
            opacity: 0;
            cursor: pointer;
            transition: opacity .9s;
            -webkit-transition: opacity .9s;
        }
    }
    &:hover .scrollbar-thumb-vertical,
    &:hover .scrollbar-thumb-horizontal,
    .scrollbar-thumb-vertical:active,
    .scrollbar-thumb-horizontal:active {
        opacity: .8;
        transition: opacity .3s;
        -webkit-transition: opacity .3s;
    }
    .grabbable {
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }
    .grabbable.grabbing {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}