.tool-area {
    background-color: #212121;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 13px;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
}