.svg-container {
    background: none;
}

.panel-default > .panel-heading {
    margin-bottom: 0;
}

.design-view-container {
    padding-left: 200px;
    padding-top: 0;
    overflow-y: scroll;
    height: 100%;
}

.source-view-container {
    height: 100%;
}

.canvas-container {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 120px;
    float: left;
    height: auto;
    min-height: 1000px;
    overflow: hidden;
    position: relative;
}

.canvas-top-controls-container{
    float: left;
    width: 100%;
}

.canvas-heading-new h4{
    background: #dae9bd;
}

.canvas-heading-new h4 a{
    font-size: 105%;
}

.container-outer-div {
    border-radius: 0;
    float: left;
}

.outer-box {
    border: 1px solid;
    border-top: none;
    overflow-x: hidden;
    position: relative;
    top: 0;
    right: 0;
}

.panel-title {
    background: white;
    border: 1px solid #333;
    vertical-align: middle;
}

.panel-title > a {
    margin-left: 6px;
    text-decoration: none;
}

.panel-icon, .service-icon, .connector-icon, .function-icon {
    padding: 6px 5px 5px;
    background-color: #333;
    font-size: 16px;
    width: 27px;
    text-align: center;
}

.title-link {
    padding-left: 10px;
}

.delete-icon:hover {
    color: #fff;
}

.panel-collapse .collapse {
    border: 1px solid;
}

.tab-pane .panel {
    background: none;
    width: 98.6%;
}

.headingRect:hover {
    cursor: pointer;
}

.btn-icon {
    opacity: 0.8;
}

.btn-icon i{
    opacity: 0.5;
}

.btn-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.source-container {
    display: none;
    height: 1000px;
}

.text-editor {
    height: calc(100%);
}

.view-source-btn {
    z-index: 1000;
}

.view-design-btn {
    position: relative;
    color: #fff;
    z-index: 1000;
    display: block !important;
}

/** when on a specific canvas hover **/
.tab-pane .panel.design-view-hover {
    background-color: rgba(0, 128, 0, 0.1);
}

/** when on main canvas hover **/
.tab-pane .design-view-hover .panel {
    background-color: rgba(255, 255, 255, 0.8);
}

.tab-pane .panel.design-view-hover .panel-title {
    background-color: rgba(0, 128, 0, 0.1);
}

.tab-pane .panel.design-view-hover rect.resource-content {
    fill: #fff;
    fill-opacity: 0.8;
}

.design-view-hover {
    background-color: rgba(0, 128, 0, 0.1);
}

.design-view-hover-svg {
    fill: #008000;
    fill-opacity: 0.2;
}

/**  syntax highlight **/
.ace_ballerina-keyword-control {
    color: #CC7832;
}

.ace_ballerina-numeric {
    color: #6897BB;
}

.ace_ballerina-keyword-other {
    color: #9876AA;
}

.ace_ballerina-package-reference {
    color: #9876AA;
}

.ace_ballerina-keyword-primitive-type {
    color: #FFC66D;
}

.ace_ballerina-keyword-non-primitive-type {
    color: #FFC66D;
}

.ace_ballerina-keyword-definition {
    color: #CC7832;
}

.ace_ballerina-annotation {
    color: #BBB529;
}

.ace_ballerina-strings {
    color: #629755;
}

.ace_ballerina-comments {
    color: #808080;
}

.ace_ballerina-keyword-language {
    color: #CC7832;
}

.ace_ballerina-keyword-identifier {
    color: #fff;
}

.import-packages-pane {
    overflow: visible;
}
/** Resource parameter CSS **/

.resource-parameters-main-action-wrapper {
    width: 721px;
    overflow: auto;
    display: none;
    background: #fff;
}

.resource-parameters-wrapper-heading {
    padding-bottom: 28px;
    background-color: #3d3d3d;
}

.resource-parameters-wrapper-heading input[type=text] {
    width: 120px;
    margin-left: 5px;
}

.resource-parameters-wrapper-heading-identifier-textbox {
    width: 405px !important;
}

.resource-parameters-wrapper-heading select {
    width: 160px;
}

.resource-parameters-heading-annotations-wrapper {
    float: left;
    padding-left: 7px;
    padding-top: 0;
    padding-right: 10px;
    height: auto;
    border-right: 1px solid #a3a3a3;
}

.resource-parameters-heading-annotations-wrapper input[type=checkbox] {
    margin-top: 6px;
}

.resource-parameters-heading-parameter-wrapper {
    float: left;
    padding-top: 0;
    padding-left: 10px;
    height: auto;
}

.resource-parameters-heading-annotations-wrapper-text {
    padding-right: 5px;
    padding-left: 3px;
    color: #FFF;
}

.resource-parameters-edit-annotations-wrapper-text {
    padding-right: 5px;
    padding-left: 3px;
    color: #000;
}

.resource-parameters-detail-wrapper input[type=text] {
    width: 175px;
    margin-left: 5px;
}

.resource-parameters-heading-separator {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.resource-parameters-action-icon {
    top: 7px;
    right: 6px;
}

.resource-parameters-action-icon-i {
    background-color: #818181;
}

.resource-parameters-details-wrapper {
    padding: 0;
    overflow-y: scroll;
    width: 100%;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    max-height: 450px;
}

.resource-parameters-details-wrapper hr {
    margin-left: 8px;
    margin-right: 5px;
}

.resource-parameters-detail-wrapper {
    overflow: hidden;
    padding: 4px 5px 3px 12px;
    cursor: pointer;
}

.resource-parameters-detail-wrapper:hover {
    background-color: #f5f5f5;
}

.resource-parameters-detail-wrapper:hover .resource-parameters-detail-close-wrapper {
    display: block;
}

.resource-parameters-detail-close-wrapper {
    float: right;
    font-size: 10px;
    padding-top: 3px;
    color: #999;
    display: none;
}

.resource-parameters-detail-type-wrapper {
    float: left;
    width: 120px;
    font-weight: 400;
}

.resource-parameters-detail-identifier-wrapper {
    float: left;
}

.resource-parameters-detail-identifier-wrapper input {
    padding-left: 8px;
    padding-right: 8px;
    width: 280px;
    height: 22px;
}

/** End of Resource parameter CSS **/

/** Return type CSS **/

.return-types-main-action-wrapper {
    width: 365px;
    overflow: auto;
    display: none;
    background: #fff;
}

.return-types-wrapper-heading {
    padding-bottom: 28px;
    background-color: #3d3d3d;
}

.return-types-wrapper-heading input[type=text] {
    width: 120px;
    margin-left: 5px;
}

.return-types-wrapper-heading-type-textbox {
    width: 280px !important;
}

.return-types-wrapper-heading select {
    width: 160px;
}

.return-types-heading-named-return-wrapper {
    float: left;
    padding-left: 7px;
    padding-top: 0;
    height: auto;
}

.return-types-heading-named-return-wrapper input[type=checkbox] {
    margin-top: 6px;
}

.return-types-heading-parameter-wrapper {
    float: left;
    padding-top: 0;
    padding-left: 10px;
    height: auto;
}

.return-types-heading-named-return-wrapper-text {
    padding-right: 5px;
    padding-left: 3px;
    color: #FFF;
}

.return-types-edit-named-return-wrapper-text {
    padding-right: 5px;
    padding-left: 3px;
    color: #000;
}

.return-types-detail-wrapper input[type=text] {
    width: 175px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.return-types-heading-separator {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.return-types-action-icon {
    top: 7px;
    right: 6px;
}

.return-types-action-icon-i {
    background-color: #818181;
}

.return-types-details-wrapper {
    padding: 0;
    overflow-y: scroll;
    width: 100%;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    max-height: 450px;
}

.return-types-details-wrapper hr {
    margin-left: 8px;
    margin-right: 5px;
}

.return-types-detail-wrapper {
    overflow: hidden;
    padding: 4px 5px 3px 12px;
    cursor: pointer;
}

.return-types-detail-wrapper:hover {
    background-color: #f5f5f5;
}

.return-types-detail-wrapper:hover .return-types-detail-close-wrapper {
    display: block;
}

.return-types-detail-close-wrapper {
    float: right;
    font-size: 10px;
    padding-top: 3px;
    color: #999;
    display: none;
}

.return-types-detail-type-wrapper {
    float: left;
    width: 120px;
    font-weight: bold;
}

.return-types-detail-identifier-wrapper {
    float: left;
}

.return-types-detail-identifier-wrapper input {
    padding-left: 8px;
    padding-right: 8px;
    width: 280px;
    height: 22px;
}

.outer-box .mCustomScrollBox {
    height: auto;
}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{
    margin-right:-4px ;
}

.tooltip {
    position: fixed;
}

/** End of Return type CSS **/

/** typeahead CSS **/
.twitter-typeahead {
    display: inline !important;
}

.action-import-wrapper-heading .tt-hint {
    width: 100%;
    color: #999;
    top:13px !important;
    background: none !important;
}

.action-import-wrapper-heading .tt-menu {
    margin-top: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.action-import-wrapper-heading  .tt-suggestion {
    padding: 3px 7px;
}
/** End of typeahead CSS **/

/** Struct view CSS **/
.struct-content-wrapper {
    margin: 35px 60px;
    float: left;
}

.struct-type-dropdown-wrapper {
    float: left;
    min-width: 210px;
    padding-top: 12px;
    padding-left: 10px;
}

.struct-type-dropdown-wrapper i {
    line-height: 20px;
    padding-left: 7px;
}

.struct-content-operations-wrapper {
    background-color: #3d3d3d;
    padding: 10px;
    float: left;
}

.struct-identifier-text-input {
    float: left;
    width: 190px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 5px;
    border: 0;
    height: 24px;
}

.type-drop-wrapper{
    float: left;
    margin: 0 5px 0 0;
    position: relative;
}

.type-drop-wrapper.struct-view .select2.select2-container {
    min-width: 192px;
}

.type-drop-wrapper.struct-view .select2.select2-container .select2-selection--single {
    min-width: 192px;
    height: 24px;
    border-right: 1px solid #333;
}

.type-drop-wrapper.struct-edit .select2.select2-container {
    min-width: 170px;
    margin: -3px 0 0 0;
    border: 1px solid #CCC;
}

.type-drop-wrapper.struct-edit .select2.select2-container .select2-selection--single {
    min-width: 164px;
    margin: 0;
}

.type-drop-wrapper .select2.select2-container {
    min-width: 127px;
    border-radius: 0;
    margin-right: -5px;
}

.type-drop-wrapper .select2.select2-container .select2-selection--single {
    min-width: 127px;
    border-radius: 0;
    height: 22px;
    border: 0;
}

.type-drop-wrapper .select2.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}
.type-drop-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow{
    height:20px;
}
div.type-drop-wrapper.service{
    margin: 0;
}

div.type-drop-wrapper.service .select2.select2-container .select2-selection--single {
    height: 22px;
    border: 1px solid #dfdfdf;
    padding-bottom: 3px;
    margin-right: 3px;
}

div.type-drop-wrapper.service .select2.select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 20px;
    margin-right: 3px;
}

div.type-drop-wrapper.resource{
    margin: 0 5px 0 0;
}

div.type-drop-wrapper.resource .select2.select2-container .select2-selection--single {
    height: 24px;
}

div.type-drop-wrapper.resource .select2.select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 24px;
}
.add-struct-variable-button {
    height: 25px;
    width: 25px;
    font-size: 9px;
    cursor: pointer;
    opacity: 0.4;
}

.add-struct-variable-button:hover {
    opacity: 1;
}

.clear-struct-variable-button {
    height: 25px;
    width: 25px;
    font-size: 9px;
    cursor: pointer;
    opacity: 0.4;
    padding-top: 12px;
    padding-left: 3px;
}

.clear-struct-variable-button:hover {
    opacity: 1;
}

.struct-variable-definition-wrapper:hover {
    font-weight: 400;
}

.struct-variable-definition-wrapper:nth-child(1){
    clear: both;
    margin-top: 46px;
}

.struct-variable-definition-wrapper {
    border: 1px solid #CCC;
    background: #FFF;
    margin-top: 2px;
    cursor: pointer;
    width: 433px;
    height: 31px;
    display: block;
}

.struct-variable-definition-type {
    width: 200px;
    border-right: 1px solid #CCC;
    padding: 5px 13px;
}

.struct-variable-definition-identifier {
    padding: 5px 13px 0 13px;
    min-width: 160px;

}

.struct-variable-definition-wrapper i {
    padding: 10px 15px 0 0;
    opacity: 0.4;
    cursor: pointer;
    float: right;
    font-size: 9px;
}

.struct-variable-definition-wrapper i:hover {
    opacity: 1;
}

.struct-type-dropdown-wrapper button {
    height: 24px;
    width: 183px;
    padding-top: 2px;
}

.add-struct-variable-button-square {
    border: 1px solid #FFF;
    height: 24px;
    line-height: 22px;
}

.clear-struct-variable-button-square {
    border: 1px solid #FFF;
    height: 24px;
    line-height: 22px;
}

.struct-variable-identifier-text-input {
    width: 177px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #ccc;
    margin-top: -2px;
}

.struct-variable-type-dropdown-wrapper button {
    height: 24px;
    padding-top: 1px;
    width: 170px;
}

.struct-variable-type-dropdown-wrapper i {
    padding: 0;
    line-height: 20px;
}

.jstree-anchor {
    padding: 2px 4px 0 1px;
}

/** End of Struct view CSS **/

span.package-pane {
    padding: 3px;
    margin-left: 0;
    background-color: #ddd;
    display: none;
    color: #333;
    float: left;
}

.action-content-wrapper-heading input[type=text] {
    padding-left: 7px;
    margin-left: 2px;
    border: 1px solid #ccc;
}

input#package-name-input {
    margin-left: 2px;
    border: 0 solid #ccc;
    line-height: 18px;
    padding: 2px 10px;
}

.package-name-btn span {
    cursor: pointer;
}

.package-definition-wrapper, .package-imports-wrapper {
    min-height: 57px;
    clear: both;
    float: left;
    width: 89%;
}

.tooltip-inner {
    white-space: nowrap;
    max-width: none;
}

.tooltip.bottom {
    margin-top: -3px;
}

.swaggerEditor {
    height: 100%;
    width: 100%;
}

.swaggerEditor .se-iframe {
    border: 0;
    background: #4a4a4a;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 0 !important;
    border: 0;
    background: #f1f1f1;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #d4d4d4;
    height: 24px;
}
.select2-results__option {
    padding: 4px 10px;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 300;
    font-size: 14px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #333333;
    color: #f17b31;
}