.jstree-default .jstree-wholerow-hovered {
    background: #333;
}

.jstree-default .jstree-wholerow-clicked {
    background: #333;
}

.jstree-wholerow-ul {
    position: relative;
    display: inline-block;
    min-width: 100%;
    color: #dedede;
}

.vakata-context li > a:hover {
    position: relative;
    background-color: #444;
    box-shadow: 0 0 2px #0a6aa1;
}

.vakata-context .vakata-context-hover > a {
    position: relative;
    background-color: #444;
    box-shadow: 0;
}

.jstree-default .jstree-hovered {
    border-radius: 0;
    color: #dedede;
    background: #ccc;
}

.jstree-default .jstree-clicked {
    background: RED;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #999;
}

.jstree-default .jstree-disabled {
    background: transparent;
    color: #777;
}

.jstree-default .jstree-wholerow-hovered {
    background: #333;
}

.jstree-default .jstree-wholerow-clicked {
    background: #333;
}

.jstree-default-small .jstree-node {
    min-height: 22px;
    line-height: 18px;
    margin-left: 18px;
    min-width: 18px;
}

.jstree-default-small .jstree-wholerow {
    height: 22px;
}