/** contains css for main layout **/
@media only screen and (min-width: 768px){
    body > .page-content-wrapper > .container,
    body > .page-content-wrapper > .container-fluid {
        padding: 0;
    }
}

body{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0;
}

html{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.font-bold {
    font-weight: bold;
}

#main-navbar{
    border-width: 2px 0 2px 0;
}

#editor-container{
    height: 100%;
    width:1106px;
}

#navbar-wrapper{
    display: none!important;
}

hr {
    margin: 3px 0;
}

/**
* Remove padding coming from
* bootstrap columns
**/
div[class*="col-sm-"] {
    padding: 0;
}

.container{
    width: 100vw;
    padding: 0;
}
.container-fluid{
    padding: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.left-container{
    height: calc(100% - 103px);
    padding: 0;
    /*Adjust when implementing file explorer*/
    min-width: 40px;
    position: fixed;
    z-index: 2;
}
.left-tool-bar{
    height: calc(100% - 100px);
    padding: 0;
    width: 40px;
    position: fixed;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    background: #232323;
}
.sidebar-left{
    height: 100%;
    width: 100%;
    padding-left: 40px;
    overflow: hidden;
}

.right-container{
    height: calc(100% - 103px);
    position: fixed;
    padding-left: 40px;
    width: 100%;
    z-index: 1;
}

/*//////////////////////////////////////////////////*/
/** Create Wizard related styles | Start -> **/
#newConfigModal .form-horizontal{
    max-width: 900px;
}
#newConfigModal .model-content{
    max-width: 1000px;
    padding: 5px;
}
#newConfigModal .modal-header{
    margin-bottom: 25px;
}
/** Create Wizard related styles | -> End **/
/*//////////////////////////////////////////////////*/



/*//////////////////////////////////////////////////*/
/** Service/Source buttons related styles | Start -> **/
#serviceAndSourceButtonsRow{
    border-bottom: 2px solid #1e1e1e;
}

#serviceAndSourceButtons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right;
    height:25px;
}

#serviceAndSourceButtons li {
    float: left;
}

#serviceAndSourceButtons li a {
    display: block;
    color: black;
    text-align: center;
    padding-right: 20px;
    text-decoration: none;
}

#serviceAndSourceButtons li a:hover {
    /*background-color: #111111;*/
}
/*//////////////////////////////////////////////////*/
/** Service/Source buttons related styles | End -> **/



/*//////////////////////////////////////////////////*/
/** Save/New buttons related styles | Start -> **/
#saveAndNewButtons{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    float: left;
}

#saveAndNewButtons li {
    float: left;
}

#saveAndNewButtons li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#saveAndNewButtons li a:hover {
    background-color: #111111;
}
/*//////////////////////////////////////////////////*/
/** Save/New buttons related styles | End -> **/


/*//////////////////////////////////////////////////*/
/** Start actions related styles | Start -> **/
#start-actions-container{
    color: #cbcbcb;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-top: 250px;
    text-align: left;
}
#start-actions-container > h3{
    margin-left: 5px;
}

#start-actions-container a{
    color: #337ab7;
    text-decoration: underline;
}

#start-actions-container li{
    margin: 2px 0 2px 0;
    font-size: 16px;
}

#start-actions-container > ul > li.disabled,
#start-actions-container > ul > li.disabled > a{
    color: #505050;
}

#start-actions-container > hr{
    margin-top: 3px;
    width: 100%;
}
/** Start actions related styles | -> End **/
/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/** tree view related styles | Start -> **/
#tree-container {
    height: 100%;
}

#tree-action-bar {
    height: 42px;
    display: block;
    border-bottom-width: 2px;
}
/** tree view related styles | -> End **/
/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/** Resource level tabs related styles | Start -> **/

#service-tabs-wrapper,
#service-tabs-wrapper > .row,
#service-tabs-wrapper > .row > #tabs-container,
#service-tabs-wrapper > .row > #tabs-container > #tab-content-wrapper > .tab-content.tab-content-default,
#service-tabs-wrapper > .row > #tabs-container > #tab-content-wrapper > .tab-content.tab-content-default > .tab-pane {
    height: 100%;
}

.tab-pane  {
    /*padding-bottom: 130px;*/
}

#tab-container > ul{
    display: inline-block;
}

#tab-container{
    height: 25px;
    border-bottom-width: 1px;
    background-color: #e4e4e4;
    width:1540px;
}

.series{
    height: 19px;
}

/** Resource level tabs related styles | -> End **/
/*//////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////*/
/** Breadcrumbs related styles | Start -> **/
/*.breadcrumb{*/
/*padding-left: 50px;*/
/*display: inline-block;*/
/*float: right;*/
/*}*/
/** Breadcrumbs related styles | -> End **/
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/
/** Popup Property Pane related styles | Start -> **/

#property-pane-svg input.property-textbox {
    border: 1px solid #29BB96;
    border-radius: 2px;
    height: 30px;
    width: 210px;
    padding-left: 10px;
    color: #939b99;
}

#property-pane-svg input.property-dropdown {
    border: 1px solid #29BB96;
    border-radius: 2px;
    height: 30px;
    width: 210px;
    padding-left: 10px;
    color: #939b99;
}

#property-pane-svg input.property-dropdown:hover {
    background-color: #29BB96;
    color: #515c6a;
}

#property-pane-svg input.property-checkbox {
    margin-left: 10px;
    margin-right: 10px;
    width: 12px;
    height: 12px;
}

#property-pane-svg label.property-label {
    color: #515c6a;
    padding-top: 2px;
}

#property-save {
    background-color: #29BB96;
    color: #FFFFFF;
    border: 1px solid #29BB96;
    border-radius: 3px;
}

/** Popup Property Pane related styles | -> End **/
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/
/** ace editor (source view) related styles | Start -> **/

.tab-headers-bar {
    background-color: #e4e4e4;
    height: 20px;
}

.nav-tabs-bar{
     overflow: hidden;
 }

#sourceViewTab{
    height: 100%;
    width: 100%;
    padding: 0;
}

#ace-editor{
    margin: 0;
    position:absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
}

#tab-content-wrapper {
    position: relative;
    background-color: white;
}

.about-dialog-close {
    margin-top: 12px;
    margin-right: 12px;
}

.sidebar-left-separator{
    position: absolute;
    height: 100%;
    width: 5px;
    background: none;
    top: 0;
    left: 45px;
}

.sidebar-left-separator:hover{
    cursor: ew-resize;
}

.create-new-item-wizard .container-fluid{
    margin-top: 15px;
}
.create-new-item-wizard .form-horizontal {
    max-width: none;
}