body.loading > .loading-animation {
    width: 200px;
}
body.loading > .loading-animation > .blob {
    width: 2rem;
    height: 2rem;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% + 3.5rem);
    /*box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);*/
}

body.loading > .loading-animation > .blob-2 { animation: animate-to-2 1.5s infinite; }
body.loading > .loading-animation > .blob-3 { animation: animate-to-3 1.5s infinite; }
body.loading > .loading-animation > .blob-1 { animation: animate-to-1 1.5s infinite; }
body.loading > .loading-animation > .blob-4 { animation: animate-to-4 1.5s infinite; }
body.loading > .loading-animation > .blob-0 { animation: animate-to-0 1.5s infinite; }
body.loading > .loading-animation > .blob-5 { animation: animate-to-5 1.5s infinite; }

body.loading > .loading-bg {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

@keyframes animate-to-2 {
    25%, 75% { transform: translateX(-1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-3 {
    25%, 75% { transform: translateX(1.5rem) scale(0.75); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-1 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(-4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-4 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50%, 75% { transform: translateX(4.5rem) scale(0.6); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-0 {
    25% { transform: translateX(-1.5rem) scale(0.75); }
    50% { transform: translateX(-4.5rem) scale(0.6); }
    75% { transform: translateX(-7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}

@keyframes animate-to-5 {
    25% { transform: translateX(1.5rem) scale(0.75); }
    50% { transform: translateX(4.5rem) scale(0.6); }
    75% { transform: translateX(7.5rem) scale(0.5); }
    95% { transform: translateX(0rem) scale(1); }
}