body {
    background: #232323;
}

#alerts-container {
    display: none
}

.right-container {
    /*background-color: #232323;*/
}

#main-navbar {
    background-color: #232323;
    border-top: solid #1e1e1e;
    border-bottom: solid #1e1e1e;
}

.header {
    background-color: #1e1e1e;
    min-height: 27px;
}

#editor-container {
    background-color: #fff;
}

.editor-scroller {
    cursor: move;
}

.circle-hide {
    display: none;
}

.option-menu-hide {
    display: none;
}

/*//////////////////////////////////////////////////*/
/** Editor canvas related styles | Start -> **/
svg text::selection {
    background: none;
}

.non-user-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvas-container {
    width: 100%;
}

.canvas-heading {
    cursor: pointer;
}

/** Editor canvas related styles | -> End **/
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/
/** File Explorer related styles |Start -> **/
#tree-container {
    background-color: #272727;
    border: solid #373737;
}

#tree-action-bar {
    background-color: #373737;
    color: #ededed;
    border-bottom: solid #1e1e1e;
}

.tree-view {
    color: #7e7e7e;
    font-size: 1.2em;
}

.tree-view li > .icon:before {
    color: #272727;
}

.tree-view li > .icon {
    background: #fdfdfd;

}

.tree-action {
    float: right;
}

i.tree-action {
    padding: 15px 8px;
}

span.tree-action {
    padding: 4px;
}

.tree-view input {
    height: 32px;
    color: black;
}

/** File Explorer related styles | -> End **/
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/
/** Breadcrumbs related styles | Start -> **/

header .brand img.logo {
    height: 15px;
    padding: 0 10px;
}

header .brand {
    padding: 0 10px;
    margin-right: 25px;
    line-height: 35px;
}

header .brand h1 {
    font-size: 15px;
}

ol#breadcrumbList {
    background-color: #444;
}

/** Menu Bar **/
.file-dropdown-menu {
    background: #1e1e1e;
    top: 50%;
    font-size: 11px;
}

/** Breadcrumbs related styles | -> End**/
/*//////////////////////////////////////////////////*/
.settings-icon {
    padding-top: 5px;
}

.source-icon {
    padding-top: 5px;
}

.file-browser-container {
    padding: 15px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

header .brand img.logo {
    height: 17px;
    padding: 0 7px;
}

header .brand h1 {
    font-size: 14px;
    font-weight: 200;
    color: #d6d6d6;
}

ol#breadcrumbList {
    background-color: #131313;
}

#breadcrumb-container {
    background-color: #131313;
    height: 28px;
    overflow: hidden;
    line-height: 15px;

}

#icon-toggle-source {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#icon-toggle-design {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.statement-rect {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 1;
}

.background-empty-rect {
    fill: #ffffff;
    fill-opacity: 0;
    stroke: #000000;
    stroke-width: 1;
}

.statement-text {
    text-anchor: middle;
    dominant-baseline: central;
    width: 120px;
    max-width: 250px;
}

/*//////////////////////////////////////////////////*/
/** Service container related styles | Start -> **/

.service-annotation-button {
    float: right;
    position: relative;
}

.service-variable-button {
    float: right;
    position: relative;
    display: block;
}

.service-variable-typebutton {
    float: right;
}

.variable-pane {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    position: absolute;
    top: 9px;
    left: 28px;
    margin: auto;
    min-height: 29px;
    padding: 3px 3px 0 16px;
}

.resource-variable-pane {
    background-color: #f3f3f3;
    padding: 7px 7px 0 7px;
    height: 38px;
    position: absolute;
    display: none;
    margin: auto;
}

.resource-variable-pane input {
    padding-left: 5px;
    height: 25px;
}

.resource-variable-pane select {
    height: 25px;
    margin-right: 5px;
}

.resource-variable-pane form {
    width: 326px;
}

.resource-variable-pane input {
    padding-left: 5px;
    height: 25px;
}

.resource-variable-pane form > input {
    margin-right: 5px;
}

button.variable-list {
    font-size: small;
    margin-right: 2px;
    height: 20px;
}

.variable-wrapper i {
    padding: 10px 6px 8px;
    font-size: 8px;
    background-color: #fff;
    color: #19b89c;
    opacity: 0.5;
}

.variable-wrapper i:hover {
    cursor: pointer;
    color: #000;
}

.variable-type {
    float: left;
    color: white;
    padding: 4px 8px;
    height: 29px;
}

.variable-identifier {
    float: left;
    padding: 4px 8px;
}

/*Start Message*/

.variable-wrapper-message i {
    border: 0;
}

.variable-type-message {
    background-color: #19b89c;
}

.variable-identifier-message {
    border: 0;
}

/*Start Connection*/

.variable-wrapper-connection i {
    border: 1px solid orange;

}

.variable-type-connection {
    background-color: orange;
}

.variable-identifier-connection {
    border: 1px solid orange;
    border-right-width: 0;
}

/*Start String*/

.variable-wrapper-string i {
    border: 1px solid purple;
    border-left-width: 0;
}

.variable-type-string {
    background-color: purple;
}

.variable-identifier-string {
    border: 1px solid purple;
    border-right-width: 0;
}

/*Start Int*/

.variable-wrapper-int i {
    border: 1px solid darkslateblue;
    border-left-width: 0;
}

.variable-type-int {
    background-color: darkslateblue;
}

.variable-identifier-int {
    border: 1px solid darkslateblue;
    border-right-width: 0;
}

/*Start Exception*/

.variable-wrapper-exception i {
    border: 1px solid darkred;
    border-left-width: 0;
}

.variable-type-exception {
    background-color: darkred;
}

.variable-identifier-exception {
    border: 1px solid darkred;
    border-right-width: 0;
}

/*Start Boolean*/

.variable-wrapper-boolean i {
    border: 1px solid #156b8b;
    border-left-width: 0;
}

.variable-type-boolean {
    background-color: #156b8b;
}

.variable-identifier-boolean {
    border: 1px solid #156b8b;
    border-right-width: 0;
}

/*Start Double*/

.variable-wrapper-double i {
    border: 1px solid #063B49;
    border-left-width: 0;
}

.variable-type-double {
    background-color: #063B49;
}

.variable-identifier-double {
    border: 1px solid #063B49;
    border-right-width: 0;
}

/*Start Float*/

.variable-wrapper-float i {
    border: 1px solid #009CCC;
    border-left-width: 0;
}

.variable-type-float {
    background-color: #009CCC;
}

.variable-identifier-float {
    border: 1px solid #009CCC;
    border-right-width: 0;
}

/*Start Long*/

.variable-wrapper-long i {
    border: 1px solid #4864aa;
    border-left-width: 0;
}

.variable-type-long {
    background-color: #4864aa;
}

.variable-identifier-long {
    border: 1px solid #4864aa;
    border-right-width: 0;
}

/*Start JSON*/

.variable-wrapper-json i {
    border: 1px solid #004d52;
    border-left-width: 0;
}

.variable-type-json {
    background-color: #004d52;
}

.variable-identifier-json {
    border: 1px solid #004d52;
    border-right-width: 0;
}

/*Start XML*/

.variable-wrapper-xml i {
    border: 1px solid #232323;
    border-left-width: 0;
}

.variable-type-xml {
    background-color: #232323;
}

.variable-identifier-xml {
    border: 1px solid #232323;
    border-right-width: 0;
}

.property-panel-svg {
    width: 100%;
    min-height: 500px;
    background: none;
}

.property-pane-action-button-wrapper {
    stroke: #000000;
    stroke-width: 0.5;
    fill: #FFFFFF;
}

.statement-action-button-wrapper {
    stroke: #000000;
    stroke-width: 0.5;
    fill: #FFFFFF;
}

.property-pane-form-wrapper {
    width: 265px;
    max-height: 250px;
    border: 1px solid #cdcdcd;
    border-top: 2px solid #7b7b7b;
    background: #FFFFFF;
    position: absolute;
}

.expression-editor-form-wrapper {
    width: 265px;
    max-height: 250px;
    background: #FFFFFF;
    position: absolute;
}

.property-pane-form-heading {
    height: 20px;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 23px;
}

.property-pane-form-heading-icon {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.property-pane-form-heading-text {
    padding-left: 7px;
}

.property-pane-form-heading-close-icon {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.3;
    cursor: pointer;
}

.property-pane-form-heading-close-icon:hover {
    opacity: 1;
}

.property-pane-form-body {
}

.expression-editor-form-body {
}

.property-pane-form-body-property-wrapper {
    padding: 7px 7px 2px 7px;
}

.expression-editor-form-body-property-wrapper {
}

.property-pane-form-body-property-wrapper input {
    width: 100%;
}

.expression-editor-form-body-property-wrapper input {
    width: 100%;
    height: 100%;
    min-width: 100%;
    border: 1px solid;
    text-align: left;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.property-pane-form-body-add-button {
    width: 100%;
}

.service-annotation-wrapper {
    position: absolute;
}

.service-annotation-header-wrapper {
    margin: 3px 10px 0 10px;
}

.service-annotation-header-wrapper input[type=text] {
    height: 25px;
    margin-top: 2px;
    border: 1px solid #ccc;
    width: 50%;
    margin-left: 10px;
    padding-left: 5px;
}

.service-annotation-header-wrapper span {
    margin-left: 10px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    margin-top: 2px;
}

.controls-container-action-wrapper {

}

.top-right-controls-container-editor-pane {
    display: none;
}

.controls-container-font-action {
    font-size: 15px;
    line-height: 1.6;
}

.package-btn {
    position: absolute;
    right: 0;
    top: 6px;
    z-index: 30;
}

.variable-btn {
    position: absolute;
    z-index: 30;
    opacity: 0.4;
}

.variable-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.right-icon-clickable {
    padding: 5px 7px;
}

.collapser:hover {
    color: #333;
}

.main-action-wrapper {
    position: absolute;
    right: 17px;
    width: 400px;
    overflow: hidden;
    z-index: 20;
    top: 0;
}

.action-icon-wrapper {
    position: absolute;
    top: 8px;
    right: 28px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    font-size: 9px;
    cursor: pointer;
    opacity: 0.4;
}

.action-icon-wrapper:hover {
    opacity: 1;
}

.action-content-wrapper {
    background-color: #eaeaea;
    border: 1px solid #f0f0f0;
}

.action-content-wrapper-body {
    background-color: white;
    padding: 10px;
}

.action-content-wrapper-heading {
    height: 37px;
    padding-left: 10px;
    padding-top: 6px;
}

.action-content-wrapper-heading input[type=text] {
    padding-left: 7px;
    margin-left: 2px;
    width: 276px;
    border: 1px solid #ccc;
}

.package-name-wrapper span {
    font-weight: bold;
}

.package-name-wrapper input[type=text] {
    padding-left: 7px;
    margin-left: 2px;
    width: 295px;
    border: 1px solid #ccc;
}

.package-name-wrapper i {
    float: right;
    cursor: pointer;
    padding-top: 7px;
    color: #999;
    font-size: 9px;
    padding-right: 3px;
}

.imports-wrapper div span {
    font-style: italic;
    cursor: default;
}
.import-declaration-wrapper{
    float: left;
    margin: 1px 3px;
    border: 1px solid orange;
    font-size: 12px;
}

.import-wrapper-heading input[type=text] {
    width: 276px;
}

#import-package-text{
    width: 90%;
    background-color: #fff !important;
    line-height: 18px;
    border: 0 solid #ccc;
    font-size: 14px;
    padding: 2px 10px;
    color: #333;
    font-style: normal;
}

.service-annotation-wrapper-heading {
    background-color: #3d3d3d
}

.service-annotation-wrapper-heading[disabled] {
    border-left: 1px solid #000;
}

.service-annotation-wrapper-heading[disabled], .service-annotation-wrapper-heading[disabled] * {
    background-color: #eee;
    opacity: 1;
    cursor: not-allowed;
}

.service-annotation-wrapper-heading input[type=text] {
    width: 224px;
    margin-left: 5px;
}

.service-annotation-wrapper-heading select {
    width: 160px;
}

.service-annotation-main-action-wrapper {
    width: 435px;
    overflow: auto;
    display: none;
    background: #fff;
}

.action-content-dropdown-wrapper ul {
    position: absolute;
    top: inherit;
}

.service-annotation-details-wrapper {
    padding: 0;
    overflow-y: scroll;
    width: 100%;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    max-height: 450px;
}

.service-annotation-details-wrapper hr {
    margin-left: 8px;
    margin-right: 5px;
}

.service-annotation-detail-wrapper {
    overflow: hidden;
    padding: 4px 5px 3px 12px;
    cursor: pointer;
}

.service-annotation-detail-wrapper:hover {
    background-color: #f5f5f5;
}

.service-annotation-detail-wrapper:hover .service-annotation-detail-close-wrapper {
    display: block;
}

.service-annotation-detail-type-wrapper {
    float: left;
    width: 120px;
    font-weight: bold;
}

.service-annotation-detail-value-wrapper {
    float: left;
}

.service-annotation-detail-value-wrapper textarea {
    width: 280px;
    float: left;
}

.service-annotation-detail-close-wrapper {
    float: right;
    font-size: 10px;
    padding-top: 3px;
    color: #999;
    display: none;
}

.svg-action-content-wrapper-body {
    background: #fff;
    border: 1px solid #f0f0f0;
}

.svg-action-content-wrapper-heading {
    fill: #eaeaea;
}

.variables-content-wrapper {
    float: left;
}

.variables-action-wrapper {
    float: left;
}

.variable-add-icon-wrapper {
    margin-left: 2px;
    height: 20px;
    position: static;
    width: 19px;
    font-size: 7px;
    float: left;
    margin-top: 2px;
}

.variable-add-action-wrapper {
    display: none;
    width: 517px;
    background-color: #efefef;
    height: 30px;
    padding: 3px;
}

.variable-add-action-wrapper input {
    width: 163px;
    margin-left: 4px;
    height: 22px;
    padding-left: 5px;
    border: 1px solid #dfdfdf;
}

.variable-add-complete-action-wrapper {
    height: 22px;
    position: static;
    float: right;
}

.variable-add-cancel-action-wrapper {
    height: 22px;
    position: static;
    float: right;
}

.variable-wrapper {
    float: left;
    margin-left: 6px;
    margin-bottom: 3px;
    border: 1px solid #19b89c;
}

.variable-pane-collapser-wrapper {
    font-size: 14px;
    padding: 9px;
    background-color: #efefef;
    height: 27px;
    width: 23px;
    margin-left: 4px;
    position: absolute;
    right: -23px;
    top: 0;
}

.variable-pane-collapser-wrapper:hover {
    background-color: #333;
    color: #fff;
}

.variable-pane-collapser-wrapper:hover {
    cursor: pointer;
    opacity: 1;
}

.variable-pane-collapser-wrapper i {
    font-size: 12px;
    position: absolute;
    vertical-align: top;
    top: 8px;
    right: 7px;
    opacity: 0.5;
}

/** Start of Constants view **/


.constants-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.constants-action-wrapper, .imports-action-wrapper{
    display: none;
}

.constants-wrapper, .imports-wrapper {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: auto;
    top: -28px;
    left: 69px;
    position: relative;
    float: left;
    min-height: 28px;
}

.constants-wrapper, .constants-content-wrapper, .constants-action-wrapper
,.imports-wrapper, .imports-content-wrapper, .imports-action-wrapper {
    float: left;
}


.constant-add-icon-wrapper, .import-add-icon-wrapper {
    height: 28px;
    position: static;
    width: 26px;
    font-size: 11px;
    float: left;
    padding: 7px;
    margin: -1px;
    border: 1px solid #ddd;
    background: #fff;
    opacity: 1;
}

.constant-add-action-wrapper, .import-add-action-wrapper {
    display: none;
    width: 520px;
    background-color: #ddd;
    height: 26px;
    padding: 2px 4px;
}

.constant-add-action-wrapper input {
    width: 163px;
    margin-left: 4px;
    height: 22px;
    padding-left: 5px;
    border: 0;
}

.constant-add-complete-action-wrapper,
.import-add-complete-action-wrapper {
    height: 22px;
    position: static;
    float: right;
}

.constant-add-cancel-action-wrapper,
.import-add-cancel-action-wrapper{
    height: 22px;
    position: static;
    float: right;
    margin-right: -3px;
}

.constant-wrapper {
    float: left;
    margin-left: 6px;
    margin-bottom: 3px;
}

.constant-pane-collapser-wrapper, .import-pane-collapser-wrapper {
    font-size: 14px;
    padding: 9px;
    background-color: #efefef;
    height: 28px;
    width: 23px;
    margin-left: 4px;
    position: absolute;
    right: -24px;
    top: -1px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ddd;
    border-left: none;
}
.import-pane-collapser-wrapper{
    font-size: 12px;
}

.constant-pane-collapser-wrapper:hover {
    cursor: pointer;
    opacity: 1;
}

.constant-pane-collapser-wrapper i {
    font-size: 12px;
    position: absolute;
    vertical-align: top;
    top: 8px;
    right: 7px;
    opacity: 0.5;
}

.constant-declaration-wrapper i, .import-declaration-wrapper i {
    padding:6px;
    font-size: 8px;
    background-color: #fff;
    color: #8e44ad;
    border-left-width: 0;
    float: left;
    opacity: 0.5;
}

.import-declaration-wrapper i{
    color: #ffa500;
}

.constant-declaration-type {
    background-color: #8e44ad;
    float: left;
    color: white;
    padding: 2px 8px;
}

.constant-declaration-wrapper {
    float: left;
    margin: 2px;
    border: 1px solid #8e44ad;
    font-size: 12px;
    height: 22px;
}

.constant-declaration-wrapper i:hover,
.import-declaration-wrapper i:hover{
    cursor: pointer;
    color: #000;
}

.constant-declaration-field {
    background-color: #FFF;
    float: left;
    padding: 1px 8px;
    margin-top: 1px;
}

.constant-declaration-equals {
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
}

.constants-definition-wrapper {
    padding-bottom: 47px;
    float: left;
    width: 89%;
}

/** End of Constants view **/

.hoverable {
    opacity: 0.4;
    cursor: pointer;
    height: 27px;
    padding-top: 6px;
}

.hoverable:hover {
    opacity: 0.9;
    background-color: #333;
    color:#fff;
}

.name-container-div {
    position: absolute;
    display: table;
}

.name-span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
}

.canvas-operations-wrapper {
    float: right;
}

.annotation-icon {
    margin-top: 8px;
    cursor: pointer;
}

.annotation-icon:hover {
    color: #000;
}

.canvas-operations-separator {
    -webkit-transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    -ms-transform: scale(1, 2);
    -o-transform: scale(1, 2);
    transform: scale(1, 2);
    transform: scale(1, 2);
    margin-top: 6px;
    color: #d8d8d8;
    font-size: 14px;
    font-weight: 300;
}

.service-annotation-action-icon {
    top: 7px;
    right: 6px;
}

.service-annotation-action-icon-i {
    background-color: #818181;
}

.operations-annotation-icon {
    color: #FFF;
    opacity: 1;
    background-color: #2b2b2b;
    width: 30px;
}

.statement-title-rect {
    fill: #FFFFFF;
    stroke: #818181;
}

.statement-title-polyline {
    fill: none;
    stroke: #000000;
}

.arguments-main-action-wrapper {
    width: 435px;
    overflow: auto;
    display: none;
    background: #fff;
}

.arguments-wrapper-heading {
    background-color: #3d3d3d
}

.arguments-wrapper-heading input[type=text] {
    width: 224px;
    margin-left: 5px;
}

.arguments-wrapper-heading select {
    width: 160px;
}

.arguments-action-icon {
    top: 7px;
    right: 6px;
}

.arguments-action-icon-i {
    background-color: #818181;
}

.arguments-details-wrapper {
    padding: 0px;
    overflow-y: scroll;
    width: 100%;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    max-height: 450px;
}

.arguments-details-wrapper hr {
    margin-left: 8px;
    margin-right: 5px;
}

.arguments-detail-wrapper {
    overflow: hidden;
    padding: 4px 5px 3px 12px;
    cursor: pointer;
}

.arguments-detail-wrapper:hover {
    background-color: #f5f5f5;
}

.arguments-detail-wrapper:hover .arguments-detail-close-wrapper {
    display: block;
}

.arguments-detail-close-wrapper {
    float: right;
    font-size: 10px;
    padding-top: 3px;
    color: #999;
    display: none;
}

.arguments-detail-type-wrapper {
    float: left;
    width: 120px;
    font-weight: bold;
}

.arguments-detail-identifier-wrapper {
    float: left;
}

.arguments-detail-identifier-wrapper input {
    padding-left: 8px;
    padding-right: 8px;
    width: 280px;
    height: 22px;
}

.operations-argument-icon {
    color: #FFF;
    opacity: 1;
    background-color: #2b2b2b;
    width: 30px;
}

#modalAbout a {
    color: #337ab7;
}

#modalAbout .modal-dialog {
    width: 30%;
}

#modalSearch .modal-dialog {
    width: 60%;
}

#modalSearch input {
    color: black;
}

.modal-search-icon {
    position: absolute;
    right: 20px;
    top: 8px;
    color: #7b7b7b;
}

.search-results {
    overflow: auto;
    background-color: #2C2C2C;
    margin-top: 10px;
}

.search-results ul li {
    background-color: #2C2C2C;
    border: 0;
    cursor: pointer;
}

.search-results ul li:hover {
    background-color: #222;
    color: #ff7916;
}

.struct-title-text:hover {
    cursor: text;
}

.type-mapper-title-text:hover {
    cursor: text;
}

.type-struct-title-text:hover {
    cursor: text;
}

.canvas-title:hover {
    cursor: text;
}

.service-left-scroll {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #CCC;
    opacity: 0.3;
}

.service-left-scroll:hover {
    opacity: 0.5;
}

.service-left-scroll i {
    font-size: 45px;
    padding-left: 13px;
}

.service-right-scroll {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    background-color: #CCC;
    opacity: 0.3;
}

.service-right-scroll:hover {
    opacity: 0.5;
}

.service-right-scroll i {
    font-size: 45px;
    padding-left: 13px;
}

/** Service container related styles | -> End **/
/*//////////////////////////////////////////////////*/

#breadcrumb-container > .breadcrumb {
    text-transform: none;
    background: #131313;
}

#breadcrumb-container > ol > li.breadcrumb-item {
    color: grey;
    cursor: pointer;
}

#breadcrumb-container > ol > li.breadcrumb-item.active {
    color: white;
    cursor: pointer;
}

footer > .container p, footer > .container-fluid p {
    line-height: 0;
    font-size: 12px;
    margin: 0;
}

header .brand span {
    font-size: 15px;
    font-weight: 400;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.panel-body {
    padding: 0;
}

.panel-default {
    border: 0;
}

.sidebar-left {
    background: #333;
}

.modal-dialog.file-dialog {
    margin: 100px auto 0;
}

.delete-item-dialog .icon {
    float: left;
    margin-left: 25px;
    margin-top: 5px;
}

.delete-item-dialog .text {
    margin-left: 150px;
}

.tool-group-import-header > a.tool-group-header-title {
    color: #fff;
}

i.fw-lg.fw.fw-cancel.about-dialog-close {
    font-size: 12px;
}

i.fw.fw-cancel.about-dialog-close {
    font-size: 12px;
}

ul.list-group {
    margin-bottom: 0;
}

span.fw-stack.fw-lg {
    z-index: 10;
}

.import-img {
    height: 37px;
    width: 37px;
}

.constants-btn, .package-name-btn, .imports-btn {
    background: #333;
    width: 69px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    height: 28px;
    font-size: 12px;
    opacity: 1;
}

.import-declaration-type{
    float: left;
    background: orange;
    width: 3px;
    height: 21px;
    margin-right: 4px;
}
.import-package-name{
    float: left;
    margin-top: 3px;
    font-size: 12px;
}

.package-name-btn{
    float: left;
}

.constants-btn:hover, .package-name-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.package-add-icon-wrapper {
    float: left;
    border: 1px solid #ddd;
    background-color: #efefef;
    border-radius: 0 5px 5px 0;
    min-height: 28px;
    width: 26px;
    padding: 8px 3px 0 9px;
    font-size: 12px;
}

.left-tool-bar .nav-tabs li.active a{
    background: #333 !important;
    border-left: 3px solid #f17b31 !important;
}

.panel-default .panel-title {
    font-weight: 300;
    font-size: 14px;
}
.orange{ color: #f17b31;}