.workspace-explorer-container{
    width: 100%;
    color: #dedede;
    position: relative;
    padding: 0;
    overflow: auto;
    height: 100%;
}

.tree-highlight{
    background-color: #373737;
    position: absolute;
    width: 100%;
}

.open-folder-button{
    max-height: 35px;
    padding-top: 3px;
    position: relative;
    top: 25px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.folder-tree-header {
    color: #dedede;
    padding: 8px 15px 8px 15px;
}

.folder-tree-header > span{
    padding-left: 5px;
    vertical-align:middle;
}

.folder-tree-header > i.expand-icon{
    margin-right: 8px;
    font-size: 8px;
    vertical-align:middle;
}

.folder-tree-header > i.item-icon{
    vertical-align:middle;
}

.folder-tree-header:hover{
    color: white;
    cursor: pointer;
    background-color: #232323;
}

.workspace-explorer-container .jstree-default-small .jstree-anchor {
    height: 28px;
    padding-top: 5px;
}

.workspace-explorer-container .jstree-default-small .jstree-anchor.jstree-hovered {
    background-color: #232323;
    color: white;
    box-shadow:none;
    padding-top: 5px;
}

.workspace-explorer-container .jstree-default-small .jstree-anchor.jstree-clicked {
    background-color: #232323;
    color: white;
    box-shadow:none;
    padding-top: 5px;
}

.workspace-explorer-container .jstree-default-small > .jstree-no-dots .jstree-closed > .jstree-ocl {
    margin-top: 5px;
}


.workspace-explorer-container .jstree-default-small .jstree-wholerow{
    height: 28px;
}

.workspace-explorer-container .jstree-default .jstree-wholerow-clicked{
    background-color: #232323;
    background: linear-gradient(to bottom, #232323 0%, #232323 100%);
}

.workspace-explorer-container .jstree-default .jstree-wholerow-hovered{
    background-color: #232323;
}

.workspace-explorer-container .jstree-default-small > .jstree-container-ul > .jstree-node{
    margin-left: 25px;
}

.vakata-context li > a {
    display: block;
    padding: 0 40px 0 5px;
    text-decoration: none;
    width: auto;
    color: #fff;
    white-space: nowrap;
    text-shadow: none;
    border-radius: 0px;
}

.vakata-context-hover, li.vakata-context-hover > a, .vakata-context li > a:hover {
    background-color: #111;
    color: #f47b20;
    border: 0;
    box-shadow: none;
}

.vakata-context, .vakata-context ul {
    background: #111;
    border-width: 0;
    padding: 0;
    color: black;
    box-shadow: none;
}

.vakata-context li > a .vakata-contextmenu-sep{
    display: none;
}