
.tool-palette-container{
    border-right: 1px solid #c9c9c9;
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    background-color: #fff;
    height: calc(100%);
}

.tool-group{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.tool-group-header{
    cursor: pointer;
    padding: 5px 1px;
    background: #e4e4e4;
}

.tool-group-header-title{
    padding:5px;
    width: 100%;
    font-weight: 400;
}

.tool-group-header-title:hover{
    cursor: pointer;
    color: #757575;
}

.tool-group-header-collapse .tool-group-header-title:hover{
    color: #000;
}

.tool-group-header-collapse-icon{

}

.tool-group-body{
    overflow: hidden;
    padding:10px 9px;
}

.collapse-icon{
    float: right;
    padding-top: 3px;
    font-size: 10px;
    margin-right: 10px;
    color: #8d8d8d;
}

.tool-container {
    width: 39px;
    height: 39px;
    margin: 3px;
    float: left;
    cursor: pointer;
    border:1px solid #ccc;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
}

.tool-container-vertical {
    width: 100%;
    height: 25px;
    margin: 3px;
    cursor: pointer;
}

.tool-container-vertical-title {
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
}

.tool-container-vertical-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border:1px solid #ccc;
    padding: 3px;
    white-space: nowrap;
    text-align: center;
    float: left;
}

.tool-title {
    padding-top:0px;
    color: white;
    display : none;
    margin : auto;
}
.tool-validator{
    height: 40px;
    color: darkred;
    display:none;
}
.search-bar{
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    padding:10px;
    display: none;
}
.search-input{
    background-color: #f0f0f0;
    font-size: 12px;
    padding:5px;
    border: 1px solid #d9d9d9;
    width: 100%;
}
.searchIcon{
    position: absolute;
    right: 17px;
    top: 18px;
    color: #7b7b7b;
}

.tool-drag-container{
    position: relative;
}

.tool-disabled-icon{
    color: red;
}

.disabled-icon-container{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
}
.tool-container > .tool-image{
    max-width: 23px;
    max-height: 24px;
    display: block;
    margin: 4px 0 0 4px;
    opacity: 0.7;
}
.tool-container > .tool-image:hover {
    opacity: 1;
}

.tool-connector-action {
    margin-left: 17px;
}

.tool-group-import-header{
    cursor: pointer;
    padding: 5px 1px;
    background: #333;
    border-bottom: 1px solid #e4e4e4;
    display: none;
}
.tool-group-body > .ui-draggable-handle > .tool-container-vertical{
    margin-bottom: 5px;
}

.tool-group-body > .ui-draggable-handle > .tool-container-vertical > div{
    margin-bottom: 1px;
}

.tool-group-import-header a{
    font-weight: bold;
}

.tool-group-import-header span{
    float: right;
    font-size: 10px;
    margin-right: 5px;
    color: #fff;
    padding: 4px;
    border: 1px solid #777;
}

.tool-separator{
    width: 100%;
    padding-top: 7px;
    border-bottom: 1px solid #e4e4e4;
    clear: both;
    margin: 0 0 7px 0;
}
