/** contains css for file save dialog **/

.btn-file-dialog{
    background:#2C2C2C;
    color: #ffffff;
    text-transform: capitalize;
}

.btn-file-dialog:hover {
    background-color: #F57E30;
    border-color: #F57E30;
    color: #fff;
}

.file-dialog-form-control{
    width: 100%;
    background-color: #2C2C2C;
    border-style: none;
    height: 35px;
    padding-left: 10px;
    color: #fff;
}

.file-dialog-form-scrollable-block{
    padding: 20px 20px;
    overflow: auto;
    height:50%;
    width: 90%;
    background-color: #2C2C2C;
    margin-left: 30px;
}

.file-dialog-form-btn{
    float: right;
    margin-right: 43px;
}

.folder-dialog-form-btn{
    float: right;
    margin-right: 43px;
}

.close-file-confirm-dialog-btn{
    float: left;
}

.close-file-confirm-dialog{
    width: 500px;
}

.errors-container{
    margin: 50px 20px 20px 20px;
}

hr.style1 {
    border-top: 1px solid #2C2C2C;
    width: 92%;
    margin-left: 20px;
    padding: 5px;
}

.file-dialog{
    width: 745px;
}

.file-dialog-title{
    margin-bottom: 15px;
    margin-left: 20px
}

.file-dialog-label{
    margin-top: 8px;
    margin-left: 20px;
    font-weight: 300;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.file-dialog-form-control::-webkit-input-placeholder { /* Chrome */
    color: #ffffff;
    opacity: 0.4;
    font-style: italic;
}
.file-dialog-form-control:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    opacity: 0.4;
    font-style: italic;
}
.file-dialog-form-control::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    opacity: 0.4;
    font-style: italic;
}
hr.file-dialog-hr {
    border-top: 1px solid #2C2C2C;
    width: 100%;
}
.file-dialog-input-field{
    float: left;
    width: 82%;
}
.file-dialog-form-label{
    margin-top: 8px;
    font-weight: 300;
}
.close-confirm-dialog .file-dialog{
    width: 500px;
}
.replace-confirm-dialog .file-dialog{
    width: 500px;
    top: 50px;
}
