$header-bgcolor: #f5f5f5;
$header-brand-color: #000;

$footer-bgcolor: #d4d4d4;
$footer-color: #444;

$menubar-link-color: #444;
$menubar-link-hover-color: #fff;
$menubar-link-disabled-color: #afafaf;
$menubar-link-hover-bgcolor: #707276;
$menubar-file-dropdown-menu-bgcolor: #707276;
$menubar-file-dropdown-menu-link-hover-color: $menubar-file-dropdown-menu-bgcolor;
$menubar-file-dropdown-menu-link-hover-bgcolor: #d4d4d4;

$breadcrumb-bgcolor: #fcfcfc;
$breadcrumb-active-color: #000;

$left-toolbar-bgcolor: #e4e4e4;
$left-toolbar-link-color: #21252b;

$tab-header-bgcolor: #d4d4d4;
$tab-header-active-tab-bgcolor: #fff;
$tab-header-inactive-tab-bgcolor: #707276;
$tab-header-active-inverse-tab-bgcolor: #3c3c3c;

$bottom-right-controls-bgcolor: #707276;

$source-editor-color: #F8F8F8;
$source-editor-bgcolor: $tab-header-active-inverse-tab-bgcolor;
$source-editor-gutter-color: #E2E2E2;
$source-editor-gutter-bgcolor: #313131;

@import '../main.scss';