.add-resource-button {
    cursor: pointer;
}
.protocol-ws .add-resource-button{
    fill: #E65100;
}

.protocol-http .add-resource-button{
    fill: #3498db;
}

.add-resource-button-label{
    cursor: pointer;
    fill: #fff;
    dominant-baseline: central;
    cursor: pointer;
    font-size: medium;
}

.showResourceGroup {
    fill-opacity: 1;
    stroke-opacity:1;
}

.hideResourceGroup {
    fill-opacity: 0;
    stroke-opacity:0;
}

.hideResourceGroup image{
    display: none;
}

.add-resource-label{
    fill: #333;
    cursor: pointer;
}

.hideResourceGroup image{
    fill-opacity: 0;
    stroke-opacity: 0;
}