{{#if schemaType}}{{#if isOneOf}}{{#each schemaType}} {{{this}}}{{#unless @last}}|{{/unless}}{{/each}} {{#if schemaName}}{{{schemaName}}};{{/if}}{{/if}}{{^isOneOf}} {{{schemaType.[0]}}}{{#if isArray}}[]{{/if}} {{#if schemaName}}{{{schemaName}}};{{/if}}{{/isOneOf}}{{/if}}{{^schemaType}}{{#if schemaProperties}}record { {{#if isComposedSchema}}{{#if isAllOf}}{{#each composedSchemaTypes}}*{{{this}}};{{/each}}{{/if}}{{/if}}{{#each schemaProperties}}{{> inlineSchema this}}{{/each}} } {{/if}}{{/schemaType}}