{{#imports }}
    {{{.}}}
{{/imports}}

{{#moduleDclns }}
    {{{.}}}
{{/moduleDclns}}

function printerr(any|error value) { }
function println(any|error... values) { }
function recall_h(string name) returns any|error { }
function memorize_h(string name, any|error value) { }
function sprintf(string template, any|error... values) returns string { return ""; }

{{#varDclns}}
    {{^isNew }}
        {{#isAny }}
            {{{type}}} {{{name}}} = // value
            <{{{type}}}> checkpanic recall_h("x");
        {{/isAny}}
        {{^isAny }}
            {{{type}}} {{{name}}} = // value
            <{{{type}}}> recall_h("x");
        {{/isAny}}
    {{/isNew}}
{{/varDclns}}

public function main() returns error? {
    // Redefine to restrict user
    {{#varDclns}}
        {{^isNew }}
            {{#isAny }}
                {{{type}}} {{{name}}} = // value
                <{{{type}}}> checkpanic recall_h("x");
            {{/isAny}}
            {{^isAny }}
                {{{type}}} {{{name}}} = // value
                <{{{type}}}> recall_h("x");
            {{/isAny}}
        {{/isNew}}
    {{/varDclns}}

    {{{lastVarDcln}}}

    _ = java:JavaClassNotFoundError;
}
