.compound-statement .drop-zone.active {
    fill-opacity: 0.2;
}

.compound-statement .drop-zone.active.block {
    fill: red;
}

.compound-statement .drop-zone {
    fill: green;
    fill-opacity: 0;
}

.drop-zone.active .compound-statement .drop-zone {
    fill: #fff;
    fill-opacity: 1;
}
