.connector-activation-container .activation-zone.active {
    fill-opacity: 0.2;
}

.connector-activation-container .activation-zone.active.block {
    fill: red;
}

.connector-activation-container .activation-zone {
    fill: green;
    fill-opacity: 0;
}
