<div class="row cBallerina-io-top-row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cTopLineContainer">
        <div class="cTopLine"></div>
    </div>
</div>
<div class="row cBallerina-io-Nav" id="iMainNavigation">
</div>
<div class="clearfix"></div>