<div class="data-wrapper">
    {{#each fields}}    
    <div class="params-listing">
        <ul>
            <li> {{ name }}<span class="type">  {{{ typeName type }}}</span>
                {{#if defaultValue}}<span class="default"> (default {{ defaultValue }})</span>{{/if}}
            </li>
            <li>
                <p>{{{ description }}}</p>
            </li>
        </ul>
    </div>
    {{/each}}
</div>

{{> footer }}
