<div class="data-wrapper">
    {{#each fields}}    
    <div class="params-listing">
        <ul>
            <li> <span {{#if isDeprecated}}class="strike"{{/if}}>{{ name }}</span>
                <span class="type">  {{{ typeName type }}}</span>
                {{#if defaultValue}} {{{ defVal type defaultValue }}} {{/if}}
            </li>
            <li>
                <p>
                    {{#if isDeprecated}}
                        <span class="stab">Deprecated</span>
                    {{/if}}
                    {{{ description }}}
                </p>
            </li>
        </ul>
    </div>
    {{/each}}
</div>

{{> footer }}
