<table class="ui table param-table">
    <thead>
    <tr>
        <th width="20%">Field Name</th>
        <th width="20%">Data Type</th>
        <th width="15%">Default Value</th>
        <th width="35%">Description</th>
    </tr>
    </thead>
    <tbody>
        {{#each fields}}
        <tr>
            <td>{{ name }}</td>
            <td>{{ type.name }}</td>
            <td>{{ defaultValue }}</td>
            <td>{{{ description }}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>