{{#partial "sidebarName" }}
    Listeners
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.listeners}}
        <li {{#equals listener.name name}}class="active"{{/equals}}>
            <a href="{{name}}.html" onclick="menuLinkClick()">{{name}}</a>
        </li>
    {{/each}}
{{/partial}}

{{#partial "titleType" }}
    Listener
{{/partial}}
{{#partial "title" }}
    <span class="listeners">{{ listener.name }}</span>
{{/partial}}

{{#partial "content" }}
    <p>{{{ listener.description }}}</p>

    <div class="constants">
        <div class="method-sum">
        {{#if listener.initMethod}}
            {{#listener.initMethod}}
                {{> initMethod }}
            {{/listener.initMethod}}
        {{/if}}

        {{#if listener.otherMethods}}
            <h2>Methods</h2>
            <div class="method-list">
                {{#each listener.otherMethods}}
                    {{> methodSignature }}
                {{/each}}
            </div>
        {{/if}}

        {{#if listener.lifeCycleMethods}}
            <h2>LifeCycle Methods</h2>
            <div class="method-list">
                {{#each listener.lifeCycleMethods}}
                    {{> methodSignature }}
                {{/each}}
            </div>
        {{/if}}
        </div>

        {{#if listener.fields}}
            {{#listener}}
                <h2>Fields</h2>
                    {{> fields }}
            {{/listener}}
        {{/if}}

        {{#if listener.otherMethods }}
            <h2>Methods</h2>
            {{#each listener.otherMethods }}
                {{> method }}
            {{/each}}
        {{/if}}

        {{#if listener.lifeCycleMethods }}
            <h2>LifeCycle Methods</h2>
            {{#each listener.lifeCycleMethods }}
                {{> method }}
            {{/each}}
        {{/if}}
    </div>
{{/partial}}

{{> layout}}
