<a href="{{ rootPath }}index.html">
    <img class="logo" src="{{ rootPath }}html-template-resources/images/ballerina-logo.png">
</a>
<div class="org-name">{{ project.organization }}</div>
<div class="version">{{ project.version }}</div>
