
<div class="param-sum">
    <div class="param-name {{#if isDeprecated}}strike{{/if}}" title="{{name}}">
        <a href="#{{name}}">{{name}} </a>
    </div>
    <div class="param-details">
        {{#if isDeprecated}}
            <span class="stab">Deprecated</span>
        {{/if}}
        {{{ description }}}
    </div>
</div>
