{{#partial "sidebarName" }}
    Objects
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.objects}}
        <li {{#equals object.name name}}class="active"{{/equals}}>
            <a href="{{name}}.html" onclick="menuLinkClick()">{{name}}</a>
        </li>
    {{/each}}
{{/partial}}

{{#partial "titleType" }}
    Object
{{/partial}}
{{#partial "title" }}
    <span class="objects {{#if object.isDeprecated}}strike{{/if}}">{{ object.name }}</span>
{{/partial}}

{{#partial "content" }}
    <p>
        {{#if object.isDeprecated}}
            <span class="stab">Deprecated</span>
        {{/if}}
        {{{ object.description }}}
    </p>

    <div class="constants">
        <div class="method-sum">
            {{#if object.initMethod}}
                {{#object.initMethod}}
                {{> initMethod }}
                {{/object.initMethod}}
            {{/if}}

        
            {{#if object.otherMethods}}
                <h2>Methods</h2>
                <div class="method-list">
                    {{#each object.otherMethods}}
                        {{> methodSignature }}
                    {{/each}}
                </div>
            {{/if}}

            {{#if object.fields}}
                {{#object}}
                    <h2>Fields</h2>
                        {{> fields }}
                {{/object}}
            {{/if}}
        </div>

        {{#if object.otherMethods }}
            {{#each object.otherMethods }}
                {{> method }}
            {{/each}}
        {{/if}}
    </div>
{{/partial}}

{{> layout}}
