{{#partial "sidebarName" }}
    Records
{{/partial}}

{{#partial "sidebarLists" }}
    {{#each module.records}}
        <li {{#equals record.name name}}class="active"{{/equals}}>
            <a href="{{name}}.html" onclick="menuLinkClick()">{{name}}</a>
        </li>
    {{/each}}
{{/partial}}

{{#partial "titleType" }}
    Record
{{/partial}}
{{#partial "title" }}
    <span class="records {{#if record.isDeprecated}}strike{{/if}}">{{ record.name }}</span>
{{/partial}}

{{#partial "content" }}

    <p>
        {{#if record.isDeprecated}}
        <span class="stab">Deprecated</span>
        {{/if}}
        {{{ record.description }}}
    </p>
    {{#if record.isClosed}}
        <div class="ui horizontal label" data-tooltip="A record with a fixed set of fields" data-position="top left">Closed record</div>
    {{/if}}

    <div class="constants">
        {{#unless record.fields}}
            <p>This record doesn't contain any fields.</p>
        {{/unless}}
        {{#if record.fields}}
            {{#record}}
            <h2>Fields</h2>
            {{> fields }}
            {{/record}}
        {{/if}}
    </div>
{{/partial}}

{{> layout}}
