{{#modelPackage}}package {{modelPackage}};{{/modelPackage}}{{#schemas}}{{#value}}
{{#isArraySchema}}public struct {{key}} {}{{/isArraySchema}}{{^isArraySchema}}
public struct {{key}} { {{#properties}}
    {{#value}}{{type}}{{/value}} {{key}};{{/properties}}
}{{/isArraySchema}}{{/value}}{{/schemas}}