<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation - Module Constants " rootPath="../../" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column">
      <div class="navi-wrapper-content">
      <a href="../../index.html">
        <img class="logo" src="../../images/ballerina-logo.png">
      </a>
      {{> currentModule rootPath="../../" }}
      {{> allModules rootPath="../../" }}
      </div>
    </div>

    <div class="fourteen wide column content-wrapper">
      <div class="main-wrapper">
      <h1>Constants</h1>
      <div class="ui divider"></div>
      <div class="constants">
        <table class="ui table">
          {{#each constants}}
          <tbody>
            <tr id="{{name}}" >
              <td width="30%" class="constant"><a href="#{{name}}">{{name}}</a></td>
              <td width="70%">{{description}}</td>
            </tr>
          </tbody>
          {{/each}}
        </table>
        <div class="ui divider"></div>
        <div>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
