<!DOCTYPE html>
<html>

{{> htmlHead title="API Documentation" rootPath="" }}

<body>
  <div class="ui grid">
    <div class="navi-wrapper two wide column"> 
      <div class="navi-wrapper-content">
      <img class="logo" src="images/ballerina-logo.png">
      </div>
    </div>
    <div class="fourteen wide column content-wrapper">
      <div class="main-wrapper">
        <h1>Modules</h1>
        <div class="ui divider"></div>
        <div class="main-wrapper">
          <table class="ui table">
            {{#if modules}}
            <tbody>
            {{#each modules}}
              <tr>
                <td class="module-title modules"><a href="{{id}}/index.html">{{id}}</a></td>
                <td class="module-desc">{{description}}</td>
              </tr>
              {{/each}}
            </tbody>
            {{/if}}
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
