<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>API Documentation</title>
  <link rel="stylesheet" href="../../styles/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
  <div class="ui grid">
    <div class="sixteen wide column header-wrapper">
      <h1>ballerina/http</h1>
      <p>This module provides an implementation for connecting and interacting with HTTP, HTTP2, and WebSocket
        endpoints.</p>
    </div>
    <div class="navi-wrapper two wide column">
      <h3>ballerina/http</h3>
      <div class="ui search">
        <input class="prompt" type="text" placeholder="Seach Modules..">
        <div class="results"></div>
      </div>

      <div class="primary-list">
        <h4>Objects</h4>
        <ul>
          <li>AuthHandlerRegistry</li>
          <li>AuthnFilter</li>
          <li>AuthnHandlerChain </li>
          <li>AuthzFilter </li>
          <li>CircuitBreakerClient</li>
          <li>Filter </li>
          <li>FilterContext </li>
          <li>HttpAuthnHandler</li>
          <li>HttpAuthzHandler </li>
          <li>HttpBasicAuthnHandler</li>
          <li>HttpCache </li>
          <li>HttpFuture </li>
          <li>HttpJwtAuthnHandler </li>
          <li>Listener</li>
          <li>LoadBalancerRounRobinRule </li>
          <li>LoadBalancerRule</li>
          <li>MockListener </li>
          <li>PushPromise</li>
          <li>Request </li>
          <li>RequestCacheControl </li>
          <li>Response</li>
          <li>ResponseCacheControl</li>
          <li>WebSocketListener</li>
        </ul>
        <h4>http Module</h4>
        <ul>
          <li>Records</li>
          <li>Objects</li>
          <li>Endpoints</li>
          <li>Functions</li>
          <li>Type Definitions</li>
          <li>Constants</li>
          <li>Annotations</li>
          <li>Listener</li>
          <li>Errors</li>
        </ul>
        <div class="ui divider"></div>
        <ul>
          <li>Primitive types </li>
        </ul>
        <div class="ui divider"></div>

        <div class="secondary-list">
          <h4>http Module</h4>
          <ul>
            <li>ballerina/auth</li>
            <li>ballerina/bir</li>
            <li>ballerina/builtin</li>
            <li>ballerina/cache</li>
            <li>ballerina/config</li>
            <li>ballerina/crypto</li>
            <li>ballerina/encoding</li>
            <li>ballerina/file</li>
            <li>ballerina/grpc</li>
            <li>ballerina/h2</li>
            <li>ballerina/http</li>
            <li>ballerina/internal</li>
            <li>ballerina/io</li>
            <li>ballerina/jms</li>
            <li>ballerina/llvm</li>
            <li>ballerina/log</li>
            <li>ballerina/math</li>
            <li>ballerina/mime</li>
            <li>ballerina/mysql</li>
            <li>ballerina/observe</li>
            <li>ballerina/privacy</li>
            <li>ballerina/reflect</li>
            <li>ballerina/runtime</li>
            <li>ballerina/socket</li>
            <li>ballerina/sql</li>
            <li>ballerina/streams</li>
            <li>ballerina/swagger</li>
            <li>ballerina/system</li>
            <li>ballerina/task</li>
            <li>ballerina/test</li>
            <li>ballerina/time</li>
            <li>ballerina/transactions</li>
            <li>ballerina/websub</li>
          </ul>

        </div>

      </div>
    </div>
    <div class="eleven wide column content-wrapper">
      <div class="ui breadcrumb">
        <a href="../../index.html">
          <h2 class="section">Modules</h2>
        </a>
        <div class="divider"> / </div>
        <a href="../http/index.html">
          <h2 class="section">ballerina http</h2>
        </a>
        <div class="divider"> / </div>
        <h2 class="active section">Objects / AuthHandlerRegistry</h2>
      </div>
      <div class="ui divider"></div>
      <h3>public type <span class="objects">AuthHandlerRegistry</span> object</h3>
      <p>Representation of the Http Auth Handler Registry.</p>

      <div class="constants">
        <p>
          <b><a href="#add">add</a></b> (string id, http:HttpAuthnHandler authnHandler) </br>
          <b><a href="#get">get</a></b> (string id) returns (HttpAuthnHandler)</br>
          <b><a href="#getAll">getAll()</a></b> returns (map<HttpAuthnHandler>)</br>
            <b><a href="#remove">remove</a></b> (string id)</br>
            <b><a href="#clear">clear()</a></b>
        </p>
      </div>
      <div class="ui divider"></div>

      <div class="ui grid constants">
        <div class="sixteen wide column">
          <h3><a name="add">add</a>(string id, http:HttpAuthnHandler authnHandler)</h3>
          <p>Add an HttpAuthnHandler to HttpAuthHandlerRegistry</p>
        </div>
        <div class="two wide column module-title">Parameter Name</div>
        <div class="two wide column module-title">Data Type</div>
        <div class="two wide column module-title"> </div>
        <div class="nine wide column module-title">Auth provider id</div>

        <div class="two wide column">id</div>
        <div class="two wide column"> string</div>
        <div class="two wide column"> </div>
        <div class="nine wide column">Auth provider id </div>

        <div class="fourteen wide column ui divider"></div>

        <div class="six wide column module-title">Return Type</div>
        <div class="nine wide column module-title">Description</div>

        <div class="six wide column"> map</div>
        <div class="nine wide column"> map of HttpAuthnHandler </div>
        
        <div class="fourteen wide column ui divider"></div>
        <div class="sixteen wide column">

          <h3><a name="get">get</a>(string id) returns (HttpAuthnHandler)</h3>
          <p>Retrieves an HttpAuthnHandler from HttpAuthHandlerRegistry which corresponds to the given id</p>
        </div>
        
        <div class="six wide column module-title">Return Type</div>
        <div class="nine wide column module-title">Description</div>
        
        <div class="six wide column"> map</div>
        <div class="nine wide column"> map of HttpAuthnHandler </div>
        
        <div class="fourteen wide column ui divider"></div>
        
        <div class="sixteen wide column">
          <h3><a name="remove">remove</a>(string id)</h3>
          <p>Retrieve the HttpAuthnHandler map</p>
        </div>

        <div class="two wide column module-title">Parameter Name</div>
        <div class="two wide column module-title">Data Type</div>
        <div class="two wide column module-title"> </div>
        <div class="nine wide column module-title">Auth provider id</div>

        <div class="two wide column">id</div>
        <div class="two wide column"> string</div>
        <div class="two wide column"> </div>
        <div class="nine wide column"> </div>

        <div class="fourteen wide column ui divider"></div>


      <div class="sixteen wide column">
          <h3><a name="clear">clear()</a></h3>
          <p>Removes all authn handler from the HttpAuthnHandler map</p>
        </div>

        <div class="fourteen wide column ui divider"></div>

      </div>
  </div>
  </div>
</body>