.svg-container > .drop-zone.active {
    fill-opacity: 0.2;
}

.svg-container > .drop-zone.active.blocked {
    fill: red;
}

.svg-container > .drop-zone {
    fill: green;
    fill-opacity: 0;
}

.grid-background {
    min-height: 1000px;
}