.global-definition-item-hightlighted .background {
    fill: rgb(221, 221, 221);
}

.global-definition-item-hightlighted .delete-background {
    fill: rgb(200, 200, 200);
    cursor: pointer;
}

.global-definition-item-hightlighted .delete-x {
    fill: rgb(100, 100, 100);
    cursor: pointer;
}

.global-definition-text {
    cursor: default;
}
