.global-definitions-collection text {
    dominant-baseline: central;
}

.global-definitions-topbar-label {
    fill: #666;
    cursor: default;
}

.add-global-button {
    stroke: #333;
    stroke-width: 2;
    stroke-dasharray: 3,3;
}

.add-global-button-text {
    fill: #999;
}

.add-global-button {
    stroke: #999;
    stroke-width: 2;
    stroke-dasharray: 3,3;
}

.add-global-button-text {
    fill: #999;
}
