.package-definition-head text {
    dominant-baseline: central;
}

.import-badge {
    fill: #f39c12;
}

.package-definitions-collection rect {
    fill: #eee;
}

.add-import-button {
    stroke: #999;
    stroke-width: 2;
    stroke-dasharray: 3,3;
}

.add-import-button-text {
    fill: #999;
}
