.left-content {
    float: left;
    height: calc(100% - 100px);
}

.right-content {
    float: right;
    height: calc(100% - 100px);
}

.left-content, .right-content {
    width: 340px;
    padding: 30px 20px 20px 20px;
}

.transformOverlay .react-autosuggest__input {
    padding-left: 10px;
    height: 30px;
    width: 100%;
    background-color: #f3f3f3;
    border: 0;
}

.transformOverlay .react-autosuggest__container {
    width: 300px;
    float: left;
}

.transformOverlay .react-autosuggest__suggestion {
    padding-left: 10px;
    background: #eee;
}

.transformOverlay .react-autosuggest__suggestions-list {
    position: absolute;
    z-index: 100;
    margin: 0;
    list-style-type: none;
    border: 1px solid #e4e4e4;
    width: 270px;
}

.transformOverlay .btn-add-source {
    float: right;
    height: 30px;
    width: 30px;
    line-height: 30px;
    padding: 0;
    color: #bababb;
    background: #666769;
}

.transform-con-remove {
    font-size: 0.94em;
    color: #666769;
}
