<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ballerina-semantic-api-test-suite">
    <test name="semantic-api-test" parallel="false">
        <classes>
            <class name="io.ballerina.semantic.api.test.BindingPatternTest" />
            <class name="io.ballerina.semantic.api.test.DiagnosticsTest" />
            <class name="io.ballerina.semantic.api.test.DocumentationTest" />
            <class name="io.ballerina.semantic.api.test.ExpressionTypeTest" />
            <class name="io.ballerina.semantic.api.test.ExpressionTypeTestNew" />
            <class name="io.ballerina.semantic.api.test.FieldSymbolTest" />
            <class name="io.ballerina.semantic.api.test.LangLibFunctionTest" />
            <class name="io.ballerina.semantic.api.test.ReferenceTypeTest" />
            <class name="io.ballerina.semantic.api.test.ServiceSemanticAPITest" />
            <class name="io.ballerina.semantic.api.test.SymbolAtCursorTest" />
            <class name="io.ballerina.semantic.api.test.SymbolBIRTest" />
            <class name="io.ballerina.semantic.api.test.SymbolEquivalenceTest" />
            <class name="io.ballerina.semantic.api.test.SymbolFlagToQualifierMappingTest" />
            <class name="io.ballerina.semantic.api.test.SymbolLookupTest" />
            <class name="io.ballerina.semantic.api.test.SymbolOwnerTest" />
            <class name="io.ballerina.semantic.api.test.SymbolPositionTest" />
            <class name="io.ballerina.semantic.api.test.TestSourcesTest" />
            <class name="io.ballerina.semantic.api.test.TypeAssignabilityTest" />
            <class name="io.ballerina.semantic.api.test.TypedescriptorTest" />
            <class name="io.ballerina.semantic.api.test.VisitorAPITest" />
            <class name="io.ballerina.semantic.api.test.TypesTest" />
            <class name="io.ballerina.semantic.api.test.TypeBuildersTest" />
            <class name="io.ballerina.semantic.api.test.WorkspaceSymbolLookupTest" />

            <class name="io.ballerina.semantic.api.test.allreferences.AnnotationRefsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.CyclicUnionRefsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindModulePrefixRefsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsAcrossFilesTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInBindingPatternsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInClassObjectTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInConditionalStmtTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInDoStmtTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInErrorBindingPatternsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInErrorConstructorTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInExprsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInFailTrtryStmtTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInLambdasTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInMatchStmtTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInRecordTypeDefTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInRegCompoundStmtTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInResourceAccessActionTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInServiceDeclTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInTestsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInTransactionalStmtTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsInWorkersTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsOfEnumsTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.FindRefsWithinTargetDocumentTest" />
            <class name="io.ballerina.semantic.api.test.allreferences.XMLRefsTest" />

            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByAnnotationTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByClassTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByClientResourceAccessActionTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByConstantTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByEnumTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByFunctionTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByImportTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByObjectTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByRecordTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByServiceDeclTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByIsolatedServiceDeclTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByVarDeclTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByVarDeclNegativeTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByWorkerTest" />
            <class name="io.ballerina.semantic.api.test.symbolbynode.SymbolByXMLNSTest" />

            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByAccessExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByAnonFunctionTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByCallExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByConstructorExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByErrorHandlingExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByLiteralTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByMiscExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByReferenceTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByTemplateExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.deprecated.TypeByTypeExprTest" />

            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByAccessExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByAnonFunctionTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByCallExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByConstructorExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByErrorHandlingExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByLiteralTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByMiscExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByReferenceTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByTemplateExprTest" />
            <class name="io.ballerina.semantic.api.test.typebynode.newapi.TypeByTypeExprTest" />

            <class name="io.ballerina.semantic.api.test.typedescriptors.TypeNarrowedTypeDescriptorTest" />
            <class name="io.ballerina.semantic.api.test.typedescriptors.TypeReferenceTSymbolTest" />

            <class name="io.ballerina.semantic.api.test.incompletesource.InvalidFieldTypeTest" />

            <!--Expressions-->
            <class name="io.ballerina.semantic.api.test.expressions.QueryExpressionTest" />

            <!--Statements-->
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInMatchStmtTest" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInLocalVarDeclStatementsTest" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInAssignmentStatementsTest" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInCallStatementsTest" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInTransactionStatements" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInConditionalStatementsTest" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInRegularCompoundStatements" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInFailRetryStatements" />
            <class name="io.ballerina.semantic.api.test.statements.SymbolsInPanicStatements" />

            <!--Actions-->
            <class name="io.ballerina.semantic.api.test.actions.SymbolsInQueryActionsTest" />
            <class name="io.ballerina.semantic.api.test.actions.SymbolsInResourceAccessActionTest" />
            <class name="io.ballerina.semantic.api.test.actions.SymbolsInSendReceiveFlushActionsTest" />
            <class name="io.ballerina.semantic.api.test.actions.SymbolsInStartActionsTest" />
            <class name="io.ballerina.semantic.api.test.actions.SymbolsInTypeCastActionsTest" />
            <class name="io.ballerina.semantic.api.test.actions.SymbolsInWaitActionsTest" />

            <!--Symbols-->
            <class name="io.ballerina.semantic.api.test.symbols.AnnotationSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ClassSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ClientDeclSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ConstAnnotationAttachmentSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ConstDeclSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.EnumDeclSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.FunctionSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ErrorTypeSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.FunctionTypeSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ImportDeclSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ModuleSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ObjectTypeSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ParameterSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.RecordTypeSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.ServiceSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInAccessExprsTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInAnonFunctionsTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInBinaryExprsTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInMappingConstructorTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInObjectConstructorTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInOnFailClauseTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInQueryExprsTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsInXMLNavigationExprsTest" />
            <class name="io.ballerina.semantic.api.test.symbols.SymbolsWithinExprTest" />
            <class name="io.ballerina.semantic.api.test.symbols.TypeDefSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.TypeSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.UnionTypeSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.VarDeclSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.WorkerSymbolTest" />
            <class name="io.ballerina.semantic.api.test.symbols.XMLNamespaceDeclSymbolTest" />

            <!--Langlib-->
            <class name="io.ballerina.semantic.api.test.langlib.TypeParamBoundArrayFunctionsTest" />
            <class name="io.ballerina.semantic.api.test.langlib.TypeParamBoundMapFunctionsTest" />
            <class name="io.ballerina.semantic.api.test.langlib.TypeParamBoundStreamFunctionsTest" />
            <class name="io.ballerina.semantic.api.test.langlib.TypeParamBoundTableFunctionsTest" />
            <class name="io.ballerina.semantic.api.test.langlib.TypeParamBoundXMLFunctionsTest" />

            <!--Visible Symbols-->
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInClassesAndObjectsTest" />
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInCompoundStatementsTest" />
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInExpressionsTest" />
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInModuleLevelDeclsTest" />
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInQueryActionsTest" />
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInQueryExprsTest" />
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInStatementsTest" />
            <class name="io.ballerina.semantic.api.test.visiblesymbols.VisibleSymbolsInWorkersTest" />

            <!--Type Of-->
            <class name="io.ballerina.semantic.api.test.typeof.TypeOfInCallStatementsTest" />
            <class name="io.ballerina.semantic.api.test.typeof.TypeOfInResourceAccessActionTest" />
            <class name="io.ballerina.semantic.api.test.typeof.TypeOfNegativeTest" />
            <class name="io.ballerina.semantic.api.test.typeof.TypeOfQueryExprTest" />
            <class name="io.ballerina.semantic.api.test.typeof.TypeOfRegressionTest" />

        </classes>
    </test>
</suite>
