// Ballerina error type for {{exceptionName}}.

{{accessModifier}}const {{exceptionConstName}} = "{{shortExceptionName}}";

type {{shortExceptionName}}Data record {
    string message;
    error cause?;
};

{{accessModifier}}type {{shortExceptionName}} distinct error<{{shortExceptionName}}Data>;
