name: Ballerina build

on: [push, pull_request]

jobs:
  ubuntu-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '8.x'

    - name: Initialize sub-modules
      run: git submodule update --init

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Down grade npm version
      run: |
        npm install -g npm@'5.6.0'
        npm version

    - name: Cache Gradle packages
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle

    - name: Build with Gradle
      run: |
        export DISPLAY=':99.0'
        /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        ./gradlew build --scan

        find ~/.gradle/caches/ -name "*.lock" -type f -delete

  windows-build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '8.x'

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Initialize sub-modules
        run: git submodule update --init

      - name: Cache Gradle packages
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build with Gradle
        run: ./gradlew.bat build -x :ballerina-packerina:test -x :ballerina-lang:test -x :ballerina-file:test -x :jballerina-unit-test:test -x :jballerina-integration-test:test -x :plugin-vscode:test -x :ballerina-kafka:test -x :ballerina-mysql:test -x :jballerina-debugger-integration-test:test -x :ballerina-sql:test -x createJavadoc --stacktrace -scan --console=plain
