name: CI Windows

on:
  pull_request:
    branches:
      - testerina-migration
      - master
      - next-release
      - release-stage
      - stage
      - stage-swan-lake
      - ballerina-[0-9]+.[0-9]+.x
      - 2201.[0-9]+.x
      - 2201.[0-9]+.[0-9]+-stage
      - native-build
      - revert-client-decl-master
      - query-grouping-aggregation
      - natural-programming

jobs:
  windows_build:
    name: Build with some tests on Windows
    runs-on: windows-latest
    timeout-minutes: 240
    concurrency: 
       group: ${{ github.head_ref }}-windows
       cancel-in-progress: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.0.3'

      - name: configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.4
        with:
          minimum-size: 8GB
          maximum-size: 16GB
          disk-root: "C:"

      - name: Initialize sub-modules
        run: git submodule update --init

      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21.0.3'
          distribution: 'graalvm'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          set-java-home: 'false'

      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew.bat build --continue -x :ballerina-lang:test -x :jballerina-integration-test:test -x :jballerina-debugger-integration-test:test -x javadoc --stacktrace -scan --console=plain --no-daemon --no-parallel

