name: CI Windows

on:
  pull_request:
    branches:
      - master
      - next-release
      - release-stage
      - stage
      - ballerina-[0-9]+.[0-9]+.x
      - stage-slbeta2
      - 2.0.0-beta3-dev
      - jbal-semtype

jobs:
  windows_build:
    name: Build with some tests on Windows
    runs-on: windows-latest
    concurrency: 
       group: ${{ github.head_ref }}-windows
       cancel-in-progress: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt' 
          java-version: '11'

      - name: configure Pagefile
        uses: al-cheb/configure-pagefile-action@7e234852c937eea04d6ee627c599fb24a5bfffee
        with:
          minimum-size: 8GB
          maximum-size: 16GB
          disk-root: "D:"

      - name: Initialize sub-modules
        run: git submodule update --init

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build with Gradle
        run: ./gradlew.bat build --continue -x :ballerina-lang:test -x :jballerina-integration-test:test -x :ballerina-shell:shell-cli:test -x createJavadoc --stacktrace -scan --console=plain --no-daemon --no-parallel

