name: 'Close stale pull requests'

on:
  schedule:
    - cron: '30 19 * * *'
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v3
        with:
          stale-pr-message: 'This PR has been open for more than 15 days with no activity. This will be closed in 3 days unless the `stale` label is removed or commented.'
          close-pr-message: 'Closed PR due to inactivity for more than 18 days.'
          days-before-pr-stale: 15
          days-before-pr-close: 3
          days-before-issue-stale: -1
          days-before-issue-close: -1
