.lifeline-title {
    fill: #000000;
    text-anchor: middle;
    cursor: text;
}

.lifeline-line {
    stroke: #000000;
    stroke-width: 1px;
}

.outer-dashed {
    stroke-dasharray: 3, 2;
}

.lifeline-tool-line {
    stroke: #000000;
    stroke-width: 1px;
}

.lifeline-tool-rect {
    fill: #FFFFFF;
    fill-opacity: 1;
}

.tool > line {
    stroke-width: 1px;
}

.tool > rect {
    fill-opacity: 1;
}

.resource > line {
    stroke: #000000;
}

.headingRect {
    fill: #FFFFFF;
    stroke-width: 1;
    stroke: #000000;

}

.headingRectIcon {
    fill: url(#resourceIcon);
}
.resourceHeadingIconHolder{
    fill:#000000;
}

.headingCollapseIcon {
    fill: url(#toggleIcon);
}

.httpMethodRect {
    fill: #f3f3f3;
}

.httpMethodText {
    fill: #000000;
}

.resourcePathPrefix {
    stroke-width: 0.5;
    stroke: #000000;

}

.resource > rect {
    fill: #ffffff;
}

.worker > line {
    stroke: #000000;
}

.worker > rect {
    fill: #ffffff;
}

.resource-content {
    fill: #008000;
    fill-opacity: 0;
    stroke-width: 1;
    stroke: #000000;
}

.client rect {
    /*fill: #ffffff;*/
}

.client polygon {
    stroke: #000000;
    fill: #FFFFFF;
}

.client .lifeline-title {
    fill: #000000;
}

.client line {
    stroke: #000000;
}

.client text {
    fill: #000000;
}

.endpoint > line {
    stroke: #000000;
}

.endpoint > rect {
    fill: #ffffff;
}

.lifeline-polygon {
    fill: #ffffff;
}

.try-block-mediator-tool > rect {
    fill-opacity: 1;
    fill: #ffffff;
}

.try-block-mediator-tool > text {
    fill-opacity: 1;
    fill: #ffffff;
}

.switch-mediator-tool > rect {
    fill-opacity: 1;
    fill: #ffffff;
}

.switch-mediator-tool > text {
    fill-opacity: 1;
    fill: #ffffff;
}

.payload-factory-tool > rect {
    fill-opacity: 1;
    fill: #27ae60;
}

.payload-factory-tool > text {
    fill-opacity: 1;
    fill: #ffffff;
}

.log-mediator-tool > rect {
    fill-opacity: 1;
    fill: #2980b9;
}

.log-mediator-tool > text {
    fill-opacity: 1;
    fill: #ffffff;
}

.message {
    stroke: #000000;
    stroke-width: 1px;
}

.message:hover {
    cursor: pointer;
}

.lifeline {
}

.lifeline:hover {
    cursor: pointer;
}

.marker {
    fill: #000000;
}

.mediator-title {
    text-anchor: middle;
    alignment-baseline: central;
}

.input-output-text {
    font-size: 10px;
}

.source > polygon {
    fill: #FFFFFF;
    stroke-width: 1;
    stroke: #000000;
}

.action-rect{
    fill: #FFFFFF;
    stroke-width: 1;
    stroke: #333333;
}

.action-text{
text-anchor: start;
    fill:#333333;
}

.action-line{
    stroke: #9d9d9d;
}
.action-dash-line{
    stroke: #9d9d9d;
    stroke-dasharray: 5,5;

}
.action-arrow{
   stroke: #9d99d;
}

.property-pane-action-button-edit {
    opacity: 0.3;
    fill: url(#editIcon);
}

.property-pane-action-button-edit:hover {
    cursor: pointer;
    opacity: 1;
    fill: url(#editIcon);
}

.property-pane-action-button-disable {
    opacity: 0.3;
    fill: url(#disableIcon);
}

.property-pane-action-button-disable:hover {
    cursor: pointer;
    opacity: 1;
    fill: url(#disableIcon);
}

.property-pane-action-button-delete {
    opacity: 0.3;
    fill: url(#deleteIcon);
}

.property-pane-action-button-delete:hover {
    cursor: pointer;
    opacity: 1;
    fill: url(#deleteIcon);
}

.annotation-icon-background-circle {
    opacity: 0.4;
    cursor: pointer;
}

.variable-icon-background-circle {
    opacity: 0.4;
    cursor: pointer;
}

.variable-icon-background-circle:hover {
    opacity: 1;
    cursor: pointer;
}

.annotation-icon-background-circle:hover {
    opacity: 1;
    cursor: pointer;
}

.annotation-icon-rect {
    cursor: pointer;
    fill: url(#annotationIcon);
}

.variable-icon-rect {
    cursor: pointer;
    fill: url(#annotationIcon);
}

.if-else-svg-group{
    cursor: pointer;
}