.lifeline-title{
    fill: #000000;
    text-anchor:middle;
    cursor:text;
}

.lifeline-line{
    stroke: #000000;
    stroke-dasharray: 4,3;
    stroke-width: 2px;
}

.lifeline-tool-line{
    stroke: #000000;
    stroke-dasharray: 4,3;
    stroke-width: 2px;
}

.lifeline-tool-rect{
    fill: #4682B4;
    fill-opacity: 1;
}

.tool > line {
    stroke-dasharray: 4,3;
    stroke-width: 2px;
}
.tool > rect {
    fill-opacity: 1;
}

.resource > line {
    stroke: #000000;
}
.resource > rect {
    fill: #ffffff;
}

.source > rect {
    fill: #ffffff;
}

.source .lifeline-title{
    fill: #000000;
}

.endpoint > line {
    stroke: #000000;
}
.endpoint > rect {
    fill: #ffffff;
}

.lifeline-rect{
    fill: #4682B4;
}

.try-block-mediator-tool > rect{
    fill-opacity: 1;
    fill: #ffffff;
}

.try-block-mediator-tool > text{
    fill-opacity: 1;
    fill: #ffffff;
}

.switch-mediator-tool > rect{
    fill-opacity: 1;
    fill: #ffffff;
}

.switch-mediator-tool > text{
    fill-opacity: 1;
    fill: #ffffff;
}

.payload-factory-tool > rect{
    fill-opacity: 1;
    fill: #27ae60;
}

.payload-factory-tool > text{
    fill-opacity: 1;
    fill: #ffffff;
}

.log-mediator-tool > rect{
    fill-opacity: 1;
    fill: #2980b9;
}

.log-mediator-tool > text{
    fill-opacity: 1;
    fill: #ffffff;
}
.message{
    stroke: #000000;
    stroke-width: 2px;
    marker-end: url('#markerArrow');
}

.message:hover{
    cursor: pointer;
}

.lifeline{
}

.lifeline:hover{
    cursor: pointer;
}

.marker{
    fill: #000000;
}

.mediator-title {
    font-size: 10px;
    text-anchor:middle;
}

.input-output-text {
    font-size: 10px;
}