.debugger-container {
    color: #dedede;
}

.debugger-container .panel-heading a {
    color: #dadada;
}

/*TODO remove this when feature is done*/
.left-tool-bar .debugger-activate-btn, .left-tool-bar .debugger-activate-btn i{
    /*display: none;*/
}

.ace_gutter-cell{
    cursor: pointer;
}

.ace_gutter-cell.ace_breakpoint{
    background: rgba(255, 181, 163, 0.2);
    background-image: url(./images/debug-point.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 5px center;
}
.ace_gutter-cell.ace_breakpoint.ace_error{
  background: rgba(255, 181, 163, 0.2);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICB3aWR0aD0iMTQ1bW0iCiAgIGhlaWdodD0iMTQzbW0iCiAgIHZpZXdCb3g9IjAgMCA1MTMuNzc5MzQgNTA2LjY5MjYyIgogICBpZD0ic3ZnMiIKICAgdmVyc2lvbj0iMS4xIgogICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjkxIHIxMzcyNSIKICAgc29kaXBvZGk6ZG9jbmFtZT0iZGVidWctcG9pbnQuc3ZnIj4KICA8ZGVmcwogICAgIGlkPSJkZWZzNCIgLz4KICA8c29kaXBvZGk6bmFtZWR2aWV3CiAgICAgaWQ9ImJhc2UiCiAgICAgcGFnZWNvbG9yPSIjZmZmZmZmIgogICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IgogICAgIGJvcmRlcm9wYWNpdHk9IjEuMCIKICAgICBpbmtzY2FwZTpwYWdlb3BhY2l0eT0iMC4wIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6em9vbT0iMC41IgogICAgIGlua3NjYXBlOmN4PSItMTA0LjgxMTAyIgogICAgIGlua3NjYXBlOmN5PSI1MjAiCiAgICAgaW5rc2NhcGU6ZG9jdW1lbnQtdW5pdHM9InB4IgogICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9ImxheWVyMSIKICAgICBzaG93Z3JpZD0iZmFsc2UiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSIxOTIwIgogICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjEwNTYiCiAgICAgaW5rc2NhcGU6d2luZG93LXg9IjAiCiAgICAgaW5rc2NhcGU6d2luZG93LXk9IjI0IgogICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjEiIC8+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhNyI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGUgLz4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGcKICAgICBpbmtzY2FwZTpsYWJlbD0iTGF5ZXIgMSIKICAgICBpbmtzY2FwZTpncm91cG1vZGU9ImxheWVyIgogICAgIGlkPSJsYXllcjEiCiAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCwtNTQ1LjY2OTY2KSI+CiAgICA8ZWxsaXBzZQogICAgICAgc3R5bGU9Im9wYWNpdHk6MTtmaWxsOiNmZjU1NTU7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjkuMTYzOTk5NTY7c3Ryb2tlLWxpbmVjYXA6YnV0dDtzdHJva2UtbGluZWpvaW46bWl0ZXI7c3Ryb2tlLW1pdGVybGltaXQ6NDtzdHJva2UtZGFzaGFycmF5Om5vbmU7c3Ryb2tlLW9wYWNpdHk6MSIKICAgICAgIGlkPSJwYXRoNDEzNiIKICAgICAgIGN4PSItMjU3LjcxNDI5IgogICAgICAgY3k9IjgwMC42NDc4OSIKICAgICAgIHJ4PSIyNTAiCiAgICAgICByeT0iMjQ1LjcxNDI4IgogICAgICAgdHJhbnNmb3JtPSJzY2FsZSgtMSwxKSIgLz4KICA8L2c+Cjwvc3ZnPgo=), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAABOFBMVEX/////////QRswFAb/Ui4wFAYwFAYwFAaWGAfDRymzOSH/PxswFAb/SiUwFAYwFAbUPRvjQiDllog5HhHdRybsTi3/Tyv9Tir+Syj/UC3////XurebMBIwFAb/RSHbPx/gUzfdwL3kzMivKBAwFAbbvbnhPx66NhowFAYwFAaZJg8wFAaxKBDZurf/RB6mMxb/SCMwFAYwFAbxQB3+RB4wFAb/Qhy4Oh+4QifbNRcwFAYwFAYwFAb/QRzdNhgwFAYwFAbav7v/Uy7oaE68MBK5LxLewr/r2NXewLswFAaxJw4wFAbkPRy2PyYwFAaxKhLm1tMwFAazPiQwFAaUGAb/QBrfOx3bvrv/VC/maE4wFAbRPBq6MRO8Qynew8Dp2tjfwb0wFAbx6eju5+by6uns4uH9/f36+vr/GkHjAAAAYnRSTlMAGt+64rnWu/bo8eAA4InH3+DwoN7j4eLi4xP99Nfg4+b+/u9B/eDs1MD1mO7+4PHg2MXa347g7vDizMLN4eG+Pv7i5evs/v79yu7S3/DV7/498Yv24eH+4ufQ3Ozu/v7+y13sRqwAAADLSURBVHjaZc/XDsFgGIBhtDrshlitmk2IrbHFqL2pvXf/+78DPokj7+Fz9qpU/9UXJIlhmPaTaQ6QPaz0mm+5gwkgovcV6GZzd5JtCQwgsxoHOvJO15kleRLAnMgHFIESUEPmawB9ngmelTtipwwfASilxOLyiV5UVUyVAfbG0cCPHig+GBkzAENHS0AstVF6bacZIOzgLmxsHbt2OecNgJC83JERmePUYq8ARGkJx6XtFsdddBQgZE2nPR6CICZhawjA4Fb/chv+399kfR+MMMDGOQAAAABJRU5ErkJggg==");
  background-size: 9px 9px;
  background-repeat: no-repeat;
  background-position: 10px, 0px;
}

.debug-point {
    background: rgba(255, 181, 163, 0.2);
    position: absolute;
    width: 100% !important;
    left: 0 !important;
}

.debug-point-hit {
    background: rgba(0, 161, 255, 0.4);
    position: absolute;
    width: 100% !important;
    left: 0 !important;
}

.debug-connect-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-debug-action{
    margin:0px !important;
    background-color: #333;
    color: white;
    font-size: 13px;
}

.debugger-container .btn-debug-activate,
.launcher-container .btn-debug-activate
{
    height: 40px;
    text-align: left !important;
    background-color: #333;
    color: white;
}

.debugger-container .btn-debug-activate .launch-label,.debugger-container .btn-debug-activate .btn-config,
.launcher-container .btn-debug-activate .launch-label,.launcher-container .btn-debug-activate .btn-config
 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.debugger-container .btn-debug-activate .btn-config,
.launcher-container .btn-debug-activate .btn-config
 {
    padding: 5px;
    right: 5px;
    background-color: #333;
    color: white;
    width: 25px;
}

.btn-debug-action{
    width: 20% !important;
    padding:11px !important;
}

.debugger-container .jstree-default .jstree-clicked{
    background: #211919;
}

.sidebar-left .btn-debug-action:hover ,
    .sidebar-left  .btn-debug-activate:hover,
    .sidebar-left  .btn-debug-activate:active,
    .sidebar-left  .btn-debug-activate:focus{

        background: #232323;
        transition: all 250ms ease 0s;
        color: #fff;
}

.debug-error{
    color: #ff3333;
}

.statement-view-breakpoint-indicator{
    display:none;
}

.debug .has-error .input-group-addon{
    color:black !important;
}

table.debug-frames {
    margin-bottom: 0px !important;
    border-top: 0px !important;
}

.debug-frames td{
    color:white;
    border-top: none;
    border-bottom: 1px #232323 solid !important;
    border-top: 0 !important;
}

.debug-frames td a{
    color:white;
}

.debug-panel-header{
    padding: 8px;
    color: #FFF !important;
    font-weight: bold;
}

.debug-panel-header a{
    padding:5px;
    color: #FFF;
    font-weight: bold;
}

.debug-variables-container{
    color: white;
}

#debug-v-tree ul li{
    color: white;
}

.statement-rect.debug-hit{
    fill: #b2d4ff;
}

#console-container {
    color: #FFF !important;
    background: #131313 !important;

}

.launcher-container .btn-group button{
    background-color: #333;
    color: white;
    width: 100%;
    padding-left: 30px;
    font-weight: 300;
}

#console{
    height: calc(100% - 25px );
    padding: 5px 10px !important;
    overflow: auto;
    font-family: "Lucida Console", Monaco, monospace;
}

#console .INFO { color: #03a9f4 !important; }
#console .ERROR { color: #f44336 !important; }

.console-header{
    font-weight: bolder !important;
    background: #232323 !important;
    padding: 5px 10px !important;
    height: 25px;
}

.closeConsole{
    color: #AAA;
    font-size: 12px;
    margin-top: 5px;
    margin-left:10px;
}
.btn-debug-activate {
    padding-left: 30px;
}

div > .col-xs-12 {
    padding:0;
    margin: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
    padding-left: 30px;
    font-weight: 300;
}

#frameAccordion{
    border-bottom: 1px solid #232323;
}

#frameAccordion .panel-heading {
    border-top: 1px solid #232323;
    padding: 0px;
}

#frameAccordion .panel-heading a.in {
    background:#232323;
}

#frameAccordion .panel-heading:hover a{
    background:#232323;
    border:0;
}

#frameAccordion .panel-heading a{
    padding:5px 12px;
    color:#fff;
    background:#333;
    display:block;
    margin:0;
    padding-bottom:2px;
    font-size: 17px;

}

#frameAccordion .debug-frame-pkg-name{
    display: block;
    color:#00bbea;
    font-size: 0.75em;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: bold;
}

#frameAccordion .panel-body{
    border-top:0px;
}

#frameAccordion .jstree-default .jstree-last{
    background: #333 !important;
}

#frameAccordion .panel{
    margin:0px;
}

#frameAccordion .panel-body{
    margin-bottom: 10px;
    padding-left:5px;
}

#frameAccordion .panel-title{
    border: 0px;
}

.debug-frame-header {
    height:36px;
}

#modalRunApplicationWithArgs button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
}

#form-run-application-with-args{

}
